In [1]:
import pandas as pd
import numpy as np
from sklearn.utils import resample
import math

In [2]:
pd.set_option('display.max_columns',None)

In [3]:
d_labitems = pd.read_csv('data/mimic-iv-0.4/hosp/d_labitems.csv.gz', compression='gzip')

In [4]:
admissions_sample = pd.read_pickle("data/admissions_sample.pkl")

In [5]:
admissions_sample

,subject_id,hadm_id,pos,ethnicity,ed_length,insurance,gender,age,pneumoia,diabetes,hypertension,atherosclero,renal_failure,arrhythmia
0,17524454,29928286,1,WHITE,5.700000,Other,F,60,0.0,0.0,1.0,1.0,0.0,0.0
1,10442099,25139730,1,WHITE,7.266667,Medicare,M,80,0.0,0.0,0.0,0.0,0.0,0.0
2,13761282,27810854,1,WHITE,0.000000,Other,M,85,0.0,0.0,1.0,1.0,0.0,0.0
3,17652927,28773358,1,HISPANIC/LATINO,0.000000,Other,M,46,0.0,0.0,0.0,0.0,0.0,0.0
4,10156119,23624254,1,BLACK/AFRICAN AMERICAN,4.950000,Other,F,60,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11512,17003155,26258895,0,WHITE,0.000000,Medicaid,M,62,0.0,0.0,0.0,0.0,0.0,0.0
11513,10577016,20928057,0,WHITE,16.016667,Medicaid,F,64,0.0,0.0,0.0,0.0,0.0,0.0
11514,17305471,26895604,0,WHITE,0.000000,Medicare,F,71,0.0,0.0,0.0,0.0,0.0,0.0
11515,16280277,23740212,0,WHITE,21.133333,Medicaid,F,23,0.0,0.0,0.0,0.0,0.0,0.0
11516,14778620,21420124,0,BLACK/AFRICAN AMERICAN,0.000000,Other,M,60,0.0,0.0,0.0,0.0,0.0,0.0

## Pull Chart and Lab data only where it matches our sample patient list

In [497]:
# # We have Decided not to use Chart data after exploring it further
# # However, it still comes up in our discussions, so keeping this for now
# # Will need to update this code based on other updates we've made

# %%time #run this for next time

# chunksize = 3*(10 ** 6)
# counter=0
# chartevents_sample = []
# for chunk in pd.read_csv('data/mimic-iv-0.4/icu/chartevents.csv.gz', compression='gzip', chunksize=chunksize):
#     chartevents_sample.append(chunk[chunk['subject_id'].isin(list(admissions_sample.subject_id))])
#     counter+=1
#     print(f'chunk {counter} processed')

# chartevents_final = pd.concat(chartevents_sample)

In [498]:
# chartevents_final.to_pickle("./data/chartevents_final.pkl")

In [499]:
# chartevents_final = pd.read_pickle("./data/chartevents_final.pkl")

In [500]:
# chartevents_final.shape

Load Lab Events table

In [6]:
# %%time

# chunksize = 3*(10 ** 6)
# counter=0
# lab_events_sample = []
# for chunk in pd.read_csv('data/mimic-iv-0.4/hosp/labevents.csv.gz', compression='gzip', chunksize=chunksize):
#     lab_events_sample.append(chunk[chunk['subject_id'].isin(list(admissions_sample.subject_id))])
#     counter+=1
#     print(f'chunk {counter} processed')

# lab_events_final = pd.concat(lab_events_sample)
# # 5k patients
# # 3min 52s

# # 10k patients
# # 4min 6s

# # 15k patients
# # 4min 27s

chunk 1 processed
chunk 2 processed
chunk 3 processed

<string>:2: DtypeWarning: Columns (7,9,12) have mixed types.Specify dtype option on import or set low_memory=False.

chunk 4 processed
chunk 5 processed
chunk 6 processed
chunk 7 processed
chunk 8 processed
chunk 9 processed

<string>:2: DtypeWarning: Columns (9,12) have mixed types.Specify dtype option on import or set low_memory=False.

chunk 10 processed

<string>:2: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.

chunk 11 processed
chunk 12 processed
chunk 13 processed
chunk 14 processed
chunk 15 processed

<string>:2: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.

chunk 16 processed
chunk 17 processed
chunk 18 processed
chunk 19 processed
chunk 20 processed
chunk 21 processed
chunk 22 processed
chunk 23 processed

<string>:2: DtypeWarning: Columns (7,9) have mixed types.Specify dtype option on import or set low_memory=False.

chunk 24 processed
chunk 25 processed
chunk 26 processed
chunk 27 processed
chunk 28 processed
chunk 29 processed
chunk 30 processed
chunk 31 processed
chunk 32 processed
chunk 33 processed
chunk 34 processed
chunk 35 processed
chunk 36 processed
chunk 37 processed
chunk 38 processed
chunk 39 processed
chunk 40 processed
chunk 41 processed
CPU times: user 4min 3s, sys: 19.1 s, total: 4min 22s
Wall time: 4min 23s

In [7]:
# lab_events_final.to_pickle("./data/lab_events_final.pkl")

In [503]:
lab_events_final = pd.read_pickle("data/lab_events_final.pkl")

In [8]:
lab_events_final.shape

(6670203, 15)

## Manipulating the Data

Take only records related to our sample patients

Filter lab events based on first hospital visit of our sample population

In [9]:
# Can we do this filtering when generating lab data?
# For now let's not as we're discussing using different hospitalizations from the same subjects

%time lab_events_sampled = lab_events_final[lab_events_final['hadm_id'].isin(list(admissions_sample.hadm_id))]

CPU times: user 1.8 s, sys: 658 ms, total: 2.45 s
Wall time: 2.46 s

Check how many patients have had each test done

In [10]:
lab_events_sampled.groupby('itemid')['subject_id'].nunique().sort_values(ascending = False).head(10)

itemid
51221    8368
51265    8198
51222    8153
51301    8148
51249    8137
51248    8137
51279    8137
51250    8137
51277    8137
50912    7897
Name: subject_id, dtype: int64

Most common tests performed on patients with pos diagnosis

In [11]:
lab_events_sampled[lab_events_sampled['subject_id'].isin(list(admissions_sample[admissions_sample['pos'] == 1].subject_id))].groupby('itemid')['subject_id'].nunique().sort_values(ascending = False).head(10)

itemid
50971    1274
50983    1272
50912    1272
51006    1271
50902    1269
51221    1268
51265    1265
50868    1258
50882    1258
51301    1253
Name: subject_id, dtype: int64

Item Black List

In [12]:
item_black_list = []
# # 50920 - test results are text in comments - need to come back and figure out how to handle this

Bonus Items To Add

In [13]:
# These test, although they have much missingness, are known to be good indicators of congestive heart failure

item_bonus_list = [51274, 51003, 50920, 50911, 51464]
# 51274 PT
# 50920 Estimated GFR (MDRD equation)
# 51003 Troponin T
# 50911 Creatine Kinase, MB Isoenzyme
# 51464 Specific Gravity

Take only the X most commonly performed tests

In [14]:
top_test_num = 20

lab_events_valid = lab_events_sampled[~lab_events_sampled['itemid'].isin(item_black_list)]

# On patients with pos diagnosis
itemid_sub_sample = lab_events_valid[lab_events_valid['subject_id'].isin(list(admissions_sample[admissions_sample['pos'] == 1].subject_id))].groupby('itemid')['subject_id'].nunique().sort_values(ascending = False).head(top_test_num).reset_index().rename(columns = {'index' : 'itemid'}).itemid.to_list()
# On all sample patients
# itemid_sub_sample = lab_events_sampled.groupby('itemid')['subject_id'].nunique().sort_values(ascending = False).head(top_test_num).reset_index().rename(columns = {'index' : 'itemid'}).itemid.to_list()

itemid_sub_sample = itemid_sub_sample + item_bonus_list

lab_events_sampled_sub = lab_events_sampled[lab_events_sampled['itemid'].isin(itemid_sub_sample)]

In [15]:
# # lab_events_valid['subject_id'].isin(list(admissions_sample[admissions_sample['pos'] == 1].subject_id))

# top_labs = lab_events_sampled.groupby(['itemid']).agg(freq=('subject_id', lambda x: len(np.unique(x))))\
# .reset_index().sort_values('freq', ascending=False).head(60)

# top_labs

In [16]:
# subset_labs['subject_id'].reset_index(drop=True).plot(kind='line')

In [17]:
# print(lab_events_valid[lab_events_valid['subject_id'].isin(list(admissions_sample[admissions_sample['pos'] == 1].subject_id))].groupby('itemid')['subject_id'].nunique().sort_values(ascending = False).head(20).reset_index().rename(columns = {'index' : 'itemid'}))

# # print(1191 / admissions_sample[admissions_sample['pos'] == 1].subject_id.nunique())
# # print(1192 / admissions_sample[admissions_sample['pos'] == 1].subject_id.nunique())

In [18]:
# print(lab_events_valid[lab_events_valid['subject_id'].isin(list(admissions_sample[admissions_sample['pos'] == 0].subject_id))].groupby('itemid')['subject_id'].nunique().sort_values(ascending = False).head(20).reset_index().rename(columns = {'index' : 'itemid'}))

# # print(6726 / admissions_sample[admissions_sample['pos'] == 0].subject_id.nunique())
# # print(6793 / admissions_sample[admissions_sample['pos'] == 0].subject_id.nunique())

In [19]:
# subset_labs['subject_id'].reset_index(drop=True).plot(kind='line')

## Data Cleaning

Make a separate table where we run some of the forest models on the Text data?

Special updates for Urine sample tests

In [26]:
# Other invalid value imputation
# For now set them all to normal/most common value
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51237) & (lab_events_sampled_sub['value'].isin([np.nan, 'ERROR', 'UNABLE TO REPORT'])), ['value', 'valuenum']] = 1.1
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51237) & (lab_events_sampled_sub['value'].isin(['>21.8'])), ['value', 'valuenum']] = 22
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51237) & (lab_events_sampled_sub['value'].isin(['>19.2'])), ['value', 'valuenum']] = 20

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51275) &  (lab_events_sampled_sub['value'].isin(['>150', '>150.0'])), ['value', 'valuenum']] = 175

# Should we just delete these?
# For 5k patients there are 6 records here
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51274) &  (lab_events_sampled_sub['value'].isin(['ERROR'])), ['value', 'valuenum']] = 11
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51274) &  (lab_events_sampled_sub['value'].isin(['UNABLE TO REPORT'])), ['value', 'valuenum']] = np.nan

# Should we just delete these?
# For 5k patients there are 1 records here
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51275) &  (lab_events_sampled_sub['value'].isin(['UNABLE TO REPORT'])), ['value', 'valuenum']] = 31

# Clumsy..
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51275) &  (lab_events_sampled_sub['value'].isin(['34..3'])), ['value', 'valuenum']] = 34.3

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

More Data Cleaning

In [27]:
%%time

# Can probably make a helper function combining some of the below mapping

# 51466
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51466) & (lab_events_sampled_sub['value'].isin([np.nan])), ['value']] = lab_events_sampled_sub['comments']
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51466) & (lab_events_sampled_sub['value'].isin(['NEG.  ', 'NEG', ' '])), ['value', 'valuenum']] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51466) & (lab_events_sampled_sub['value'].isin(['TR', 'TR.  ', 'TR*.  '])), ['value', 'valuenum']] = 1
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51466) & (lab_events_sampled_sub['value'].isin(['SM', 'SM .  ', 'SM*.  '])), ['value', 'valuenum']] = 2
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51466) & (lab_events_sampled_sub['value'].isin(['MOD', 'MOD.  ', 'MOD*.  '])), ['value', 'valuenum']] = 3
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51466) & (lab_events_sampled_sub['value'].isin(['LG', 'LG.  ', 'LG*.  ', 'LGE', 'LRG'])), ['value', 'valuenum']] = 4

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51466) & (lab_events_sampled_sub['ref_range_lower'].isnull()), 'ref_range_lower'] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51466) & (lab_events_sampled_sub['ref_range_upper'].isnull()), 'ref_range_upper'] = 0

# 51514
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51514) & (lab_events_sampled_sub['value'].isin([np.nan])), ['value']] = lab_events_sampled_sub['comments']
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51514) & (lab_events_sampled_sub['value'].isin(['NEG.  ', 'NEG', 'NORMAL.  ', ' '])), ['value', 'valuenum']] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51514) & (lab_events_sampled_sub['value'].isin(['>8'])), ['value', 'valuenum']] = 10
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51514) & (lab_events_sampled_sub['value'].isin(['>12.  ', '>12*.  '])), ['value', 'valuenum']] = 15

# 51464
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51464) & (lab_events_sampled_sub['value'].isin([np.nan])), ['value']] = lab_events_sampled_sub['comments']
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51464) & (lab_events_sampled_sub['value'].isin(['NEG.  ', 'NEG', ' '])), ['value', 'valuenum']] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51464) & (lab_events_sampled_sub['value'].isin(['SM', 'SM .  ', 'SM*.  '])), ['value', 'valuenum']] = 1
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51464) & (lab_events_sampled_sub['value'].isin(['MOD', 'MOD.  ', 'MOD*.  '])), ['value', 'valuenum']] = 2
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51464) & (lab_events_sampled_sub['value'].isin(['LG', 'LG.  ', 'LG*.  ', 'LGE'])), ['value', 'valuenum']] = 3

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51464) & (lab_events_sampled_sub['ref_range_lower'].isnull()), 'ref_range_lower'] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51464) & (lab_events_sampled_sub['ref_range_upper'].isnull()), 'ref_range_upper'] = 0

# 51487
# Should Pos be marked abnormal?
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51487) & (lab_events_sampled_sub['value'].isin([np.nan])), ['value']] = lab_events_sampled_sub['comments']
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51487) & (lab_events_sampled_sub['value'].isin(['NEG.  ', 'NEG', ' '])), ['value', 'valuenum']] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51487) & (lab_events_sampled_sub['value'].isin(['POS.  ', 'POS', 'POS*.  '])), ['value', 'valuenum']] = 1

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51487) & (lab_events_sampled_sub['ref_range_lower'].isnull()), 'ref_range_lower'] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51487) & (lab_events_sampled_sub['ref_range_upper'].isnull()), 'ref_range_upper'] = 0

# 51492
# Should Pos be marked abnormal?
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51492) & (lab_events_sampled_sub['value'].isin([np.nan])), ['value']] = lab_events_sampled_sub['comments']
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51492) & (lab_events_sampled_sub['value'].isin(['___'])), ['value', 'valuenum']] = np.nan
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51492) & (lab_events_sampled_sub['value'].isin(['NEG.  ', 'NEG', ' '])), ['value', 'valuenum']] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51492) & (lab_events_sampled_sub['value'].isin(['TR', 'TR.  ', 'TR*.  '])), ['value', 'valuenum']] = 10
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51492) & (lab_events_sampled_sub['value'].str.contains('TR.')), ['value', 'valuenum']] = 10
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51492) & (lab_events_sampled_sub['value'].isin(['>300'])), ['value', 'valuenum']] = 350
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51492) & (lab_events_sampled_sub['value'].isin(['>600.  ', '>600*.  '])), ['value', 'valuenum']] = 700

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51492) & (lab_events_sampled_sub['ref_range_lower'].isnull()), 'ref_range_lower'] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51492) & (lab_events_sampled_sub['ref_range_upper'].isnull()), 'ref_range_upper'] = 0

# 51486
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51486) & (lab_events_sampled_sub['value'].isin([np.nan])), ['value']] = lab_events_sampled_sub['comments']
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51486) & (lab_events_sampled_sub['value'].isin(['NEG.  ', 'NEG', ' ', 'N'])), ['value', 'valuenum']] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51486) & (lab_events_sampled_sub['value'].isin(['TR', 'TR.  ', 'TR*.  '])), ['value', 'valuenum']] = 1
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51486) & (lab_events_sampled_sub['value'].isin(['SM', 'SM .  ', 'SM*.  '])), ['value', 'valuenum']] = 2
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51486) & (lab_events_sampled_sub['value'].isin(['MOD', 'MOD.  ', 'MOD*.  '])), ['value', 'valuenum']] = 3
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51486) & (lab_events_sampled_sub['value'].isin(['LG', 'LG.  ', 'LG*.  ', 'LGE'])), ['value', 'valuenum']] = 4

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51486) & (lab_events_sampled_sub['ref_range_lower'].isnull()), 'ref_range_lower'] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51486) & (lab_events_sampled_sub['ref_range_upper'].isnull()), 'ref_range_upper'] = 0

# 51506
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51506) & (lab_events_sampled_sub['value'].isin([np.nan])), ['value']] = lab_events_sampled_sub['comments']
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51506) & (lab_events_sampled_sub['value'].isin(['Clear.  ', 'CLEAR.  ', 'Clear', ' ', 'CLEAR'])), ['value', 'valuenum']] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51506) & (lab_events_sampled_sub['value'].isin(['SlHazy'])), ['value', 'valuenum']] = 0.5
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51506) & (lab_events_sampled_sub['value'].isin(['Hazy.  ', 'Hazy*.  ', 'Hazy', 'HAZY', 'HAZY*.  ', 'Slcldy', 'SLCLOUDY'])), ['value', 'valuenum']] = 1
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51506) & (lab_events_sampled_sub['value'].isin(['Cloudy*.  ', 'Cloudy.  ', 'Cloudy', 'CLO', 'CLOUDY', 'CLOU', 'CLOUDY*.  '])), ['value', 'valuenum']] = 2

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51506) & (lab_events_sampled_sub['ref_range_lower'].isnull()), 'ref_range_lower'] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51506) & (lab_events_sampled_sub['ref_range_upper'].isnull()), 'ref_range_upper'] = 0

CPU times: user 4.4 s, sys: 101 ms, total: 4.5 s
Wall time: 4.52 s

Additional Data Cleaning

In [28]:
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51484) & (lab_events_sampled_sub['value'].isin([np.nan, ' ', 'TR', 'NEG'])), ['value', 'valuenum']] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51478) & (lab_events_sampled_sub['value'].isin([np.nan, ' ', 'TR', 'NEG'])), ['value', 'valuenum']] = 0

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51484) & (lab_events_sampled_sub['ref_range_lower'].isnull()), 'ref_range_lower'] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51478) & (lab_events_sampled_sub['ref_range_lower'].isnull()), 'ref_range_lower'] = 0

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51484) & (lab_events_sampled_sub['ref_range_upper'].isnull()), 'ref_range_upper'] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51478) & (lab_events_sampled_sub['ref_range_upper'].isnull()), 'ref_range_upper'] = 0

# What are good replacement values for these?
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51484) & (lab_events_sampled_sub['value'].isin(['>80'])), ['value', 'valuenum']] = 120
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51478) & (lab_events_sampled_sub['value'].isin(['>1000'])), ['value', 'valuenum']] = 1250

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51498) & (lab_events_sampled_sub['value'].isin(['<1.005'])), ['value', 'valuenum']] = 1.000
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51498) & (lab_events_sampled_sub['value'].isin(['<=1.005'])), ['value', 'valuenum']] = 1.000
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51498) & (lab_events_sampled_sub['value'].isin(['>1.030', '.1.030'])), ['value', 'valuenum']] = 1.035
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51498) & (lab_events_sampled_sub['value'].isin(['>1.035'])), ['value', 'valuenum']] = 1.040
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51498) & (lab_events_sampled_sub['value'].isin(['>1.050'])), ['value', 'valuenum']] = 1.055
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51498) & (lab_events_sampled_sub['comments'].isin(['>1.050*.'])), ['value', 'valuenum']] = 1.055
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51498) & (lab_events_sampled_sub['value'].isin(['>=1.035'])), ['value', 'valuenum']] = 1.040
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51498) & (lab_events_sampled_sub['value'].isin([' '])), ['value', 'valuenum']] = 1.015

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51237) & (lab_events_sampled_sub['value'].isin(['>13.4'])), ['value', 'valuenum']] = 15

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51491) & (lab_events_sampled_sub['value'].isin([' '])), ['value', 'valuenum']] = 6.0

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51498) & (lab_events_sampled_sub['value'].isin(['>1.070'])), ['value', 'valuenum']] = 1.080

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51275) & (lab_events_sampled_sub['value'].isin(['ERROR'])), ['value', 'valuenum']] = np.nan

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51484) & (lab_events_sampled_sub['value'].astype(float) > 0), 'flag'] = 'abnormal'
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51478) & (lab_events_sampled_sub['value'].astype(float) > 0), 'flag'] = 'abnormal'

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51466) & (lab_events_sampled_sub['value'].astype(float) > 0), 'flag'] = 'abnormal'

In [29]:
# Check on differences between value and valuenum columns

lab_events_sampled_sub.loc[((lab_events_sampled_sub['value'].astype(str) + str('.0')) != lab_events_sampled_sub['valuenum'].astype(str)) 
                           & ((lab_events_sampled_sub['value'].astype(str) + str('0')) != lab_events_sampled_sub['valuenum'].astype(str)) 
                           & ((lab_events_sampled_sub['value'].astype(str)) != lab_events_sampled_sub['valuenum'].astype(str)) 
                           & ((lab_events_sampled_sub['value'].astype(str)) != lab_events_sampled_sub['valuenum'].astype(str) + str('0')) 
                           & ((str('0') + lab_events_sampled_sub['value'].astype(str)) != lab_events_sampled_sub['valuenum'].astype(str))
                           & ((lab_events_sampled_sub['value'].astype(str)) != round(lab_events_sampled_sub['valuenum'], 10).astype(str)), ]

Empty DataFrame
Columns: [labevent_id, subject_id, hadm_id, specimen_id, itemid, charttime, storetime, value, valuenum, valueuom, ref_range_lower, ref_range_upper, flag, priority, comments]
Index: []

## Code to look into specific test values for cleaning

In [30]:
# lab_events_sampled_sub[lab_events_sampled_sub['value'] == 'UNABLE TO REPORT']

In [31]:
# # Used to investigate bad data
# pd.set_option('display.max_colwidth', -1)
# pd.set_option('display.max_rows', 200)

# bad_id = 51274

# # lab_events_sampled_sub[lab_events_sampled_sub['itemid'] == bad_id].value.value_counts().reset_index().sort_values(by = 'index')
# # lab_events_sampled_sub[lab_events_sampled_sub['itemid'] == bad_id][['value', 'comments']].drop_duplicates()
# lab_events_sampled_sub[lab_events_sampled_sub['itemid'] == bad_id][['flag', 'comments', 'value', 'valuenum', 'ref_range_lower', 'ref_range_upper']].drop_duplicates().head(100)
# # lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == bad_id) & (lab_events_sampled_sub['value'].isnull()), ][['value', 'valuenum', 'comments']].drop_duplicates()

In [32]:
def gfr_grabber(patient):
    comment = patient['comments']
    gfr_vals = []
    
    if pd.isnull(comment):
        return np.nan
    if type(comment) == str:
        if comment == '___':
            return np.nan
        
        comment = comment.replace('>75', '75')
        if ('between' in comment):
            start_low = comment.find('between')
            end_low = comment.find(' and', start_low + 8, )

            end_high = comment.find(' mL', end_low + 5, )
            
            val = (int(comment[start_low + 8 : end_low]) + int(comment[end_low + 5 : end_high])) / 2

            gfr_vals = [val, val]
        elif 'likely' in comment:
            start_point = comment.find('likely')
            end_point = comment.find(' mL', start_point + 7, )
            gfr_vals = [comment[start_point + 7 : end_point], comment[start_point + 7 : end_point]]
        else:
            start_points = [i for i in range(len(comment)) if comment.startswith('GFR = ', i)]
            end_points = list(map(lambda x: comment.find(' ', x + 6, ), start_points))

            gfr_vals = list(map(lambda x, y: comment[x + 6 : y], start_points, end_points))

    if (admissions_sample.loc[admissions_sample['subject_id'] == patient['subject_id'], 'ethnicity'] == 'BLACK/AFRICAN AMERICAN').iloc[0]:
        return int(gfr_vals[1])
    else:
        return int(gfr_vals[0])
    
lab_gfr = lab_events_sampled_sub.loc[lab_events_sampled_sub['itemid'] == 50920, ['labevent_id', 'comments', 'subject_id']]
lab_gfr['value'] = lab_gfr.apply(gfr_grabber, axis = 1)

In [33]:
lab_events_sampled_sub.loc[lab_events_sampled_sub['labevent_id'].isin(lab_gfr.labevent_id), 'value'] = lab_events_sampled_sub.loc[lab_events_sampled_sub['labevent_id'].isin(lab_gfr.labevent_id), 'labevent_id'].map(lambda x: lab_gfr.loc[lab_gfr['labevent_id'] == x, 'value'])
lab_events_sampled_sub.loc[lab_events_sampled_sub['labevent_id'].isin(lab_gfr.labevent_id), 'value'] = lab_events_sampled_sub.loc[lab_events_sampled_sub['labevent_id'].isin(lab_gfr.labevent_id), 'value'].map(lambda x: x.iloc[0].astype(np.float64))
lab_events_sampled_sub.loc[lab_events_sampled_sub['labevent_id'].isin(lab_gfr.labevent_id), 'valuenum'] = lab_events_sampled_sub.loc[lab_events_sampled_sub['labevent_id'].isin(lab_gfr.labevent_id), 'value'].astype(np.float64)
lab_events_sampled_sub.loc[lab_events_sampled_sub['labevent_id'].isin(lab_gfr.labevent_id), 'ref_range_lower'] = 60
lab_events_sampled_sub.loc[lab_events_sampled_sub['labevent_id'].isin(lab_gfr.labevent_id), 'ref_range_upper'] = 120

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

## Get Aggregate Test Values

In [34]:
%time lab_events_sampled_sub_grouped = lab_events_sampled_sub.groupby(['subject_id', 'hadm_id', 'itemid']).agg({'itemid' : ['count'], 'valuenum' : ['min', 'max', 'mean'], 'flag' : ['count'], 'ref_range_lower' : ['min'], 'ref_range_upper' : ['min']})
# 'comments' : ['unique'],

CPU times: user 315 ms, sys: 35.1 ms, total: 350 ms
Wall time: 350 ms

In [35]:
lab_events_sampled_sub_grouped.reset_index(inplace = True)
lab_events_sampled_sub_grouped.columns = ['subject_id', 'hadm_id', 'itemid', 'count', 'min', 'max', 'mean', 'abn_percent', 'range_min', 'range_max']
# 'comments',

In [36]:
missing_vals = lab_events_sampled_sub_grouped.isnull().sum(axis = 0) 
missing_vals[missing_vals > 0].sort_values()

min     1707
max     1707
mean    1707
dtype: int64

In [37]:
lab_events_sampled_sub_grouped.loc[lab_events_sampled_sub_grouped['min'].isnull(), ].itemid.value_counts()

# lab_events_sampled_sub_grouped.loc[(lab_events_sampled_sub_grouped['min'].isnull()) & (lab_events_sampled_sub_grouped['itemid'] == 51003), ]#.subject_id.nunique()
# # lab_events_sampled_sub_grouped.subject_id.nunique()

# lab_events_sampled_sub_grouped.loc[lab_events_sampled_sub_grouped['subject_id'] == 10002264, ]

51003    1397
50911    270
50920    26
51274    6
51277    2
51265    2
51006    1
50971    1
51301    1
51221    1
Name: itemid, dtype: int64

In [38]:
lab_events_sampled_sub_grouped['below_min'] = np.where(lab_events_sampled_sub_grouped['min'] < lab_events_sampled_sub_grouped['range_min'], lab_events_sampled_sub_grouped['range_min'] - lab_events_sampled_sub_grouped['min'], 0)
lab_events_sampled_sub_grouped['above_max'] = np.where(lab_events_sampled_sub_grouped['max'] > lab_events_sampled_sub_grouped['range_max'], lab_events_sampled_sub_grouped['max'] - lab_events_sampled_sub_grouped['range_max'], 0)
lab_events_sampled_sub_grouped['abn_percent'] = lab_events_sampled_sub_grouped['abn_percent'] / lab_events_sampled_sub_grouped['count']

## Merge Admissions data so we can group by ethnicity/gender to grab average range min and max

In [39]:
lab_adm = lab_events_sampled_sub_grouped.merge(admissions_sample, left_on = 'hadm_id', right_on = 'hadm_id')

lab_range_min_max_eg = lab_adm.groupby(['itemid', 'ethnicity', 'gender']).agg({'range_min' : 'mean', 'range_max' : 'mean'})
lab_range_min_max_eg.reset_index(inplace = True)

lab_range_eg_dic = dict(zip(zip(lab_range_min_max_eg['itemid'], lab_range_min_max_eg['ethnicity'], lab_range_min_max_eg['gender']), zip(lab_range_min_max_eg['range_min'], lab_range_min_max_eg['range_max'])))

# # These labs have missing data for the entire ethnicity/gender combo
lab_range_eg_dic[(50911, 'AMERICAN INDIAN/ALASKA NATIVE', 'M')] = (0.0, 10.0)
lab_range_eg_dic[(51003, 'AMERICAN INDIAN/ALASKA NATIVE', 'M')] = (0.0, 0.01)

lab_range_eg_dic

{(50868, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (8.0, 20.0),
 (50868, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (8.0, 20.0),
 (50868, 'ASIAN', 'F'): (8.513513513513514, 19.37837837837838),
 (50868, 'ASIAN', 'M'): (8.575757575757576, 19.333333333333332),
 (50868, 'BLACK/AFRICAN AMERICAN', 'F'): (8.4765625, 19.4453125),
 (50868, 'BLACK/AFRICAN AMERICAN', 'M'): (8.386363636363637,
  19.488636363636363),
 (50868, 'HISPANIC/LATINO', 'F'): (8.414634146341463, 19.536585365853657),
 (50868, 'HISPANIC/LATINO', 'M'): (8.474576271186441, 19.480225988700564),
 (50868, 'OTHER', 'F'): (8.476744186046512, 19.476744186046513),
 (50868, 'OTHER', 'M'): (8.420091324200913, 19.561643835616437),
 (50868, 'UNKNOWN', 'F'): (8.438356164383562, 19.488584474885844),
 (50868, 'UNKNOWN', 'M'): (8.573770491803279, 19.39344262295082),
 (50868, 'WHITE', 'F'): (8.420539730134932, 19.514992503748125),
 (50868, 'WHITE', 'M'): (8.388558692421991, 19.540118870728083),
 (50882, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (22.0, 32.0),
 (50882, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (22.0, 32.0),
 (50882, 'ASIAN', 'F'): (22.0, 32.0),
 (50882, 'ASIAN', 'M'): (22.0, 32.0),
 (50882, 'BLACK/AFRICAN AMERICAN', 'F'): (22.0, 32.0),
 (50882, 'BLACK/AFRICAN AMERICAN', 'M'): (22.0, 32.0),
 (50882, 'HISPANIC/LATINO', 'F'): (22.0, 32.0),
 (50882, 'HISPANIC/LATINO', 'M'): (22.0, 32.0),
 (50882, 'OTHER', 'F'): (22.0, 32.0),
 (50882, 'OTHER', 'M'): (22.0, 32.0),
 (50882, 'UNKNOWN', 'F'): (22.0, 32.0),
 (50882, 'UNKNOWN', 'M'): (22.0, 32.0),
 (50882, 'WHITE', 'F'): (22.0, 32.0),
 (50882, 'WHITE', 'M'): (22.0, 32.0),
 (50893, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (8.4, 10.299999999999999),
 (50893, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (8.4, 10.26),
 (50893, 'ASIAN', 'F'): (8.399999999999986, 10.28951612903224),
 (50893, 'ASIAN', 'M'): (8.399999999999984, 10.291525423728793),
 (50893, 'BLACK/AFRICAN AMERICAN', 'F'): (8.400000000000063,
  10.287804878048844),
 (50893, 'BLACK/AFRICAN AMERICAN', 'M'): (8.400000000000048,
  10.287096774193579),
 (50893, 'HISPANIC/LATINO', 'F'): (8.4, 10.285416666666649),
 (50893, 'HISPANIC/LATINO', 'M'): (8.400000000000007, 10.278571428571412),
 (50893, 'OTHER', 'F'): (8.400000000000006, 10.293377483443685),
 (50893, 'OTHER', 'M'): (8.400000000000025, 10.2928934010152),
 (50893, 'UNKNOWN', 'F'): (8.400000000000029, 10.295215311004766),
 (50893, 'UNKNOWN', 'M'): (8.400000000000036, 10.290948275862066),
 (50893, 'WHITE', 'F'): (8.40000000000006, 10.282804674457138),
 (50893, 'WHITE', 'M'): (8.400662525879989, 10.285051759834058),
 (50902, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (96.0, 108.0),
 (50902, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (96.0, 108.0),
 (50902, 'ASIAN', 'F'): (96.0, 108.0),
 (50902, 'ASIAN', 'M'): (96.0, 108.0),
 (50902, 'BLACK/AFRICAN AMERICAN', 'F'): (96.0, 108.0),
 (50902, 'BLACK/AFRICAN AMERICAN', 'M'): (96.0, 108.0),
 (50902, 'HISPANIC/LATINO', 'F'): (96.0, 108.0),
 (50902, 'HISPANIC/LATINO', 'M'): (96.0, 108.0),
 (50902, 'OTHER', 'F'): (96.0, 108.0),
 (50902, 'OTHER', 'M'): (96.0, 108.0),
 (50902, 'UNKNOWN', 'F'): (96.0, 108.0),
 (50902, 'UNKNOWN', 'M'): (96.0, 108.0),
 (50902, 'WHITE', 'F'): (96.0, 108.0),
 (50902, 'WHITE', 'M'): (96.0, 108.0),
 (50911, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (0.0, 10.0),
 (50911, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (0.0, 10.0),
 (50911, 'ASIAN', 'F'): (0.0, 10.0),
 (50911, 'ASIAN', 'M'): (0.0, 10.0),
 (50911, 'BLACK/AFRICAN AMERICAN', 'F'): (0.0, 10.0),
 (50911, 'BLACK/AFRICAN AMERICAN', 'M'): (0.0, 10.0),
 (50911, 'HISPANIC/LATINO', 'F'): (0.0, 10.0),
 (50911, 'HISPANIC/LATINO', 'M'): (0.0, 10.0),
 (50911, 'OTHER', 'F'): (0.0, 10.0),
 (50911, 'OTHER', 'M'): (0.0, 10.0),
 (50911, 'UNKNOWN', 'F'): (0.0, 10.0),
 (50911, 'UNKNOWN', 'M'): (0.0, 10.0),
 (50911, 'WHITE', 'F'): (0.0, 10.0),
 (50911, 'WHITE', 'M'): (0.0, 10.0),
 (50912, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (0.39999999999999997,
  1.0999999999999999),
 (50912, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (0.5, 1.2),
 (50912, 'ASIAN', 'F'): (0.39999999999999897, 1.0999999999999968),
 (50912, 'ASIAN', 'M'): (0.5, 1.1999999999999993),
 (50912, 'BLACK/AFRICAN AMERICAN', 'F'): (0.4000000000000037,
  1.1000000000000112),
 (50912, 'BLACK/AFRICAN AMERICAN', 'M'): (0.5, 1.1999999999999926),
 (50912, 'HISPANIC/LATINO', 'F'): (0.39999999999999947, 1.0999999999999965),
 (50912, 'HISPANIC/LATINO', 'M'): (0.5, 1.1999999999999964),
 (50912, 'OTHER', 'F'): (0.39999999999999986, 1.0999999999999965),
 (50912, 'OTHER', 'M'): (0.5, 1.199999999999995),
 (50912, 'UNKNOWN', 'F'): (0.40000000000000085, 1.099999999999996),
 (50912, 'UNKNOWN', 'M'): (0.5, 1.1999999999999944),
 (50912, 'WHITE', 'F'): (0.39999999999999064, 1.0999999999999455),
 (50912, 'WHITE', 'M'): (0.5, 1.1999999999999513),
 (50920, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (60.0, 120.0),
 (50920, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (60.0, 120.0),
 (50920, 'ASIAN', 'F'): (60.0, 120.0),
 (50920, 'ASIAN', 'M'): (60.0, 120.0),
 (50920, 'BLACK/AFRICAN AMERICAN', 'F'): (60.0, 120.0),
 (50920, 'BLACK/AFRICAN AMERICAN', 'M'): (60.0, 120.0),
 (50920, 'HISPANIC/LATINO', 'F'): (60.0, 120.0),
 (50920, 'HISPANIC/LATINO', 'M'): (60.0, 120.0),
 (50920, 'OTHER', 'F'): (60.0, 120.0),
 (50920, 'OTHER', 'M'): (60.0, 120.0),
 (50920, 'UNKNOWN', 'F'): (60.0, 120.0),
 (50920, 'UNKNOWN', 'M'): (60.0, 120.0),
 (50920, 'WHITE', 'F'): (60.0, 120.0),
 (50920, 'WHITE', 'M'): (60.0, 120.0),
 (50931, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (70.0, 100.0),
 (50931, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (70.0, 102.0),
 (50931, 'ASIAN', 'F'): (70.0, 100.54054054054055),
 (50931, 'ASIAN', 'M'): (70.0, 100.41666666666667),
 (50931, 'BLACK/AFRICAN AMERICAN', 'F'): (70.0, 100.62256809338521),
 (50931, 'BLACK/AFRICAN AMERICAN', 'M'): (70.0, 100.76487252124646),
 (50931, 'HISPANIC/LATINO', 'F'): (70.0, 100.84848484848484),
 (50931, 'HISPANIC/LATINO', 'M'): (70.0, 101.07954545454545),
 (50931, 'OTHER', 'F'): (70.0, 100.37790697674419),
 (50931, 'OTHER', 'M'): (70.0, 100.34246575342466),
 (50931, 'UNKNOWN', 'F'): (70.0, 100.25229357798165),
 (50931, 'UNKNOWN', 'M'): (70.0, 100.49180327868852),
 (50931, 'WHITE', 'F'): (69.99624624624624, 100.88213213213213),
 (50931, 'WHITE', 'M'): (69.98509131569139, 100.84793142005218),
 (50960, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (1.5999999999999999, 2.6),
 (50960, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (1.6, 2.6),
 (50960, 'ASIAN', 'F'): (1.5976744186046479, 2.5906976744186068),
 (50960, 'ASIAN', 'M'): (1.598319327731089, 2.5932773109243703),
 (50960, 'BLACK/AFRICAN AMERICAN', 'F'): (1.599109131403131,
  2.596436525612475),
 (50960, 'BLACK/AFRICAN AMERICAN', 'M'): (1.600000000000009,
  2.6000000000000143),
 (50960, 'HISPANIC/LATINO', 'F'): (1.5979310344827549, 2.5917241379310383),
 (50960, 'HISPANIC/LATINO', 'M'): (1.5974522292993591, 2.5898089171974576),
 (50960, 'OTHER', 'F'): (1.596794871794868, 2.5871794871794926),
 (50960, 'OTHER', 'M'): (1.5985294117647078, 2.5941176470588334),
 (50960, 'UNKNOWN', 'F'): (1.5990476190476213, 2.596190476190486),
 (50960, 'UNKNOWN', 'M'): (1.5991596638655508, 2.5966386554621965),
 (50960, 'WHITE', 'F'): (1.5992177850966853, 2.5968711403870754),
 (50960, 'WHITE', 'M'): (1.5991967871485313, 2.5967871485944687),
 (50970, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (2.6999999999999997, 4.5),
 (50970, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (2.7, 4.5),
 (50970, 'ASIAN', 'F'): (2.6999999999999935, 4.5),
 (50970, 'ASIAN', 'M'): (2.699999999999994, 4.5),
 (50970, 'BLACK/AFRICAN AMERICAN', 'F'): (2.7000000000000224, 4.5),
 (50970, 'BLACK/AFRICAN AMERICAN', 'M'): (2.700000000000012, 4.5),
 (50970, 'HISPANIC/LATINO', 'F'): (2.699999999999993, 4.5),
 (50970, 'HISPANIC/LATINO', 'M'): (2.6999999999999926, 4.5),
 (50970, 'OTHER', 'F'): (2.6999999999999926, 4.5),
 (50970, 'OTHER', 'M'): (2.699999999999994, 4.5),
 (50970, 'UNKNOWN', 'F'): (2.699999999999996, 4.5),
 (50970, 'UNKNOWN', 'M'): (2.700000000000002, 4.5),
 (50970, 'WHITE', 'F'): (2.6999999999998865, 4.5),
 (50970, 'WHITE', 'M'): (2.699999999999886, 4.5),
 (50971, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (3.3000000000000003,
  5.1000000000000005),
 (50971, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (3.3, 5.1),
 (50971, 'ASIAN', 'F'): (3.340540540540547, 5.16081081081082),
 (50971, 'ASIAN', 'M'): (3.3439393939393995, 5.165909090909096),
 (50971, 'BLACK/AFRICAN AMERICAN', 'F'): (3.3343629343629093,
  5.151544401544367),
 (50971, 'BLACK/AFRICAN AMERICAN', 'M'): (3.3310734463276646,
  5.146610169491503),
 (50971, 'HISPANIC/LATINO', 'F'): (3.3365853658536615, 5.154878048780499),
 (50971, 'HISPANIC/LATINO', 'M'): (3.338674033149171, 5.158011049723768),
 (50971, 'OTHER', 'F'): (3.3434285714285723, 5.165142857142865),
 (50971, 'OTHER', 'M'): (3.3306306306306235, 5.14594594594595),
 (50971, 'UNKNOWN', 'F'): (3.3381818181818113, 5.157272727272731),
 (50971, 'UNKNOWN', 'M'): (3.347773279352217, 5.171659919028337),
 (50971, 'WHITE', 'F'): (3.3347470238095682, 5.1521205357144435),
 (50971, 'WHITE', 'M'): (3.331263696128597, 5.146895544193003),
 (50983, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (133.0, 145.0),
 (50983, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (133.0, 145.0),
 (50983, 'ASIAN', 'F'): (133.51351351351352, 145.51351351351352),
 (50983, 'ASIAN', 'M'): (133.57575757575756, 145.57575757575756),
 (50983, 'BLACK/AFRICAN AMERICAN', 'F'): (133.47286821705427,
  145.47286821705427),
 (50983, 'BLACK/AFRICAN AMERICAN', 'M'): (133.38526912181302,
  145.38526912181302),
 (50983, 'HISPANIC/LATINO', 'F'): (133.41463414634146, 145.41463414634146),
 (50983, 'HISPANIC/LATINO', 'M'): (133.46927374301677, 145.46927374301677),
 (50983, 'OTHER', 'F'): (133.46857142857144, 145.46857142857144),
 (50983, 'OTHER', 'M'): (133.4162895927602, 145.4162895927602),
 (50983, 'UNKNOWN', 'F'): (133.43636363636364, 145.43636363636364),
 (50983, 'UNKNOWN', 'M'): (133.5691056910569, 145.5691056910569),
 (50983, 'WHITE', 'F'): (133.42191576593365, 145.42191576593365),
 (50983, 'WHITE', 'M'): (133.38721528288025, 145.38721528288025),
 (51003, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (0.0, 0.01),
 (51003, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (0.0, 0.01),
 (51003, 'ASIAN', 'F'): (0.0, 0.010000000000000004),
 (51003, 'ASIAN', 'M'): (0.0, 0.010000000000000005),
 (51003, 'BLACK/AFRICAN AMERICAN', 'F'): (0.0, 0.010000000000000007),
 (51003, 'BLACK/AFRICAN AMERICAN', 'M'): (0.0, 0.010000000000000007),
 (51003, 'HISPANIC/LATINO', 'F'): (0.0, 0.010000000000000004),
 (51003, 'HISPANIC/LATINO', 'M'): (0.0, 0.010000000000000005),
 (51003, 'OTHER', 'F'): (0.0, 0.010000000000000004),
 (51003, 'OTHER', 'M'): (0.0, 0.010000000000000005),
 (51003, 'UNKNOWN', 'F'): (0.0, 0.010000000000000007),
 (51003, 'UNKNOWN', 'M'): (0.0, 0.010000000000000007),
 (51003, 'WHITE', 'F'): (0.0, 0.009999999999999842),
 (51003, 'WHITE', 'M'): (0.0, 0.009999999999999839),
 (51006, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (6.0, 20.0),
 (51006, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (6.0, 20.0),
 (51006, 'ASIAN', 'F'): (6.0, 20.0),
 (51006, 'ASIAN', 'M'): (6.0, 20.0),
 (51006, 'BLACK/AFRICAN AMERICAN', 'F'): (6.0, 20.0),
 (51006, 'BLACK/AFRICAN AMERICAN', 'M'): (6.0, 20.0),
 (51006, 'HISPANIC/LATINO', 'F'): (6.0, 20.0),
 (51006, 'HISPANIC/LATINO', 'M'): (6.0, 20.0),
 (51006, 'OTHER', 'F'): (6.0, 20.0),
 (51006, 'OTHER', 'M'): (6.0, 20.0),
 (51006, 'UNKNOWN', 'F'): (6.0, 20.0),
 (51006, 'UNKNOWN', 'M'): (6.0, 20.0),
 (51006, 'WHITE', 'F'): (6.0, 20.0),
 (51006, 'WHITE', 'M'): (6.0, 20.0),
 (51221, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (35.714285714285715,
  47.57142857142857),
 (51221, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (40.0, 51.8),
 (51221, 'ASIAN', 'F'): (35.17171717171717, 46.75757575757576),
 (51221, 'ASIAN', 'M'): (40.0, 51.53333333333333),
 (51221, 'BLACK/AFRICAN AMERICAN', 'F'): (35.174311926605505,
  46.76146788990825),
 (51221, 'BLACK/AFRICAN AMERICAN', 'M'): (40.0, 51.563025210084035),
 (51221, 'HISPANIC/LATINO', 'F'): (35.27699530516432, 46.91549295774648),
 (51221, 'HISPANIC/LATINO', 'M'): (40.0, 51.60109289617486),
 (51221, 'OTHER', 'F'): (35.10407239819005, 46.65610859728507),
 (51221, 'OTHER', 'M'): (40.0, 51.589285714285715),
 (51221, 'UNKNOWN', 'F'): (34.98744769874477, 46.48117154811715),
 (51221, 'UNKNOWN', 'M'): (40.0, 51.46370967741935),
 (51221, 'WHITE', 'F'): (35.22972051806408, 46.84458077709611),
 (51221, 'WHITE', 'M'): (40.0, 51.599636363636364),
 (51222, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (11.885714285714286,
  15.957142857142857),
 (51222, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (13.940000000000001, 17.9),
 (51222, 'ASIAN', 'F'): (11.662032085561508, 15.873262032085547),
 (51222, 'ASIAN', 'M'): (13.858955223880612, 17.76492537313433),
 (51222, 'BLACK/AFRICAN AMERICAN', 'F'): (11.659038142620183,
  15.872139303482593),
 (51222, 'BLACK/AFRICAN AMERICAN', 'M'): (13.868271954674182,
  17.78045325779037),
 (51222, 'HISPANIC/LATINO', 'F'): (11.702040816326532, 15.888265306122433),
 (51222, 'HISPANIC/LATINO', 'M'): (13.877653631284918, 17.79608938547486),
 (51222, 'OTHER', 'F'): (11.63461538461538, 15.862980769230738),
 (51222, 'OTHER', 'M'): (13.877027027027014, 17.795045045045047),
 (51222, 'UNKNOWN', 'F'): (11.589830508474568, 15.846186440677936),
 (51222, 'UNKNOWN', 'M'): (13.83770491803276, 17.729508196721312),
 (51222, 'WHITE', 'F'): (11.690152565880869, 15.883807212205086),
 (51222, 'WHITE', 'M'): (13.879443413729133, 17.799072356215213),
 (51248, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (26.857142857142858, 32.0),
 (51248, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (26.8, 32.0),
 (51248, 'ASIAN', 'F'): (26.580645161290324, 32.0),
 (51248, 'ASIAN', 'M'): (26.529850746268657, 32.0),
 (51248, 'BLACK/AFRICAN AMERICAN', 'F'): (26.57379767827529, 32.0),
 (51248, 'BLACK/AFRICAN AMERICAN', 'M'): (26.560906515580736, 32.0),
 (51248, 'HISPANIC/LATINO', 'F'): (26.630769230769232, 32.0),
 (51248, 'HISPANIC/LATINO', 'M'): (26.592178770949722, 32.0),
 (51248, 'OTHER', 'F'): (26.54326923076923, 32.0),
 (51248, 'OTHER', 'M'): (26.59009009009009, 32.0),
 (51248, 'UNKNOWN', 'F'): (26.48728813559322, 32.0),
 (51248, 'UNKNOWN', 'M'): (26.459016393442624, 32.0),
 (51248, 'WHITE', 'F'): (26.61391304347826, 32.0),
 (51248, 'WHITE', 'M'): (26.598513011152416, 32.0),
 (51249, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (31.142857142857142,
  35.285714285714285),
 (51249, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (31.2, 35.4),
 (51249, 'ASIAN', 'F'): (31.419354838709676, 35.83870967741935),
 (51249, 'ASIAN', 'M'): (31.46268656716418, 35.92537313432836),
 (51249, 'BLACK/AFRICAN AMERICAN', 'F'): (31.42620232172471,
  35.85240464344942),
 (51249, 'BLACK/AFRICAN AMERICAN', 'M'): (31.439093484419264,
  35.87818696883853),
 (51249, 'HISPANIC/LATINO', 'F'): (31.369230769230768, 35.738461538461536),
 (51249, 'HISPANIC/LATINO', 'M'): (31.407821229050278, 35.815642458100555),
 (51249, 'OTHER', 'F'): (31.451923076923077, 35.90384615384615),
 (51249, 'OTHER', 'M'): (31.40990990990991, 35.81981981981982),
 (51249, 'UNKNOWN', 'F'): (31.51271186440678, 36.02542372881356),
 (51249, 'UNKNOWN', 'M'): (31.53688524590164, 36.07377049180328),
 (51249, 'WHITE', 'F'): (31.385739130434782, 35.771478260869564),
 (51249, 'WHITE', 'M'): (31.4, 35.8),
 (51250, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (82.0, 98.0),
 (51250, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (82.0, 98.0),
 (51250, 'ASIAN', 'F'): (82.0, 98.0),
 (51250, 'ASIAN', 'M'): (82.0, 98.0),
 (51250, 'BLACK/AFRICAN AMERICAN', 'F'): (82.0, 98.0),
 (51250, 'BLACK/AFRICAN AMERICAN', 'M'): (82.0, 98.0),
 (51250, 'HISPANIC/LATINO', 'F'): (82.0, 98.0),
 (51250, 'HISPANIC/LATINO', 'M'): (82.0, 98.0),
 (51250, 'OTHER', 'F'): (82.0, 98.0),
 (51250, 'OTHER', 'M'): (82.0, 98.0),
 (51250, 'UNKNOWN', 'F'): (82.0, 98.0),
 (51250, 'UNKNOWN', 'M'): (82.0, 98.0),
 (51250, 'WHITE', 'F'): (82.0, 98.0),
 (51250, 'WHITE', 'M'): (82.0, 98.0),
 (51265, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (150.0, 434.2857142857143),
 (51265, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (150.0, 432.0),
 (51265, 'ASIAN', 'F'): (150.0, 423.2258064516129),
 (51265, 'ASIAN', 'M'): (150.0, 421.1940298507463),
 (51265, 'BLACK/AFRICAN AMERICAN', 'F'): (150.0, 422.87603305785126),
 (51265, 'BLACK/AFRICAN AMERICAN', 'M'): (150.0, 422.4858757062147),
 (51265, 'HISPANIC/LATINO', 'F'): (150.0, 425.2307692307692),
 (51265, 'HISPANIC/LATINO', 'M'): (150.0, 423.8674033149171),
 (51265, 'OTHER', 'F'): (150.0, 421.7142857142857),
 (51265, 'OTHER', 'M'): (150.0, 423.57142857142856),
 (51265, 'UNKNOWN', 'F'): (150.0, 419.49152542372883),
 (51265, 'UNKNOWN', 'M'): (150.0, 418.46153846153845),
 (51265, 'WHITE', 'F'): (150.0, 424.56529269137513),
 (51265, 'WHITE', 'M'): (150.0, 423.98239823982397),
 (51274, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (9.4, 12.5),
 (51274, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (9.65, 12.725),
 (51274, 'ASIAN', 'F'): (9.703370786516839, 12.773033707865165),
 (51274, 'ASIAN', 'M'): (9.634567901234554, 12.711111111111107),
 (51274, 'BLACK/AFRICAN AMERICAN', 'F'): (9.673648648648701,
  12.746283783783799),
 (51274, 'BLACK/AFRICAN AMERICAN', 'M'): (9.664957264957307,
  12.738461538461555),
 (51274, 'HISPANIC/LATINO', 'F'): (9.747826086956506, 12.813043478260866),
 (51274, 'HISPANIC/LATINO', 'M'): (9.733333333333327, 12.800000000000008),
 (51274, 'OTHER', 'F'): (9.511111111111102, 12.600000000000003),
 (51274, 'OTHER', 'M'): (9.58750000000002, 12.668750000000006),
 (51274, 'UNKNOWN', 'F'): (9.525714285714312, 12.613142857142863),
 (51274, 'UNKNOWN', 'M'): (9.593396226415132, 12.674056603773593),
 (51274, 'WHITE', 'F'): (9.721590909090725, 12.789431818181885),
 (51274, 'WHITE', 'M'): (9.728689370485004, 12.79582043343662),
 (51277, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (10.5, 15.5),
 (51277, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (10.5, 15.5),
 (51277, 'ASIAN', 'F'): (10.5, 15.5),
 (51277, 'ASIAN', 'M'): (10.5, 15.5),
 (51277, 'BLACK/AFRICAN AMERICAN', 'F'): (10.5, 15.5),
 (51277, 'BLACK/AFRICAN AMERICAN', 'M'): (10.5, 15.5),
 (51277, 'HISPANIC/LATINO', 'F'): (10.5, 15.5),
 (51277, 'HISPANIC/LATINO', 'M'): (10.5, 15.5),
 (51277, 'OTHER', 'F'): (10.5, 15.5),
 (51277, 'OTHER', 'M'): (10.5, 15.5),
 (51277, 'UNKNOWN', 'F'): (10.5, 15.5),
 (51277, 'UNKNOWN', 'M'): (10.5, 15.5),
 (51277, 'WHITE', 'F'): (10.5, 15.5),
 (51277, 'WHITE', 'M'): (10.5, 15.5),
 (51279, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (4.157142857142857,
  5.371428571428571),
 (51279, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (4.6, 6.18),
 (51279, 'ASIAN', 'F'): (4.074193548387097, 5.316129032258062),
 (51279, 'ASIAN', 'M'): (4.600000000000012, 6.152985074626881),
 (51279, 'BLACK/AFRICAN AMERICAN', 'F'): (4.072139303482605,
  5.314759535655071),
 (51279, 'BLACK/AFRICAN AMERICAN', 'M'): (4.5999999999999766,
  6.156090651558069),
 (51279, 'HISPANIC/LATINO', 'F'): (4.08923076923077, 5.3261538461538445),
 (51279, 'HISPANIC/LATINO', 'M'): (4.600000000000015, 6.1592178770949895),
 (51279, 'OTHER', 'F'): (4.0629807692307685, 5.3086538461538515),
 (51279, 'OTHER', 'M'): (4.6000000000000165, 6.15900900900902),
 (51279, 'UNKNOWN', 'F'): (4.0461864406779675, 5.297457627118656),
 (51279, 'UNKNOWN', 'M'): (4.600000000000007, 6.145901639344264),
 (51279, 'WHITE', 'F'): (4.084173913043477, 5.322782608695596),
 (51279, 'WHITE', 'M'): (4.600000000000222, 6.159851301115512),
 (51301, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (4.0, 10.857142857142858),
 (51301, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (4.0, 10.8),
 (51301, 'ASIAN', 'F'): (4.0, 10.580645161290322),
 (51301, 'ASIAN', 'M'): (4.0, 10.529850746268657),
 (51301, 'BLACK/AFRICAN AMERICAN', 'F'): (4.0, 10.574503311258278),
 (51301, 'BLACK/AFRICAN AMERICAN', 'M'): (4.0, 10.560906515580736),
 (51301, 'HISPANIC/LATINO', 'F'): (4.0, 10.63076923076923),
 (51301, 'HISPANIC/LATINO', 'M'): (4.0, 10.59217877094972),
 (51301, 'OTHER', 'F'): (4.0, 10.54326923076923),
 (51301, 'OTHER', 'M'): (4.0, 10.59009009009009),
 (51301, 'UNKNOWN', 'F'): (4.0, 10.48728813559322),
 (51301, 'UNKNOWN', 'M'): (4.0, 10.457142857142857),
 (51301, 'WHITE', 'F'): (4.0, 10.613968033356498),
 (51301, 'WHITE', 'M'): (4.0, 10.598293768545995),

In [40]:
# # Aggregate without splitting by Ethnicity/Gender

# lab_range_min_max = lab_events_sampled_sub_grouped.groupby('itemid').agg({'range_min' : 'mean', 'range_max' : 'mean'})
# lab_range_min_max.reset_index(inplace = True)

# lab_range_dic = dict(zip(lab_range_min_max['itemid'], zip(lab_range_min_max['range_min'], lab_range_min_max['range_max'])))
# lab_range_dic

Pivot the table so we have feature columns related to test results

In [41]:
lab_events_sampled_sub_grouped['new_index'] = list(zip(lab_events_sampled_sub_grouped['subject_id'], lab_events_sampled_sub_grouped['hadm_id']))

In [42]:
%time lab_events_sampled_pivot = lab_events_sampled_sub_grouped.pivot(index = 'new_index', columns = 'itemid', values = ['min', 'max', 'mean', 'abn_percent', 'below_min', 'above_max'])
# 'comments',

CPU times: user 78.6 ms, sys: 14.3 ms, total: 92.9 ms
Wall time: 91.8 ms

In [43]:
lab_events_sampled_pivot = lab_events_sampled_pivot.reset_index()
lab_events_sampled_pivot['subject_id'], lab_events_sampled_pivot['hadm_id'] = zip(*lab_events_sampled_pivot['new_index'])
lab_events_sampled_pivot.drop(['new_index'], axis = 1, inplace = True)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:3936: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [44]:
missing_vals = lab_events_sampled_pivot.isnull().sum(axis = 0) 
missing_vals[missing_vals > 0].sort_values()#.head(40)

             itemid
abn_percent  51221     223
below_min    51221     223
above_max    51221     223
max          51221     224
mean         51221     224
min          51221     224
abn_percent  51265     393
above_max    51265     393
below_min    51265     393
max          51265     395
min          51265     395
mean         51265     395
below_min    51222     438
abn_percent  51222     438
above_max    51222     438
max          51222     438
mean         51222     438
min          51222     438
above_max    51301     443
abn_percent  51301     443
below_min    51301     443
mean         51301     444
min          51301     444
max          51301     444
mean         51249     454
max          51248     454
             51249     454
abn_percent  51249     454
             51250     454
max          51250     454
             51279     454
abn_percent  51279     454
mean         51250     454
above_max    51249     454
             51248     454
mean         51279     454
abn_percent  51277     454
mean         51248     454
abn_percent  51248     454
above_max    51250     454
below_min    51277     454
min          51250     454
             51249     454
             51248     454
below_min    51250     454
min          51279     454
below_min    51249     454
above_max    51277     454
below_min    51279     454
             51248     454
above_max    51279     454
mean         51277     456
max          51277     456
min          51277     456
abn_percent  50912     694
min          50912     694
above_max    50912     694
mean         50912     694
max          50912     694
below_min    50912     694
abn_percent  51006     789
above_max    51006     789
below_min    51006     789
max          51006     790
min          51006     790
mean         51006     790
below_min    50971     793
above_max    50971     793
abn_percent  50971     793
max          50971     794
mean         50971     794
min          50971     794
abn_percent  50983     821
max          50983     821
below_min    50983     821
mean         50983     821
min          50983     821
above_max    50983     821
max          50902     834
mean         50902     834
above_max    50902     834
min          50902     834
abn_percent  50902     834
below_min    50902     834
mean         50882     880
above_max    50882     880
abn_percent  50882     880
below_min    50882     880
min          50882     880
max          50882     880
above_max    50868     881
below_min    50868     881
min          50868     881
max          50868     881
mean         50868     881
abn_percent  50868     881
mean         50931     892
abn_percent  50931     892
above_max    50931     892
min          50931     892
below_min    50931     892
max          50931     892
below_min    50960     1538
min          50960     1538
abn_percent  50960     1538
mean         50960     1538
above_max    50960     1538
max          50960     1538
mean         50893     1679
below_min    50893     1679
above_max    50893     1679
abn_percent  50893     1679
min          50893     1679
max          50893     1679
min          50970     1737
above_max    50970     1737
abn_percent  50970     1737
below_min    50970     1737
mean         50970     1737
max          50970     1737
above_max    51274     3315
below_min    51274     3315
abn_percent  51274     3315
max          51274     3321
min          51274     3321
mean         51274     3321
below_min    50920     4404
abn_percent  50920     4404
above_max    50920     4404
max          50920     4430
mean         50920     4430
min          50920     4430
mean         51464     5330
below_min    51464     5330
min          51464     5330
max          51464     5330
above_max    51464     5330
abn_percent  51464     5330
above_max    51003     6130
abn_percent  51003     6130
below_min    51003     6130
abn_percent  50911     6521
above_max    50911     6521
below_min    50911     6521
max          50911     6791
min          50911     6791
mean         50911     6791
             51003     7527
max          51003     7527
min          51003     7527
dtype: int64

## Start Data Imputation

Copy table, retain original for Random Forest

In [45]:
lab_events_impute = lab_events_sampled_pivot.copy()

In [46]:
d_labitems[d_labitems['itemid'].isin(itemid_sub_sample)]

      itemid                          label  fluid    category loinc_code
115   50868   Anion Gap                      Blood  Chemistry   1863-0
212   50882   Bicarbonate                    Blood  Chemistry   1963-8
222   51464   Bilirubin                      Urine  Hematology  5770-3
282   50893   Calcium, Total                 Blood  Chemistry   2000-8
442   50902   Chloride                       Blood  Chemistry   2075-0
511   50911   Creatine Kinase, MB Isoenzyme  Blood  Chemistry   6773-6
512   50912   Creatinine                     Blood  Chemistry   2160-0
634   50920   Estimated GFR (MDRD equation)  Blood  Chemistry   NaN
723   50931   Glucose                        Blood  Chemistry   6777-7
761   51221   Hematocrit                     Blood  Hematology  4544-3
771   51222   Hemoglobin                     Blood  Hematology  718-7
1008  50960   Magnesium                      Blood  Chemistry   2601-3
1013  51248   MCH                            Blood  Hematology  785-6
1014  51249   MCHC                           Blood  Hematology  786-4
1016  51250   MCV                            Blood  Hematology  787-2
1189  50970   Phosphate                      Blood  Chemistry   2777-1
1211  51265   Platelet Count                 Blood  Hematology  777-3
1233  50971   Potassium                      Blood  Chemistry   2823-3
1279  51274   PT                             Blood  Hematology  5902-2
1307  51277   RDW                            Blood  Hematology  788-0
1312  51279   Red Blood Cells                Blood  Hematology  789-8
1373  50983   Sodium                         Blood  Chemistry   2951-2
1494  51003   Troponin T                     Blood  Chemistry   6598-7
1506  51006   Urea Nitrogen                  Blood  Chemistry   3094-0
1598  51301   White Blood Cells              Blood  Hematology  804-5

In [47]:
lab_events_impute

         min                                                                \
itemid 50868 50882 50893  50902 50911 50912 50920  50931 50960 50970 50971
0       13.0  21.0  8.1   106.0  2.0   1.4  NaN    93.0   2.1   2.4   3.8
1       11.0  22.0  8.5   99.0   1.0   1.1  NaN    99.0   1.8   3.8   3.5
2       11.0  23.0  9.0   100.0 NaN    1.0   67.0  77.0   1.9   3.0   3.7
3       16.0  20.0  9.5   106.0 NaN    0.8   75.0  92.0   1.8   3.8   4.1
4       10.0  22.0  7.5   100.0 NaN    0.6  NaN    83.0   1.8   1.8   3.0
...      ...   ...  ...     ...  ..    ...    ...   ...   ...   ...   ...
8586    11.0  28.0  8.7   97.0  NaN    0.4   75.0  143.0  1.6   4.3   4.2
8587    14.0  20.0  7.4   95.0  NaN    0.5   75.0  70.0   1.9   1.3   3.3
8588    10.0  22.0  8.2   106.0 NaN    0.6   75.0  78.0   2.1   2.8   3.7
8589    9.0   22.0  8.2   100.0  4.0   0.5   75.0  89.0   1.8   1.9   3.6
8590    13.0  20.0  8.8   101.0  11.0  0.7   75.0  85.0   1.7   2.0   3.3

                                                                            \
itemid  50983 51003 51006 51221 51222 51248 51249 51250  51265 51274 51277
0       140.0  0.04  30.0  35.5  12.1  31.6  33.2  94.0  118.0  11.1  12.9
1       133.0 NaN    14.0  34.1  12.5  33.5  35.2  95.0  198.0  10.5  12.8
2       137.0 NaN    10.0  39.2  13.0  31.9  32.5  95.0  176.0  12.4  12.0
3       140.0 NaN    11.0  39.6  12.8  30.6  32.1  95.0  352.0 NaN    13.4
4       129.0  0.01  11.0  22.8  7.6   28.2  32.7  86.0  159.0  53.1  19.3
...       ...  ..     ...   ...   ...   ...   ...   ...    ...  ..     ...
8586    135.0 NaN    6.0   34.5  10.8  28.0  30.9  90.0  523.0  10.8  13.2
8587    137.0 NaN    11.0  19.8  6.3   28.4  31.4  89.0  93.0   11.8  13.7
8588    141.0 NaN    11.0  40.2  13.8  31.0  33.7  91.0  162.0 NaN    13.4
8589    133.0 NaN    10.0  33.5  11.7  30.4  33.6  87.0  114.0  12.5  12.1
8590    138.0  0.02  7.0   38.6  14.6  32.0  37.6  84.0  198.0  12.7  14.2

                           max                                              \
itemid 51279 51301 51464 50868 50882 50893  50902 50911 50912 50920  50931
0       3.73  3.7   0.0   19.0  26.0  8.1   108.0  36.0  1.6  NaN    150.0
1       3.74  10.1  0.0   16.0  30.0  9.0   104.0  2.0   1.4  NaN    208.0
2       4.08  3.3  NaN    14.0  25.0  9.6   107.0 NaN    1.1   67.0  128.0
3       4.16  8.0   0.0   18.0  20.0  9.9   108.0 NaN    0.8   75.0  99.0
4       2.62  2.7   0.0   12.0  23.0  7.9   109.0 NaN    0.9  NaN    159.0
...      ...  ...   ...    ...   ...  ...     ...  ..    ...    ...   ...
8586    3.82  8.4   0.0   15.0  30.0  9.0   102.0 NaN    0.6   75.0  340.0
8587    2.17  6.9   0.0   19.0  31.0  9.1   109.0 NaN    1.0   75.0  153.0
8588    4.44  5.5   0.0   17.0  27.0  8.2   109.0 NaN    0.6   75.0  93.0
8589    3.70  6.1   0.0   15.0  30.0  8.9   111.0  5.0   0.9   75.0  149.0
8590    4.62  12.8  0.0   16.0  27.0  9.0   106.0  11.0  0.9   75.0  173.0

                                                                           \
itemid 50960 50970 50971  50983 51003 51006 51221 51222 51248 51249 51250
0       2.1   2.4   4.3   143.0  1.50  33.0  43.1  14.3  32.7  34.7  95.0
1       2.0   4.3   4.3   138.0 NaN    29.0  35.5  12.5  33.5  35.2  95.0
2       2.1   4.0   4.4   143.0 NaN    15.0  42.4  13.8  32.1  33.7  98.0
3       1.9   4.6   4.1   140.0 NaN    11.0  39.8  12.9  31.0  32.6  95.0
4       2.4   2.7   4.1   138.0  0.01  21.0  25.3  8.4   29.2  33.9  88.0
...     ...   ...   ...     ...  ..     ...   ...   ...   ...   ...   ...
8586    1.9   5.2   4.6   139.0 NaN    10.0  35.1  11.4  29.8  32.9  91.0
8587    4.1   3.5   4.8   143.0 NaN    26.0  32.9  10.6  29.9  33.6  93.0
8588    2.1   2.8   4.0   142.0 NaN    17.0  46.7  15.8  31.1  34.3  92.0
8589    2.5   3.6   4.9   143.0 NaN    24.0  43.3  14.5  31.7  35.6  93.0
8590    1.9   2.5   3.7   141.0  0.02  12.0  40.0  15.0  32.0  38.3  85.0

                                                  mean                       \
itemid  51265 51274 51277 51279 51301 51464      50868      50882     50893
0       169.0  11.1  13.6  4.52  10.4  0.0   14.800000  24.400000  8.100000
1       242.0  10.5  12.8  3.74  10.1  0.0   13.000000  26.000000  8.733333
2       245.0  12.4  12.5  4.32  5.4  NaN    13.000000  23.600000  9.240000
3       357.0 NaN    13.9  4.18  9.3   0.0   17.000000  20.000000  9.700000
4       268.0  88.9  19.8  2.94  3.6   0.0   10.833333  22.166667  7.683333
...       ...  ..     ...   ...  ...   ...         ...        ...       ...
8586    525.0  11.6  14.1  3.91  11.5  0.0   13.000000  28.750000  8.900000
8587    202.0  15.4  14.5  3.63  19.9  0.0   16.545455  26.000000  8.216667
8588    205.0 NaN    13.8  5.08  9.8   0.0   13.500000  24.500000  8.200000
8589    146.0  13.9  12.7  4.72  13.8  0.0   12.416667  25.416667  8.572727
8590    216.0  13.2  14.2  4.69  17.6  0.0   14.500000  25.250000  8.900000

                                                                               \
itemid       50902      50911     50912 50920       50931     50960     50970
0       106.600000  13.000000  1.520000 NaN    114.800000  2.100000  2.400000
1       101.250000  1.333333   1.233333 NaN    154.666667  1.900000  4.066667
2       104.000000 NaN         1.040000  67.0  90.000000   1.980000  3.580000
3       107.000000 NaN         0.800000  75.0  95.500000   1.850000  4.200000
4       104.333333 NaN         0.733333 NaN    111.000000  2.050000  2.200000
...            ...  ..              ...   ...        ...        ...       ...
8586    99.750000  NaN         0.525000  75.0  223.750000  1.766667  4.600000
8587    100.727273 NaN         0.636364  75.0  118.900000  2.572727  2.633333
8588    107.500000 NaN         0.600000  75.0  85.500000   2.100000  2.800000
8589    104.583333  4.500000   0.691667  75.0  111.500000  2.133333  2.858333
8590    103.250000  11.000000  0.800000  75.0  110.750000  1.800000  2.250000

                                                                      \
itemid  50971       50983     51003      51006      51221      51222
0       4.000  141.800000  1.007143  31.200000  38.042857  12.760000
1       4.025  136.000000 NaN        20.333333  34.800000  12.500000
2       4.080  140.600000 NaN        12.000000  40.680000  13.440000
3       4.100  140.000000 NaN        11.000000  39.700000  12.850000
4       3.700  133.666667  0.010000  14.166667  24.228571  8.000000
...       ...         ...  ..              ...        ...        ...
8586    4.400  137.000000 NaN        8.000000   34.775000  11.175000
8587    4.100  139.200000 NaN        19.363636  25.707143  8.150000
8588    3.850  141.500000 NaN        14.000000  43.450000  14.800000
8589    4.000  138.333333 NaN        17.916667  38.138462  13.184615
8590    3.525  139.250000  0.020000  9.250000   39.350000  14.800000

                                                                           \
itemid      51248      51249      51250       51265      51274      51277
0       32.260000  34.040000  94.800000  134.600000  11.100000  13.140000
1       33.500000  35.200000  95.000000  223.666667  10.500000  12.800000
2       32.000000  33.040000  96.600000  215.800000  12.400000  12.280000
3       30.800000  32.350000  95.000000  354.500000 NaN         13.650000
4       28.733333  33.050000  87.000000  208.666667  70.816667  19.600000
...           ...        ...        ...         ...  ..               ...
8586    29.025000  32.150000  90.500000  523.750000  11.133333  13.550000
8587    29.200000  32.216667  90.833333  137.833333  13.140000  14.100000
8588    31.050000  34.000000  91.500000  183.500000 NaN         13.600000
8589    31.107692  34.600000  90.153846  130.923077  13.160000  12.376923
8590    32.000000  37.950000  84.500000  208.000000  12.950000  14.200000

                                  abn_percent                                \
itemid     51279      51301 51464       50868     50882     50893     50902
0       3.952000  6.040000   0.0   0.0         0.200000  1.000000  0.000000
1       3.740000  10.100000  0.0   0.0         0.000000  0.000000  0.000000
2       4.200000  3.960000  NaN    0.0         0.000000  0.000000  0.000000
3       4.170000  8.650000   0.0   0.0         1.000000  0.000000  0.000000
4       2.781667  3.166667   0.0   0.0         0.000000  1.000000  0.166667
...          ...       ...   ...   ...              ...       ...       ...
8586    3.847500  9.725000   0.0   0.0         0.000000  0.000000  0.000000
8587    2.788333  9.941667   0.0   0.0         0.181818  0.500000  0.181818
8588    4.760000  7.650000   0.0   0.0         0.000000  1.000000  0.500000
8589    4.237692  9.584615   0.0   0.0         0.000000  0.181818  0.083333
8590    4.655000  15.725000  0.0   0.0         0.250000  0.000000  0.000000

                                                                          \
itemid     50911     50912 50920     50931     50960     50970     50971
0       0.333333  1.000000 NaN    0.800000  0.000000  1.000000  0.000000
1       0.000000  0.666667 NaN    0.666667  0.000000  0.000000  0.000000
2      NaN        0.000000  0.0   0.200000  0.000000  0.000000  0.000000
3      NaN        0.000000  0.0   0.000000  0.000000  0.500000  0.000000
4      NaN        0.000000 NaN    0.500000  0.000000  0.833333  0.166667
...     ..             ...  ...        ...       ...       ...       ...
8586   NaN        0.000000  0.0   1.000000  0.000000  0.333333  0.000000
8587   NaN        0.000000  0.0   0.800000  0.272727  0.333333  0.000000
8588   NaN        0.000000  0.0   0.000000  0.000000  0.000000  0.000000
8589    0.000000  0.000000  0.0   0.583333  0.000000  0.333333  0.000000
8590    1.000000  0.000000  0.0   0.250000  0.000000  1.000000  0.000000

                                                                            \
itemid     50983 51003     51006     51221     51222 51248     51249 51250
0       0.000000  1.0   1.000000  0.714286  0.800000  0.8   0.000000  0.0
1       0.000000  0.0   0.333333  1.000000  0.000000  1.0   1.000000  0.0
2       0.000000 NaN    0.000000  0.000000  0.000000  0.4   0.000000  0.0
3       0.000000 NaN    0.000000  0.000000  0.000000  0.0   0.000000  0.0
4       0.333333  0.0   0.166667  1.000000  1.000000  0.0   0.000000  0.0
...          ...  ..         ...       ...       ...  ...        ...  ...
8586    0.000000 NaN    0.000000  1.000000  1.000000  0.0   0.250000  0.0
8587    0.000000 NaN    0.545455  1.000000  1.000000  0.0   0.333333  0.0
8588    0.000000 NaN    0.000000  0.000000  0.500000  0.0   0.000000  0.0
8589    0.000000  0.0   0.333333  0.692308  0.692308  0.0   0.307692  0.0
8590    0.000000  1.0   0.000000  0.750000  0.000000  0.0   1.000000  0.0

                                                       below_min              \
itemid     51265 51274 51277     51279     51301 51464     50868 50882 50893
0       0.800000  0.0   0.0   1.000000  0.200000  0.0   0.0       1.0   0.3
1       0.000000  0.0   0.0   1.000000  0.000000  0.0   0.0       0.0   0.0
2       0.000000  0.0   0.0   0.000000  0.800000 NaN    0.0       0.0   0.0
3       0.000000 NaN    0.0   1.000000  0.000000  0.0   0.0       2.0   0.0
4       0.000000  1.0   1.0   1.000000  1.000000  0.0   0.0       0.0   0.9
...          ...  ..    ...        ...       ...  ...   ...       ...   ...
8586    1.000000  0.0   0.0   1.000000  0.250000  0.0   0.0       0.0   0.0
8587    0.583333  0.6   0.0   1.000000  0.333333  0.0   0.0       2.0   1.0
8588    0.000000 NaN    0.0   0.500000  0.000000  0.0   0.0       0.0   0.2
8589    1.000000  0.8   0.0   0.769231  0.230769  0.0   0.0       0.0   0.2
8590    0.000000  0.0   0.0   0.000000  1.000000  0.0   0.0       2.0   0.0

                                                                          \
itemid 50902 50911 50912 50920 50931 50960 50970 50971 50983 51003 51006
0       0.0   0.0   0.0  NaN    0.0   0.0   0.3   0.0   0.0   0.0   0.0
1       0.0   0.0   0.0  NaN    0.0   0.0   0.0   0.0   0.0   0.0   0.0
2       0.0  NaN    0.0   0.0   0.0   0.0   0.0   0.0   0.0  NaN    0.0
3       0.0  NaN    0.0   0.0   0.0   0.0   0.0   0.0   0.0  NaN    0.0
4       0.0  NaN    0.0  NaN    0.0   0.0   0.9   0.3   4.0   0.0   0.0
...     ...   ..    ...   ...   ...   ...   ...   ...   ...   ..    ...
8586    0.0  NaN    0.0   0.0   0.0   0.0   0.0   0.0   0.0  NaN    0.0
8587    1.0  NaN    0.0   0.0   0.0   0.0   1.4   0.0   0.0  NaN    0.0
8588    0.0  NaN    0.0   0.0   0.0   0.0   0.0   0.0   0.0  NaN    0.0
8589    0.0   0.0   0.0   0.0   0.0   0.0   0.8   0.0   0.0   0.0   0.0
8590    0.0   0.0   0.0   0.0   0.0   0.0   0.7   0.0   0.0   0.0   0.0

                                                                          \
itemid 51221 51222 51248 51249 51250 51265 51274 51277 51279 51301 51464
0       4.5   1.9   0.0   0.0   0.0   32.0  0.0   0.0   0.87  0.3   0.0
1       1.9   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.46  0.0   0.0
2       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.00  0.7  NaN
3       0.0   0.0   0.0   0.0   0.0   0.0  NaN    0.0   0.04  0.0   0.0
4       13.2  4.4   0.0   0.0   0.0   0.0   0.0   0.0   1.58  1.3   0.0
...     ...   ...   ...   ...   ...   ...   ..    ...    ...  ...   ...
8586    1.5   1.2   0.0   0.1   0.0   0.0   0.0   0.0   0.38  0.0   0.0
8587    14.2  4.9   0.0   0.6   0.0   57.0  0.0   0.0   1.73  0.0   0.0
8588    0.0   0.2   0.0   0.0   0.0   0.0  NaN    0.0   0.16  0.0   0.0
8589    6.5   2.3   0.0   0.0   0.0   36.0  0.0   0.0   0.90  0.0   0.0
8590    1.4   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.00  0.0   0.0

       above_max                                                               \
itemid     50868 50882 50893 50902 50911 50912 50920  50931 50960 50970 50971
0       0.0       0.0   0.0   0.0   26.0  0.4  NaN    50.0   0.0   0.0   0.0
1       0.0       0.0   0.0   0.0   0.0   0.3  NaN    108.0  0.0   0.0   0.0
2       0.0       0.0   0.0   0.0  NaN    0.0   0.0   28.0   0.0   0.0   0.0
3       0.0       0.0   0.0   0.0  NaN    0.0   0.0   0.0    0.0   0.1   0.0
4       0.0       0.0   0.0   1.0  NaN    0.0  NaN    59.0   0.0   0.0   0.0
...     ...       ...   ...   ...   ..    ...   ...   ...    ...   ...   ...
8586    0.0       0.0   0.0   0.0  NaN    0.0   0.0   240.0  0.0   0.7   0.0
8587    0.0       0.0   0.0   1.0  NaN    0.0   0.0   53.0   1.5   0.0   0.0
8588    0.0       0.0   0.0   1.0  NaN    0.0   0.0   0.0    0.0   0.0   0.0
8589    0.0       0.0   0.0   3.0   0.0   0.0   0.0   49.0   0.0   0.0   0.0
8590    0.0       0.0   0.0   0.0   1.0   0.0   0.0   68.0   0.0   0.0   0.0

                                                                          \
itemid 50983 51003 51006 51221 51222 51248 51249 51250 51265 51274 51277
0       0.0   1.49  13.0  0.0   0.0   0.7   0.0   0.0   0.0   0.0   0.0
1       0.0   0.00  9.0   0.0   0.0   1.5   0.2   0.0   0.0   0.0   0.0
2       0.0  NaN    0.0   0.0   0.0   0.1   0.0   0.0   0.0   0.0   0.0
3       0.0  NaN    0.0   0.0   0.0   0.0   0.0   0.0   0.0  NaN    0.0
4       0.0   0.00  1.0   0.0   0.0   0.0   0.0   0.0   0.0   76.4  4.3
...     ...   ..    ...   ...   ...   ...   ...   ...   ...   ..    ...
8586    0.0  NaN    0.0   0.0   0.0   0.0   0.0   0.0   85.0  0.0   0.0
8587    0.0  NaN    6.0   0.0   0.0   0.0   0.0   0.0   0.0   2.9   0.0
8588    0.0  NaN    0.0   0.0   0.0   0.0   0.0   0.0   0.0  NaN    0.0
8589    0.0   0.00  4.0   0.0   0.0   0.0   0.6   0.0   0.0   1.4   0.0
8590    0.0   0.01  0.0   0.0   0.0   0.0   3.3   0.0   0.0   0.0   0.0

                         subject_id     hadm_id
itemid 51279 51301 51464
0       0.0   0.0   0.0   10000764   27897940.0
1       0.0   0.0   0.0   10002013   21975601.0
2       0.0   0.0  NaN    10002528   28605730.0
3       0.0   0.0   0.0   10002769   28314592.0
4       0.0   0.0   0.0   10003400   26467376.0
...     ...   ...   ...        ...          ...
8586    0.0   0.5   0.0   19996902   23688425.0
8587    0.0   9.9   0.0   19997448   23560173.0
8588    0.0   0.0   0.0   19998444   23011113.0
8589    0.0   2.8   0.0   19999442   26785317.0
8590    0.0   6.6   0.0   19999840   26071774.0

[8591 rows x 152 columns]

In [48]:
lab_events_impute = lab_events_impute.merge(admissions_sample, left_on = 'hadm_id', right_on = 'hadm_id')

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/reshape/merge.py:618: UserWarning: merging between different levels can give an unintended result (2 levels on the left, 1 on the right)
  warnings.warn(msg, UserWarning)

In [49]:
%%time

np.random.seed(0)

for labitem in lab_range_eg_dic:
    for ind in lab_events_impute.loc[(lab_events_impute[('mean', labitem[0])].isnull()) & (lab_events_impute['ethnicity'] == labitem[1]) & (lab_events_impute['gender'] == labitem[2])].index:
        val_max = lab_range_eg_dic[labitem][1]
        val_min = lab_range_eg_dic[labitem][0]

        val_ave = (val_max + val_min) / 2
        val_std = (val_max - val_ave) * .333

        ran_vals = np.random.normal(val_ave, val_std, 50)
        impute_min = min(ran_vals)
        impute_max = max(ran_vals)
        impute_mean = np.mean(ran_vals)
        
        val_min = lab_events_impute[('min', labitem[0])][ind]
        val_max = lab_events_impute[('max', labitem[0])][ind]
        val_mean = lab_events_impute[('mean', labitem[0])][ind]
        
        lab_events_impute[('min', labitem[0])][ind] = np.where(np.isnan(val_min), impute_min, val_min)
        lab_events_impute[('max', labitem[0])][ind] = np.where(np.isnan(val_max), impute_max, val_max)
        lab_events_impute[('mean', labitem[0])][ind] = np.where(np.isnan(val_mean), impute_mean, val_mean)
#         patient[('mean', labitem)].replace(np.nan, impute_mean)
#         patient[('abn_count', labitem)].replace(np.nan, 0)
# 5k patients
# 10 items - 2.5s
# 20 items - 6s
# 30 items - 28.6s

# 10k patients
# 40 items - 1m 34s

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

CPU times: user 12.6 s, sys: 63.8 ms, total: 12.7 s
Wall time: 12.7 s

In [50]:
for lab_itemid in lab_range_eg_dic:
    lab_events_impute[( 'above_max', lab_itemid[0])] = lab_events_impute[( 'above_max', lab_itemid[0])].replace(np.nan, 0)
    lab_events_impute[( 'below_min', lab_itemid[0])] = lab_events_impute[( 'below_min', lab_itemid[0])].replace(np.nan, 0)
    lab_events_impute[( 'abn_percent', lab_itemid[0])] = lab_events_impute[( 'abn_percent', lab_itemid[0])].replace(np.nan, 0)
#     lab_events_sampled_pivot[( 'comments', lab_itemid)] = lab_events_sampled_pivot[( 'comments', lab_itemid)].replace(np.nan, np.array(np.nan))

In [51]:
missing_vals = lab_events_impute.isnull().sum(axis = 0) 
missing_vals[missing_vals > 0].sort_values()

Series([], dtype: int64)

In [52]:
lab_events_impute_KNN = lab_events_sampled_pivot.copy()

In [53]:
lab_events_impute_KNN = lab_events_impute_KNN.merge(admissions_sample, left_on = 'hadm_id', right_on = 'hadm_id')

dummy = pd.get_dummies(lab_events_impute_KNN['ethnicity'], prefix='ethnicity')
dummy.drop('ethnicity_WHITE', axis=1, inplace=True)
lab_events_impute_KNN = lab_events_impute_KNN.drop('ethnicity', axis=1)
lab_events_impute_KNN = pd.concat([lab_events_impute_KNN, dummy], axis=1)

dummy = pd.get_dummies(lab_events_impute_KNN['insurance'], prefix='insurance')
dummy.drop('insurance_Other', axis=1, inplace=True)
lab_events_impute_KNN = lab_events_impute_KNN.drop('insurance', axis=1)
lab_events_impute_KNN = pd.concat([lab_events_impute_KNN, dummy], axis=1)


lab_events_impute_KNN['gender'] = lab_events_impute_KNN['gender'].map({'M' : 0.0, 'F' : 1.0})
lab_events_impute_KNN['gender'] = pd.to_numeric(lab_events_impute_KNN['gender'])

In [54]:
%%time

from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=math.trunc((lab_events_impute_KNN.shape[0] ** 0.5)))
lab_events_impute_KNN_imputed = imputer.fit_transform(lab_events_impute_KNN)

# 3min 8s

CPU times: user 1min 14s, sys: 12.4 s, total: 1min 27s
Wall time: 1min 22s

In [55]:
lab_events_impute_KNN_imputed = pd.DataFrame(lab_events_impute_KNN_imputed)
lab_events_impute_KNN_imputed.columns = lab_events_impute_KNN.columns

In [56]:
for lab_itemid in lab_range_eg_dic:
    lab_events_impute_KNN_imputed[( 'above_max', lab_itemid[0])] = lab_events_impute_KNN_imputed[( 'above_max', lab_itemid[0])].replace(np.nan, 0)
    lab_events_impute_KNN_imputed[( 'below_min', lab_itemid[0])] = lab_events_impute_KNN_imputed[( 'below_min', lab_itemid[0])].replace(np.nan, 0)
    lab_events_impute_KNN_imputed[( 'abn_percent', lab_itemid[0])] = lab_events_impute_KNN_imputed[( 'abn_percent', lab_itemid[0])].replace(np.nan, 0)
#     lab_events_sampled_pivot[( 'comments', lab_itemid)] = lab_events_sampled_pivot[( 'comments', lab_itemid)].replace(np.nan, np.array(np.nan))

## Standardize the Data for use in Models

In [57]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

In [72]:
labs_scaled = lab_events_impute.copy()
labs_scaled_KNN = lab_events_impute_KNN_imputed.copy()
labs_scaled_missing_data = lab_events_sampled_pivot.copy()

In [73]:
labs_scaled_missing_data = labs_scaled_missing_data.merge(admissions_sample, how='left', left_on='hadm_id', right_on='hadm_id')

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/reshape/merge.py:618: UserWarning: merging between different levels can give an unintended result (2 levels on the left, 1 on the right)
  warnings.warn(msg, UserWarning)

In [74]:
scale_cols = ~labs_scaled.columns.isin([('subject_id', ''), ('hadm_id', ''), 'subject_id', 'hadm_id', 'pos', 'ethnicity', 'gender', 'insurance', 'pneumoia', 'diabetes', 'hypertension', 'atherosclero', 'renal_failure', 'arrhythmia'])

scaler.fit(labs_scaled.loc[:, scale_cols])
labs_scaled.loc[:, scale_cols] = scaler.transform(labs_scaled.loc[:, scale_cols])

scale_cols = ~labs_scaled_KNN.columns.isin([('subject_id', ''), ('hadm_id', ''), 'subject_id', 'hadm_id', 'pos', 'gender', 'ethnicity_AMERICAN INDIAN/ALASKA NATIVE', 'ethnicity_ASIAN', 'ethnicity_BLACK/AFRICAN AMERICAN', 'ethnicity_HISPANIC/LATINO', 'ethnicity_OTHER', 'ethnicity_UNKNOWN', 'insurance_Medicare', 'insurance_Medicaid', 'pneumoia', 'diabetes', 'hypertension', 'atherosclero', 'renal_failure', 'arrhythmia'])

scaler.fit(labs_scaled_KNN.loc[:, scale_cols])
labs_scaled_KNN.loc[:, scale_cols] = scaler.transform(labs_scaled_KNN.loc[:, scale_cols])

scale_cols = ~labs_scaled_missing_data.columns.isin([('subject_id', ''), ('hadm_id', ''), 'subject_id', 'hadm_id', 'pos', 'ethnicity', 'gender', 'insurance', 'pneumoia', 'diabetes', 'hypertension', 'atherosclero', 'renal_failure', 'arrhythmia'])

scaler.fit(labs_scaled_missing_data.loc[:, scale_cols])
labs_scaled_missing_data.loc[:, scale_cols] = scaler.transform(labs_scaled_missing_data.loc[:, scale_cols])

## Save Lab Results for Models

In [85]:
# Save non-imputed file as well for forest models

pos_final_test = labs_scaled.copy()
pos_KNN_final_test = labs_scaled_KNN.copy()
pos_final_missing_data_test = labs_scaled_missing_data.copy()

In [86]:
dummy = pd.get_dummies(pos_final_test['ethnicity'], prefix='ethnicity')
dummy.drop('ethnicity_WHITE', axis=1, inplace=True)
pos_final_test = pos_final_test.drop('ethnicity', axis=1)
pos_final_test = pd.concat([pos_final_test, dummy], axis=1)

pos_final_test['gender'] = pos_final_test['gender'].map({'M' : 0.0, 'F' : 1.0})
pos_final_test['gender'] = pd.to_numeric(pos_final_test['gender'])

dummy = pd.get_dummies(pos_final_test['insurance'], prefix='insurance')
dummy.drop('insurance_Other', axis=1, inplace=True)
pos_final_test = pos_final_test.drop('insurance', axis=1)
pos_final_test = pd.concat([pos_final_test, dummy], axis=1)



dummy = pd.get_dummies(pos_final_missing_data_test['ethnicity'], prefix='ethnicity')
dummy.drop('ethnicity_WHITE', axis=1, inplace=True)
pos_final_missing_data_test = pos_final_missing_data_test.drop('ethnicity', axis=1)
pos_final_missing_data_test = pd.concat([pos_final_missing_data_test, dummy], axis=1)

pos_final_missing_data_test['gender'] = pos_final_missing_data_test['gender'].map({'M' : 0.0, 'F' : 1.0})
pos_final_missing_data_test['gender'] = pd.to_numeric(pos_final_missing_data_test['gender'])

dummy = pd.get_dummies(pos_final_missing_data_test['insurance'], prefix='insurance')
dummy.drop('insurance_Other', axis=1, inplace=True)
pos_final_missing_data_test = pos_final_missing_data_test.drop('insurance', axis=1)
pos_final_missing_data_test = pd.concat([pos_final_missing_data_test, dummy], axis=1)

In [87]:
labitem_names = d_labitems.loc[d_labitems['itemid'].isin(itemid_sub_sample)].copy()
labitem_names['Short Name'] = labitem_names['label'] + ' - ' + labitem_names['fluid'] + ' - ' + labitem_names['category']

labitem_names = labitem_names[['itemid', 'Short Name']]
labitem_names.set_index('itemid', inplace = True)
labitem_dict = labitem_names.to_dict()['Short Name']

In [88]:
def rename_lab_col(table_name):
    num_cols = ~table_name.columns.isin([('subject_id', ''), ('hadm_id', ''), 'subject_id', 'hadm_id', 'pos', 'gender', 'ethnicity_AMERICAN INDIAN/ALASKA NATIVE', 'ethnicity_ASIAN', 'ethnicity_BLACK/AFRICAN AMERICAN', 'ethnicity_HISPANIC/LATINO', 'ethnicity_OTHER', 'ethnicity_UNKNOWN', 'age','ed_length', 'insurance_Medicare','insurance_Medicaid', 'pneumoia', 'diabetes', 'hypertension', 'atherosclero', 'renal_failure', 'arrhythmia'])

    col_names = []
    col_names = list(table_name.loc[:, num_cols].columns)

    x, y = zip(*col_names)
    col_names = list(zip(x, list(map(labitem_dict.get, y))))

    rename_dict = dict(zip(table_name.loc[:, num_cols].columns, col_names))

    table_name.rename(columns = rename_dict, inplace = True)

In [89]:
rename_lab_col(pos_final_test)
rename_lab_col(pos_KNN_final_test)
rename_lab_col(pos_final_missing_data_test)

In [90]:
pos_final_test.to_csv('data/pos_final_test.csv.gz', compression="gzip")
pos_KNN_final_test.to_csv('data/pos_KNN_final_test.csv.gz', compression="gzip")
pos_final_missing_data_test.to_csv('data/pos_final_missing_data_test.csv.gz', compression="gzip")

## Check for Multicollinearity

In [94]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant

In [198]:
%%time

num_cols = ~pos_final_test.columns.isin([('subject_id', ''), ('hadm_id', ''), 'subject_id', 'hadm_id', 'pos'])

labs_scaled_features = pos_final_test.loc[:, num_cols]
add_constant(labs_scaled_features)

vif_vals = [variance_inflation_factor(labs_scaled_features.values, i) for i in range(labs_scaled_features.shape[1])]
vif_df = pd.DataFrame(vif_vals, index=labs_scaled_features.columns).reset_index().sort_values([0], ascending = False).reset_index(drop = True)

/opt/anaconda3/lib/python3.7/site-packages/statsmodels/stats/outliers_influence.py:193: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)

CPU times: user 2min, sys: 16.8 s, total: 2min 17s
Wall time: 23.7 s

In [199]:
%%time

cols_to_drop = []
cols_to_use = ~labs_scaled_features.columns.isin(cols_to_drop)
labs_scaled_features_limited = labs_scaled_features.loc[:, cols_to_use]

while (vif_df.iloc[0, 1] > 5):
    vif_df = pd.DataFrame(vif_vals, index=labs_scaled_features_limited.columns).reset_index().sort_values([0], ascending = False).reset_index(drop = True)
    
    cols_to_drop.append(vif_df.iloc[0, 0])
    cols_to_use = ~labs_scaled_features.columns.isin(cols_to_drop)
    
    labs_scaled_features_limited = labs_scaled_features.loc[:, cols_to_use]
    
    vif_vals = [variance_inflation_factor(labs_scaled_features_limited.values, i) for i in range(labs_scaled_features_limited.shape[1])]
    vif_df = pd.DataFrame(vif_vals, index=labs_scaled_features_limited.columns).reset_index().sort_values([0], ascending = False).reset_index(drop = True)
    
cols_to_drop

CPU times: user 1h 17min 28s, sys: 10min 48s, total: 1h 28min 17s
Wall time: 15min 5s

[('max', 'Bilirubin - Urine - Hematology'),
 ('max', 'Troponin T - Blood - Chemistry'),
 ('mean', 'MCH - Blood - Hematology'),
 ('mean', 'Red Blood Cells - Blood - Hematology'),
 ('max', 'Glucose - Blood - Chemistry'),
 ('mean', 'Hemoglobin - Blood - Hematology'),
 ('max', 'PT - Blood - Hematology'),
 ('mean', 'MCV - Blood - Hematology'),
 ('max', 'Magnesium - Blood - Chemistry'),
 ('mean', 'Troponin T - Blood - Chemistry'),
 ('mean', 'RDW - Blood - Hematology'),
 ('max', 'Creatine Kinase, MB Isoenzyme - Blood - Chemistry'),
 ('min', 'Hemoglobin - Blood - Hematology'),
 ('max', 'Creatinine - Blood - Chemistry'),
 ('mean', 'Bilirubin - Urine - Hematology'),
 ('mean', 'MCHC - Blood - Hematology'),
 ('min', 'Hematocrit - Blood - Hematology'),
 ('mean', 'Creatinine - Blood - Chemistry'),
 ('max', 'MCH - Blood - Hematology'),
 ('mean', 'Platelet Count - Blood - Hematology'),
 ('mean', 'Estimated GFR (MDRD equation) - Blood - Chemistry'),
 ('max', 'White Blood Cells - Blood - Hematology'),
 ('mean', 'Creatine Kinase, MB Isoenzyme - Blood - Chemistry'),
 ('mean', 'Urea Nitrogen - Blood - Chemistry'),
 ('min', 'MCH - Blood - Hematology'),
 ('mean', 'Hematocrit - Blood - Hematology'),
 ('max', 'Red Blood Cells - Blood - Hematology'),
 ('below_min', 'Red Blood Cells - Blood - Hematology'),
 ('max', 'Urea Nitrogen - Blood - Chemistry'),
 ('mean', 'Chloride - Blood - Chemistry'),
 ('mean', 'White Blood Cells - Blood - Hematology'),
 ('mean', 'Calcium, Total - Blood - Chemistry'),
 ('below_min', 'Hemoglobin - Blood - Hematology'),
 ('mean', 'Bicarbonate - Blood - Chemistry'),
 ('mean', 'Sodium - Blood - Chemistry'),
 ('max', 'MCV - Blood - Hematology'),
 ('mean', 'Anion Gap - Blood - Chemistry'),
 ('mean', 'Phosphate - Blood - Chemistry'),
 ('max', 'RDW - Blood - Hematology'),
 ('mean', 'Potassium - Blood - Chemistry'),
 ('max', 'Hemoglobin - Blood - Hematology'),
 ('mean', 'PT - Blood - Hematology'),
 ('min', 'Red Blood Cells - Blood - Hematology'),
 ('below_min', 'MCH - Blood - Hematology'),
 ('below_min', 'Estimated GFR (MDRD equation) - Blood - Chemistry'),
 ('min', 'Chloride - Blood - Chemistry'),
 ('mean', 'Glucose - Blood - Chemistry'),
 ('min', 'Bicarbonate - Blood - Chemistry'),
 ('max', 'Phosphate - Blood - Chemistry'),
 ('max', 'Platelet Count - Blood - Hematology'),
 ('above_max', 'Troponin T - Blood - Chemistry'),
 ('above_max', 'Creatinine - Blood - Chemistry'),
 ('max', 'Chloride - Blood - Chemistry'),
 ('max', 'MCHC - Blood - Hematology'),
 ('min', 'Calcium, Total - Blood - Chemistry'),
 ('max', 'Potassium - Blood - Chemistry')]

Again for KNN

In [200]:
%%time

num_cols_KNN = ~pos_KNN_final_test.columns.isin([('subject_id', ''), ('hadm_id', ''), 'subject_id', 'hadm_id', 'pos'])

labs_scaled_features_KNN = pos_KNN_final_test.loc[:, num_cols_KNN]
add_constant(labs_scaled_features_KNN)

vif_vals_KNN = [variance_inflation_factor(labs_scaled_features_KNN.values, i) for i in range(labs_scaled_features_KNN.shape[1])]
vif_df_KNN = pd.DataFrame(vif_vals_KNN, index=labs_scaled_features_KNN.columns).reset_index().sort_values([0], ascending = False).reset_index(drop = True)

CPU times: user 2min 4s, sys: 19.3 s, total: 2min 23s
Wall time: 25.1 s

In [201]:
%%time

cols_to_drop_KNN = []
cols_to_use_KNN = ~labs_scaled_features_KNN.columns.isin(cols_to_drop_KNN)
labs_scaled_features_limited_KNN = labs_scaled_features_KNN.loc[:, cols_to_use_KNN]

while (vif_df_KNN.iloc[0, 1] > 5):
    vif_df_KNN = pd.DataFrame(vif_vals_KNN, index=labs_scaled_features_limited_KNN.columns).reset_index().sort_values([0], ascending = False).reset_index(drop = True)
    
    cols_to_drop_KNN.append(vif_df_KNN.iloc[0, 0])
    cols_to_use_KNN = ~labs_scaled_features_KNN.columns.isin(cols_to_drop_KNN)
    
    labs_scaled_features_limited_KNN = labs_scaled_features_KNN.loc[:, cols_to_use_KNN]
    
    vif_vals_KNN = [variance_inflation_factor(labs_scaled_features_limited_KNN.values, i) for i in range(labs_scaled_features_limited_KNN.shape[1])]
    vif_df_KNN = pd.DataFrame(vif_vals_KNN, index=labs_scaled_features_limited_KNN.columns).reset_index().sort_values([0], ascending = False).reset_index(drop = True)
    
cols_to_drop_KNN

CPU times: user 1h 18min 34s, sys: 10min 28s, total: 1h 29min 2s
Wall time: 15min 15s

[('max', 'Bilirubin - Urine - Hematology'),
 ('mean', 'MCH - Blood - Hematology'),
 ('mean', 'Red Blood Cells - Blood - Hematology'),
 ('mean', 'MCV - Blood - Hematology'),
 ('max', 'Glucose - Blood - Chemistry'),
 ('mean', 'Hemoglobin - Blood - Hematology'),
 ('mean', 'Estimated GFR (MDRD equation) - Blood - Chemistry'),
 ('max', 'PT - Blood - Hematology'),
 ('max', 'Magnesium - Blood - Chemistry'),
 ('mean', 'RDW - Blood - Hematology'),
 ('mean', 'Troponin T - Blood - Chemistry'),
 ('min', 'Hemoglobin - Blood - Hematology'),
 ('max', 'Creatinine - Blood - Chemistry'),
 ('max', 'MCH - Blood - Hematology'),
 ('max', 'Creatine Kinase, MB Isoenzyme - Blood - Chemistry'),
 ('mean', 'MCHC - Blood - Hematology'),
 ('mean', 'Bilirubin - Urine - Hematology'),
 ('min', 'Hematocrit - Blood - Hematology'),
 ('mean', 'Creatinine - Blood - Chemistry'),
 ('mean', 'Platelet Count - Blood - Hematology'),
 ('min', 'MCH - Blood - Hematology'),
 ('max', 'Red Blood Cells - Blood - Hematology'),
 ('max', 'White Blood Cells - Blood - Hematology'),
 ('mean', 'Urea Nitrogen - Blood - Chemistry'),
 ('mean', 'Creatine Kinase, MB Isoenzyme - Blood - Chemistry'),
 ('max', 'Urea Nitrogen - Blood - Chemistry'),
 ('below_min', 'Red Blood Cells - Blood - Hematology'),
 ('mean', 'Chloride - Blood - Chemistry'),
 ('mean', 'Hematocrit - Blood - Hematology'),
 ('mean', 'Calcium, Total - Blood - Chemistry'),
 ('mean', 'White Blood Cells - Blood - Hematology'),
 ('mean', 'Bicarbonate - Blood - Chemistry'),
 ('max', 'MCV - Blood - Hematology'),
 ('below_min', 'Hemoglobin - Blood - Hematology'),
 ('max', 'Hemoglobin - Blood - Hematology'),
 ('mean', 'Sodium - Blood - Chemistry'),
 ('max', 'Troponin T - Blood - Chemistry'),
 ('mean', 'Anion Gap - Blood - Chemistry'),
 ('max', 'RDW - Blood - Hematology'),
 ('mean', 'Phosphate - Blood - Chemistry'),
 ('min', 'Estimated GFR (MDRD equation) - Blood - Chemistry'),
 ('mean', 'Potassium - Blood - Chemistry'),
 ('min', 'Red Blood Cells - Blood - Hematology'),
 ('mean', 'PT - Blood - Hematology'),
 ('below_min', 'MCH - Blood - Hematology'),
 ('min', 'Chloride - Blood - Chemistry'),
 ('min', 'Bicarbonate - Blood - Chemistry'),
 ('mean', 'Glucose - Blood - Chemistry'),
 ('min', 'MCHC - Blood - Hematology'),
 ('max', 'Platelet Count - Blood - Hematology'),
 ('max', 'Phosphate - Blood - Chemistry'),
 ('min', 'Magnesium - Blood - Chemistry'),
 ('max', 'Chloride - Blood - Chemistry'),
 ('above_max', 'Creatinine - Blood - Chemistry'),
 ('min', 'Calcium, Total - Blood - Chemistry'),
 ('min', 'Sodium - Blood - Chemistry'),
 ('above_max', 'Troponin T - Blood - Chemistry'),
 ('below_min', 'Estimated GFR (MDRD equation) - Blood - Chemistry'),
 ('max', 'Potassium - Blood - Chemistry'),
 ('above_max', 'MCH - Blood - Hematology')]

Save pickles

In [213]:
pos_final_test_trimmed = labs_scaled_features.loc[:, cols_to_use].merge(pos_final_test[['subject_id', 'hadm_id', 'pos']], left_index = True, right_index = True)
pos_KNN_final_test_trimmed = labs_scaled_features_KNN.loc[:, cols_to_use_KNN].merge(pos_KNN_final_test[['subject_id', 'hadm_id', 'pos']], left_index = True, right_index = True)

In [214]:
pos_final_test_trimmed.to_csv('data/pos_final_test_trimmed.csv.gz', compression="gzip")
pos_KNN_final_test_trimmed.to_csv('data/pos_KNN_final_test_trimmed.csv.gz', compression="gzip")