In [1]:
import pandas as pd
import numpy as np
from sklearn.utils import resample
import math

In [2]:
pd.set_option('display.max_columns',None)

In [116]:
d_labitems = pd.read_csv('data/mimic-iv-0.4/hosp/d_labitems.csv.gz', compression='gzip')

In [117]:
admissions_sample = pd.read_pickle("data/admissions_sample.pkl")

In [118]:
admissions_sample

,subject_id,hadm_id,pos,ethnicity,ed_length,insurance,gender,age
0,19257432,24061325,1,WHITE,8.233333,Medicare,M,70
1,15812823,21055965,1,WHITE,3.033333,Medicare,M,84
2,14868010,21926866,1,WHITE,5.650000,Medicare,F,86
3,14237722,25273073,1,WHITE,4.933333,Medicare,F,66
4,17116333,28885585,1,WHITE,0.000000,Medicare,F,73
...,...,...,...,...,...,...,...,...
14995,18264133,26719786,0,WHITE,0.000000,Medicaid,F,51
14996,14609714,23634251,0,WHITE,21.900000,Medicaid,M,52
14997,19906137,23380658,0,WHITE,6.216667,Other,F,24
14998,15519782,29268751,0,ASIAN,4.983333,Other,M,18
14999,18455693,28117091,0,HISPANIC/LATINO,11.683333,Medicaid,M,51

## Pull Chart and Lab data only where it matches our sample patient list

In [5]:
# # We have Decided not to use Chart data after exploring it further
# # However, it still comes up in our discussions, so keeping this for now
# # Will need to update this code based on other updates we've made

# %%time #run this for next time

# chunksize = 3*(10 ** 6)
# counter=0
# chartevents_sample = []
# for chunk in pd.read_csv('data/mimic-iv-0.4/icu/chartevents.csv.gz', compression='gzip', chunksize=chunksize):
#     chartevents_sample.append(chunk[chunk['subject_id'].isin(list(admissions_sample.subject_id))])
#     counter+=1
#     print(f'chunk {counter} processed')

# chartevents_final = pd.concat(chartevents_sample)

In [6]:
# chartevents_final.to_pickle("./data/chartevents_final.pkl")

In [7]:
# chartevents_final = pd.read_pickle("./data/chartevents_final.pkl")

In [8]:
# chartevents_final.shape

Load Lab Events table

In [9]:
# %%time

# chunksize = 3*(10 ** 6)
# counter=0
# lab_events_sample = []
# for chunk in pd.read_csv('data/mimic-iv-0.4/hosp/labevents.csv.gz', compression='gzip', chunksize=chunksize):
#     lab_events_sample.append(chunk[chunk['subject_id'].isin(list(admissions_sample.subject_id))])
#     counter+=1
#     print(f'chunk {counter} processed')

# lab_events_final = pd.concat(lab_events_sample)
# # 5k patients
# # 3min 52s

# # 10k patients
# # 4min 6s

# # 15k patients
# # 4min 27s

In [10]:
# lab_events_final.to_pickle("./data/lab_events_final.pkl")

In [13]:
lab_events_final = pd.read_pickle("data/lab_events_final.pkl")

In [14]:
lab_events_final.shape

(6765210, 15)

## Manipulating the Data

Take only records related to our sample patients

Filter lab events based on first hospital visit of our sample population

In [15]:
# Can we do this filtering when generating lab data?
# For now let's not as we're discussing using different hospitalizations from the same subjects

%time lab_events_sampled = lab_events_final[lab_events_final['hadm_id'].isin(admissions_sample.hadm_id)]

CPU times: user 1.71 s, sys: 699 ms, total: 2.41 s
Wall time: 2.42 s

Check how many patients have had each test done

In [18]:
lab_events_sampled.groupby('itemid')['subject_id'].nunique().sort_values(ascending = False).head(10)

itemid
51221    8433
51265    8297
51222    8236
51301    8235
51248    8229
51279    8229
51277    8229
51250    8229
51249    8229
50912    7985
Name: subject_id, dtype: int64

Most common tests performed on patients with pos diagnosis

In [19]:
lab_events_sampled[lab_events_sampled['subject_id'].isin(list(admissions_sample[admissions_sample['pos'] == 1].subject_id))].groupby('itemid')['subject_id'].nunique().sort_values(ascending = False).head(10)

itemid
50971    1196
50983    1193
50912    1192
50902    1191
51006    1191
51221    1181
51265    1181
50868    1180
50882    1180
50931    1174
Name: subject_id, dtype: int64

Item Black List

In [130]:
item_black_list = []
# # 50920 - test results are text in comments - need to come back and figure out how to handle this

Bonus Items To Add

In [131]:
# These test, although they have much missingness, are known to be good indicators of congestive heart failure

item_bonus_list = [51274, 51003, 50920, 50911, 51464]
# 51274 PT
# 50920 Estimated GFR (MDRD equation)
# 51003 Troponin T
# 50911 Creatine Kinase, MB Isoenzyme
# 51464 Specific Gravity

Take only the X most commonly performed tests

In [394]:
top_test_num = 20

lab_events_valid = lab_events_sampled[~lab_events_sampled['itemid'].isin(item_black_list)]

# On patients with pos diagnosis
itemid_sub_sample = lab_events_valid[lab_events_valid['subject_id'].isin(list(admissions_sample[admissions_sample['pos'] == 1].subject_id))].groupby('itemid')['subject_id'].nunique().sort_values(ascending = False).head(top_test_num).reset_index().rename(columns = {'index' : 'itemid'}).itemid.to_list()
# On all sample patients
# itemid_sub_sample = lab_events_sampled.groupby('itemid')['subject_id'].nunique().sort_values(ascending = False).head(top_test_num).reset_index().rename(columns = {'index' : 'itemid'}).itemid.to_list()

itemid_sub_sample = itemid_sub_sample + item_bonus_list

lab_events_sampled_sub = lab_events_sampled[lab_events_sampled['itemid'].isin(itemid_sub_sample)]

In [395]:
# # lab_events_valid['subject_id'].isin(list(admissions_sample[admissions_sample['pos'] == 1].subject_id))

# top_labs = lab_events_sampled.groupby(['itemid']).agg(freq=('subject_id', lambda x: len(np.unique(x))))\
# .reset_index().sort_values('freq', ascending=False).head(60)

# top_labs

In [134]:
# subset_labs['subject_id'].reset_index(drop=True).plot(kind='line')

In [135]:
# print(lab_events_valid[lab_events_valid['subject_id'].isin(list(admissions_sample[admissions_sample['pos'] == 1].subject_id))].groupby('itemid')['subject_id'].nunique().sort_values(ascending = False).head(20).reset_index().rename(columns = {'index' : 'itemid'}))

# # print(1191 / admissions_sample[admissions_sample['pos'] == 1].subject_id.nunique())
# # print(1192 / admissions_sample[admissions_sample['pos'] == 1].subject_id.nunique())

In [397]:
# print(lab_events_valid[lab_events_valid['subject_id'].isin(list(admissions_sample[admissions_sample['pos'] == 0].subject_id))].groupby('itemid')['subject_id'].nunique().sort_values(ascending = False).head(20).reset_index().rename(columns = {'index' : 'itemid'}))

# # print(6726 / admissions_sample[admissions_sample['pos'] == 0].subject_id.nunique())
# # print(6793 / admissions_sample[admissions_sample['pos'] == 0].subject_id.nunique())

In [398]:
# subset_labs['subject_id'].reset_index(drop=True).plot(kind='line')

## Data Cleaning

Make a separate table where we run some of the forest models on the Text data?

Special updates for Urine sample tests

In [399]:
# Other invalid value imputation
# For now set them all to normal/most common value
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51237) & (lab_events_sampled_sub['value'].isin([np.nan, 'ERROR', 'UNABLE TO REPORT'])), ['value', 'valuenum']] = 1.1
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51237) & (lab_events_sampled_sub['value'].isin(['>21.8'])), ['value', 'valuenum']] = 22
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51237) & (lab_events_sampled_sub['value'].isin(['>19.2'])), ['value', 'valuenum']] = 20

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51275) &  (lab_events_sampled_sub['value'].isin(['>150', '>150.0'])), ['value', 'valuenum']] = 175

# Should we just delete these?
# For 5k patients there are 6 records here
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51274) &  (lab_events_sampled_sub['value'].isin(['ERROR'])), ['value', 'valuenum']] = 11

# Should we just delete these?
# For 5k patients there are 1 records here
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51275) &  (lab_events_sampled_sub['value'].isin(['UNABLE TO REPORT'])), ['value', 'valuenum']] = 31

# Clumsy..
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51275) &  (lab_events_sampled_sub['value'].isin(['34..3'])), ['value', 'valuenum']] = 34.3

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

More Data Cleaning

In [400]:
%%time

# Can probably make a helper function combining some of the below mapping

# 51466
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51466) & (lab_events_sampled_sub['value'].isin([np.nan])), ['value']] = lab_events_sampled_sub['comments']
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51466) & (lab_events_sampled_sub['value'].isin(['NEG.  ', 'NEG', ' '])), ['value', 'valuenum']] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51466) & (lab_events_sampled_sub['value'].isin(['TR', 'TR.  ', 'TR*.  '])), ['value', 'valuenum']] = 1
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51466) & (lab_events_sampled_sub['value'].isin(['SM', 'SM .  ', 'SM*.  '])), ['value', 'valuenum']] = 2
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51466) & (lab_events_sampled_sub['value'].isin(['MOD', 'MOD.  ', 'MOD*.  '])), ['value', 'valuenum']] = 3
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51466) & (lab_events_sampled_sub['value'].isin(['LG', 'LG.  ', 'LG*.  ', 'LGE', 'LRG'])), ['value', 'valuenum']] = 4

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51466) & (lab_events_sampled_sub['ref_range_lower'].isnull()), 'ref_range_lower'] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51466) & (lab_events_sampled_sub['ref_range_upper'].isnull()), 'ref_range_upper'] = 0

# 51514
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51514) & (lab_events_sampled_sub['value'].isin([np.nan])), ['value']] = lab_events_sampled_sub['comments']
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51514) & (lab_events_sampled_sub['value'].isin(['NEG.  ', 'NEG', 'NORMAL.  ', ' '])), ['value', 'valuenum']] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51514) & (lab_events_sampled_sub['value'].isin(['>8'])), ['value', 'valuenum']] = 10
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51514) & (lab_events_sampled_sub['value'].isin(['>12.  ', '>12*.  '])), ['value', 'valuenum']] = 15

# 51464
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51464) & (lab_events_sampled_sub['value'].isin([np.nan])), ['value']] = lab_events_sampled_sub['comments']
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51464) & (lab_events_sampled_sub['value'].isin(['NEG.  ', 'NEG', ' '])), ['value', 'valuenum']] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51464) & (lab_events_sampled_sub['value'].isin(['SM', 'SM .  ', 'SM*.  '])), ['value', 'valuenum']] = 1
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51464) & (lab_events_sampled_sub['value'].isin(['MOD', 'MOD.  ', 'MOD*.  '])), ['value', 'valuenum']] = 2
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51464) & (lab_events_sampled_sub['value'].isin(['LG', 'LG.  ', 'LG*.  ', 'LGE'])), ['value', 'valuenum']] = 3

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51464) & (lab_events_sampled_sub['ref_range_lower'].isnull()), 'ref_range_lower'] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51464) & (lab_events_sampled_sub['ref_range_upper'].isnull()), 'ref_range_upper'] = 0

# 51487
# Should Pos be marked abnormal?
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51487) & (lab_events_sampled_sub['value'].isin([np.nan])), ['value']] = lab_events_sampled_sub['comments']
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51487) & (lab_events_sampled_sub['value'].isin(['NEG.  ', 'NEG', ' '])), ['value', 'valuenum']] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51487) & (lab_events_sampled_sub['value'].isin(['POS.  ', 'POS', 'POS*.  '])), ['value', 'valuenum']] = 1

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51487) & (lab_events_sampled_sub['ref_range_lower'].isnull()), 'ref_range_lower'] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51487) & (lab_events_sampled_sub['ref_range_upper'].isnull()), 'ref_range_upper'] = 0

# 51492
# Should Pos be marked abnormal?
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51492) & (lab_events_sampled_sub['value'].isin([np.nan])), ['value']] = lab_events_sampled_sub['comments']
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51492) & (lab_events_sampled_sub['value'].isin(['___'])), ['value', 'valuenum']] = np.nan
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51492) & (lab_events_sampled_sub['value'].isin(['NEG.  ', 'NEG', ' '])), ['value', 'valuenum']] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51492) & (lab_events_sampled_sub['value'].isin(['TR', 'TR.  ', 'TR*.  '])), ['value', 'valuenum']] = 10
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51492) & (lab_events_sampled_sub['value'].str.contains('TR.')), ['value', 'valuenum']] = 10
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51492) & (lab_events_sampled_sub['value'].isin(['>300'])), ['value', 'valuenum']] = 350
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51492) & (lab_events_sampled_sub['value'].isin(['>600.  ', '>600*.  '])), ['value', 'valuenum']] = 700

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51492) & (lab_events_sampled_sub['ref_range_lower'].isnull()), 'ref_range_lower'] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51492) & (lab_events_sampled_sub['ref_range_upper'].isnull()), 'ref_range_upper'] = 0

# 51486
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51486) & (lab_events_sampled_sub['value'].isin([np.nan])), ['value']] = lab_events_sampled_sub['comments']
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51486) & (lab_events_sampled_sub['value'].isin(['NEG.  ', 'NEG', ' ', 'N'])), ['value', 'valuenum']] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51486) & (lab_events_sampled_sub['value'].isin(['TR', 'TR.  ', 'TR*.  '])), ['value', 'valuenum']] = 1
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51486) & (lab_events_sampled_sub['value'].isin(['SM', 'SM .  ', 'SM*.  '])), ['value', 'valuenum']] = 2
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51486) & (lab_events_sampled_sub['value'].isin(['MOD', 'MOD.  ', 'MOD*.  '])), ['value', 'valuenum']] = 3
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51486) & (lab_events_sampled_sub['value'].isin(['LG', 'LG.  ', 'LG*.  ', 'LGE'])), ['value', 'valuenum']] = 4

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51486) & (lab_events_sampled_sub['ref_range_lower'].isnull()), 'ref_range_lower'] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51486) & (lab_events_sampled_sub['ref_range_upper'].isnull()), 'ref_range_upper'] = 0

# 51506
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51506) & (lab_events_sampled_sub['value'].isin([np.nan])), ['value']] = lab_events_sampled_sub['comments']
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51506) & (lab_events_sampled_sub['value'].isin(['Clear.  ', 'CLEAR.  ', 'Clear', ' ', 'CLEAR'])), ['value', 'valuenum']] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51506) & (lab_events_sampled_sub['value'].isin(['SlHazy'])), ['value', 'valuenum']] = 0.5
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51506) & (lab_events_sampled_sub['value'].isin(['Hazy.  ', 'Hazy*.  ', 'Hazy', 'HAZY', 'HAZY*.  ', 'Slcldy', 'SLCLOUDY'])), ['value', 'valuenum']] = 1
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51506) & (lab_events_sampled_sub['value'].isin(['Cloudy*.  ', 'Cloudy.  ', 'Cloudy', 'CLO', 'CLOUDY', 'CLOU', 'CLOUDY*.  '])), ['value', 'valuenum']] = 2

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51506) & (lab_events_sampled_sub['ref_range_lower'].isnull()), 'ref_range_lower'] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51506) & (lab_events_sampled_sub['ref_range_upper'].isnull()), 'ref_range_upper'] = 0

CPU times: user 3.55 s, sys: 164 ms, total: 3.72 s
Wall time: 3.72 s

Additional Data Cleaning

In [401]:
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51484) & (lab_events_sampled_sub['value'].isin([np.nan, ' ', 'TR', 'NEG'])), ['value', 'valuenum']] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51478) & (lab_events_sampled_sub['value'].isin([np.nan, ' ', 'TR', 'NEG'])), ['value', 'valuenum']] = 0

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51484) & (lab_events_sampled_sub['ref_range_lower'].isnull()), 'ref_range_lower'] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51478) & (lab_events_sampled_sub['ref_range_lower'].isnull()), 'ref_range_lower'] = 0

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51484) & (lab_events_sampled_sub['ref_range_upper'].isnull()), 'ref_range_upper'] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51478) & (lab_events_sampled_sub['ref_range_upper'].isnull()), 'ref_range_upper'] = 0

# What are good replacement values for these?
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51484) & (lab_events_sampled_sub['value'].isin(['>80'])), ['value', 'valuenum']] = 120
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51478) & (lab_events_sampled_sub['value'].isin(['>1000'])), ['value', 'valuenum']] = 1250

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51498) & (lab_events_sampled_sub['value'].isin(['<1.005'])), ['value', 'valuenum']] = 1.000
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51498) & (lab_events_sampled_sub['value'].isin(['<=1.005'])), ['value', 'valuenum']] = 1.000
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51498) & (lab_events_sampled_sub['value'].isin(['>1.030', '.1.030'])), ['value', 'valuenum']] = 1.035
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51498) & (lab_events_sampled_sub['value'].isin(['>1.035'])), ['value', 'valuenum']] = 1.040
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51498) & (lab_events_sampled_sub['value'].isin(['>1.050'])), ['value', 'valuenum']] = 1.055
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51498) & (lab_events_sampled_sub['comments'].isin(['>1.050*.'])), ['value', 'valuenum']] = 1.055
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51498) & (lab_events_sampled_sub['value'].isin(['>=1.035'])), ['value', 'valuenum']] = 1.040
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51498) & (lab_events_sampled_sub['value'].isin([' '])), ['value', 'valuenum']] = 1.015

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51237) & (lab_events_sampled_sub['value'].isin(['>13.4'])), ['value', 'valuenum']] = 15

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51491) & (lab_events_sampled_sub['value'].isin([' '])), ['value', 'valuenum']] = 6.0

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51498) & (lab_events_sampled_sub['value'].isin(['>1.070'])), ['value', 'valuenum']] = 1.080

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51275) & (lab_events_sampled_sub['value'].isin(['ERROR'])), ['value', 'valuenum']] = np.nan

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51484) & (lab_events_sampled_sub['value'].astype(float) > 0), 'flag'] = 'abnormal'
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51478) & (lab_events_sampled_sub['value'].astype(float) > 0), 'flag'] = 'abnormal'

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51466) & (lab_events_sampled_sub['value'].astype(float) > 0), 'flag'] = 'abnormal'

In [402]:
# Check on differences between value and valuenum columns

lab_events_sampled_sub.loc[((lab_events_sampled_sub['value'].astype(str) + str('.0')) != lab_events_sampled_sub['valuenum'].astype(str)) 
                           & ((lab_events_sampled_sub['value'].astype(str) + str('0')) != lab_events_sampled_sub['valuenum'].astype(str)) 
                           & ((lab_events_sampled_sub['value'].astype(str)) != lab_events_sampled_sub['valuenum'].astype(str)) 
                           & ((lab_events_sampled_sub['value'].astype(str)) != lab_events_sampled_sub['valuenum'].astype(str) + str('0')) 
                           & ((str('0') + lab_events_sampled_sub['value'].astype(str)) != lab_events_sampled_sub['valuenum'].astype(str))
                           & ((lab_events_sampled_sub['value'].astype(str)) != round(lab_events_sampled_sub['valuenum'], 10).astype(str)), ]

Empty DataFrame
Columns: [labevent_id, subject_id, hadm_id, specimen_id, itemid, charttime, storetime, value, valuenum, valueuom, ref_range_lower, ref_range_upper, flag, priority, comments]
Index: []

## Code to look into specific test values for cleaning

In [403]:
# lab_events_sampled_sub[lab_events_sampled_sub['value'] == 'N']

In [456]:
# Used to investigate bad data
pd.set_option('display.max_colwidth', -1)
pd.set_option('display.max_rows', 200)

bad_id = 50920

# lab_events_sampled_sub[lab_events_sampled_sub['itemid'] == bad_id].value.value_counts().reset_index().sort_values(by = 'index')
# lab_events_sampled_sub[lab_events_sampled_sub['itemid'] == bad_id][['value', 'comments']].drop_duplicates()
lab_events_sampled_sub[lab_events_sampled_sub['itemid'] == bad_id][['flag', 'comments', 'value', 'valuenum', 'ref_range_lower', 'ref_range_upper']].drop_duplicates().head(100)
# lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == bad_id) & (lab_events_sampled_sub['value'].isnull()), ][['value', 'valuenum', 'comments']].drop_duplicates()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.

,flag,comments,value,valuenum,ref_range_lower,ref_range_upper
2724941,NaN,___,NaN,NaN,60.0,200.0
11632431,NaN,"Using this patient's age, gender, and serum creatinine value of 0.2,. Estimated GFR = >75 if non African-American (mL/min/1.73 m2). Estimated GFR = >75 if African-American (mL/min/1.73 m2). For comparison, mean GFR for age group 20-29 is 116 (mL/min/1.73 m2). GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",75,75.0,60.0,200.0
11632439,NaN,"Using this patient's age, gender, and serum creatinine value of 0.2,. Estimated GFR = >75 if non African-American (mL/min/1.73 m2). Estimated GFR = >75 if African-American (mL/min/1.73 m2). For comparison, mean GFR for age group 30-39 is 107 (mL/min/1.73 m2). GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",75,75.0,60.0,200.0
11632527,NaN,"Using this patient's age, gender, and serum creatinine value of 0.2, . estimated GFR (eGFR) is likely >75 mL/min/1.73 m2, . provided the serum creatinine value is stable. . (Patients with more muscle mass and better nutritional status are more . likely to be at the higher end of this range.) . An eGFR < 60 suggests kidney disease in those below the age of 65 . and there may be kidney disease in those over 65..",75,75.0,60.0,200.0
11632528,NaN,"Using this patient's age, gender, and serum creatinine value of 0.3,. Estimated GFR = >75 if non African-American (mL/min/1.73 m2). Estimated GFR = >75 if African-American (mL/min/1.73 m2). For comparison, mean GFR for age group 20-29 is 116 (mL/min/1.73 m2). GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",75,75.0,60.0,200.0
11632565,NaN,"Using this patient's age, gender, and serum creatinine value of 0.3,. Estimated GFR = >75 if non African-American (mL/min/1.73 m2). Estimated GFR = >75 if African-American (mL/min/1.73 m2). For comparison, mean GFR for age group 30-39 is 107 (mL/min/1.73 m2). GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",75,75.0,60.0,200.0
11632614,NaN,"Using this patient's age, gender, and serum creatinine value of 0.3,. Estimated GFR = >75 if non African-American (mL/min/1.73 m2). Estimated GFR = >75 if African-American (mL/min/1.73 m2). For comparison, mean GFR for age group 40-49 is 99 (mL/min/1.73 m2). GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",75,75.0,60.0,200.0
11632654,NaN,"Using this patient's age, gender, and serum creatinine value of 0.3,. Estimated GFR = >75 if non African-American (mL/min/1.73 m2). Estimated GFR = >75 if African-American (mL/min/1.73 m2). For comparison, mean GFR for age group 50-59 is 93 (mL/min/1.73 m2). GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",75,75.0,60.0,200.0
11632858,NaN,"Using this patient's age, gender, and serum creatinine value of 0.3, . estimated GFR (eGFR) is likely >75 mL/min/1.73 m2, . provided the serum creatinine value is stable. . (Patients with more muscle mass and better nutritional status are more . likely to be at the higher end of this range.) . An eGFR < 60 suggests kidney disease in those below the age of 65 . and there may be kidney disease in those over 65..",75,75.0,60.0,200.0
11632991,NaN,"Using this patient's age, gender, and serum creatinine value of 0.4,. Estimated GFR = >75 if non African-American (mL/min/1.73 m2). Estimated GFR = >75 if African-American (mL/min/1.73 m2). For comparison, mean GFR for age group 20-29 is 116 (mL/min/1.73 m2). GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",75,75.0,60.0,200.0
11633104,NaN,"Using this patient's age, gender, and serum creatinine value of 0.4,. Estimated GFR = >75 if non African-American (mL/min/1.73 m2). Estimated GFR = >75 if African-American (mL/min/1.73 m2). For comparison, mean GFR for age group 30-39 is 107 (mL/min/1.73 m2). GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",75,75.0,60.0,200.0
11633321,NaN,"Using this patient's age, gender, and serum creatinine value of 0.4,. Estimated GFR = >75 if non African-American (mL/min/1.73 m2). Estimated GFR = >75 if African-American (mL/min/1.73 m2). For comparison, mean GFR for age group 40-49 is 99 (mL/min/1.73 m2). GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",75,75.0,60.0,200.0
11633466,NaN,"Using this patient's age, gender, and serum creatinine value of 0.4,. Estimated GFR = >75 if non African-American (mL/min/1.73 m2). Estimated GFR = >75 if African-American (mL/min/1.73 m2). For comparison, mean GFR for age group 50-59 is 93 (mL/min/1.73 m2). GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",75,75.0,60.0,200.0
11633679,NaN,"Using this patient's age, gender, and serum creatinine value of 0.4,. Estimated GFR = >75 if non African-American (mL/min/1.73 m2). Estimated GFR = >75 if African-American (mL/min/1.73 m2). For comparison, mean GFR for age group 60-69 is 85 (mL/min/1.73 m2). GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",75,75.0,60.0,200.0
11633853,NaN,"Using this patient's age, gender, and serum creatinine value of 0.4, . Estimated GFR = >75 if non African-American (mL/min/1.73 m2) . Estimated GFR = >75 if African-American (mL/min/1.73 m2) . For comparison, mean GFR for age group 70+ is 75 (mL/min/1.73 m2) . GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",75,75.0,60.0,200.0
11633998,NaN,"Using this patient's age, gender, and serum creatinine value of 0.4,. Estimated GFR = >75 if non African-American (mL/min/1.73 m2). Estimated GFR = >75 if African-American (mL/min/1.73 m2). For comparison, mean GFR for age group 70+ is 75 (mL/min/1.73 m2). GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",75,75.0,60.0,200.0
11634211,NaN,"Using this patient's age, gender, and serum creatinine value of 0.4, . estimated GFR (eGFR) is likely >75 mL/min/1.73 m2, . provided the serum creatinine value is stable. . (Patients with more muscle mass and better nutritional status are more . likely to be at the higher end of this range.) . An eGFR < 60 suggests kidney disease in those below the age of 65 . and there may be kidney disease in those over 65..",75,75.0,60.0,200.0
11634667,NaN,"Using this patient's age, gender, and serum creatinine value of 0.4,. estimated GFR (eGFR) is likely >75 mL/min/1.73m2, . provided the serum creatinine value is stable.. (Patients with more muscle mass and better nutritional status are more . likely to be at the higher end of this range.). An eGFR < 60 suggests kidney disease in those below the age of 65 . and there may be kidney disease in those over 65..",75,75.0,60.0,200.0
11634744,NaN,"Using this patient's age, gender, and serum creatinine value of 0.5,. Estimated GFR = >75 if non African-American (mL/min/1.73 m2). Estimated GFR = >75 if African-American (mL/min/1.73 m2). For comparison, mean GFR for age group 20-29 is 116 (mL/min/1.73 m2). GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",75,75.0,60.0,200.0
11635328,NaN,"Using this patient's age, gender, and serum creatinine value of 0.5,. Estimated GFR = >75 if non African-American (mL/min/1.73 m2). Estimated GFR = >75 if African-American (mL/min/1.73 m2). For comparison, mean GFR for age group 30-39 is 107 (mL/min/1.73 m2). GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",75,75.0,60.0,200.0
11635703,NaN,"Using this patient's age, gender, and serum creatinine value of 0.5,. Estimated GFR = >75 if non African-American (mL/min/1.73 m2). Estimated GFR = >75 if African-American (mL/min/1.73 m2). For comparison, mean GFR for age group 40-49 is 99 (mL/min/1.73 m2). GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",75,75.0,60.0,200.0
11636362,NaN,"Using this patient's age, gender, and serum creatinine value of 0.5,. Estimated GFR = >75 if non African-American (mL/min/1.73 m2). Estimated GFR = >75 if African-American (mL/min/1.73 m2). For comparison, mean GFR for age group 50-59 is 93 (mL/min/1.73 m2). GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",75,75.0,60.0,200.0
11637334,NaN,"Using this patient's age, gender, and serum creatinine value of 0.5,. Estimated GFR = >75 if non African-American (mL/min/1.73 m2). Estimated GFR = >75 if African-American (mL/min/1.73 m2). For comparison, mean GFR for age group 60-69 is 85 (mL/min/1.73 m2). GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",75,75.0,60.0,200.0
11637876,NaN,"Using this patient's age, gender, and serum creatinine value of 0.5, . Estimated GFR = >75 if non African-American (mL/min/1.73 m2) . Estimated GFR = >75 if African-American (mL/min/1.73 m2) . For comparison, mean GFR for age group 70+ is 75 (mL/min/1.73 m2) . GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",75,75.0,60.0,200.0
11638229,NaN,"Using this patient's age, gender, and serum creatinine value of 0.5,. Estimated GFR = >75 if non African-American (mL/min/1.73 m2). Estimated GFR = >75 if African-American (mL/min/1.73 m2). For comparison, mean GFR for age group 70+ is 75 (mL/min/1.73 m2). GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",75,75.0,60.0,200.0
11638844,NaN,"Using this patient's age, gender, and serum creatinine value of 0.5, . estimated GFR (eGFR) is likely >75 mL/min/1.73 m2, . provided the serum creatinine value is stable. . (Patients with more muscle mass and better nutritional status are more . likely to be at the higher end of this range.) . An eGFR < 60 suggests kidney disease in those below the age of 65 . and there may be kidney disease in those over 65..",75,75.0,60.0,200.0
11640353,NaN,"Using this patient's age, gender, and serum creatinine value of 0.5,. estimated GFR (eGFR) is likely >75 mL/min/1.73m2, . provided the serum creatinine value is stable.. (Patients with more muscle mass and better nutritional status are more . likely to be at the higher end of this range.). An eGFR < 60 suggests kidney disease in those below the age of 65 . and there may be kidney disease in those over 65..",75,75.0,60.0,200.0
11640634,NaN,"Using this patient's age, gender, and serum creatinine value of 0.6,. Estimated GFR = >75 if non African-American (mL/min/1.73 m2). Estimated GFR = >75 if African-American (mL/min/1.73 m2). For comparison, mean GFR for age group 20-29 is 116 (mL/min/1.73 m2). GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",75,75.0,60.0,200.0
11641826,NaN,"Using this patient's age, gender, and serum creatinine value of 0.6,. Estimated GFR = >75 if non African-American (mL/min/1.73 m2). Estimated GFR = >75 if African-American (mL/min/1.73 m2). For comparison, mean GFR for age group 30-39 is 107 (mL/min/1.73 m2). GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",75,75.0,60.0,200.0
11643197,NaN,"Using this patient's age, gender, and serum creatinine value of 0.6,. Estimated GFR = >75 if non African-American (mL/min/1.73 m2). Estimated GFR = >75 if African-American (mL/min/1.73 m2). For comparison, mean GFR for age group 40-49 is 99 (mL/min/1.73 m2). GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",75,75.0,60.0,200.0
11644985,NaN,"Using this patient's age, gender, and serum creatinine value of 0.6,. Estimated GFR = >75 if non African-American (mL/min/1.73 m2). Estimated GFR = >75 if African-American (mL/min/1.73 m2). For comparison, mean GFR for age group 50-59 is 93 (mL/min/1.73 m2). GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",75,75.0,60.0,200.0
11646614,NaN,"Using this patient's age, gender, and serum creatinine value of 0.6,. Estimated GFR = >75 if non African-American (mL/min/1.73 m2). Estimated GFR = >75 if African-American (mL/min/1.73 m2). For comparison, mean GFR for age group 60-69 is 85 (mL/min/1.73 m2). GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",75,75.0,60.0,200.0
11648324,NaN,"Using this patient's age, gender, and serum creatinine value of 0.6, . Estimated GFR = >75 if non African-American (mL/min/1.73 m2) . Estimated GFR = >75 if African-American (mL/min/1.73 m2) . For comparison, mean GFR for age group 70+ is 75 (mL/min/1.73 m2) . GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",75,75.0,60.0,200.0
11649631,NaN,"Using this patient's age, gender, and serum creatinine value of 0.6,. Estimated GFR = >75 if non African-American (mL/min/1.73 m2). Estimated GFR = >75 if African-American (mL/min/1.73 m2). For comparison, mean GFR for age group 70+ is 75 (mL/min/1.73 m2). GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",75,75.0,60.0,200.0
11650997,NaN,"Using this patient's age, gender, and serum creatinine value of 0.6,. Estimated GFR = >75 if non African-American (mL/min/1.73 m2). Estimated GFR = >75 if African-American (mL/min/1.73 m2). For comparison, mean GFR for age group 70+ is 75 (mL/min/1.73 m2). GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure. This POC estimated GFR is within 10% of the correct value..",75,75.0,60.0,200.0
11651124,NaN,"Using this patient's age, gender, and serum creatinine value of 0.6, . estimated GFR (eGFR) is likely >75 mL/min/1.73 m2, . provided the serum creatinine value is stable. . (Patients with more muscle mass and better nutritional status are more . likely to be at the higher end of this range.) . An eGFR < 60 suggests kidney disease in those below the age of 65 . and there may be kidney disease in those over 65..",75,75.0,60.0,200.0
11654717,NaN,"Using this patient's age, gender, and serum creatinine value of 0.6,. estimated GFR (eGFR) is likely >75 mL/min/1.73m2, . provided the serum creatinine value is stable.. (Patients with more muscle mass and better nutritional status are more . likely to be at the higher end of this range.). An eGFR < 60 suggests kidney disease in those below the age of 65 . and there may be kidney disease in those over 65..",75,75.0,60.0,200.0
11655222,NaN,"Using this patient's age, gender, and serum creatinine value of 0.7,. Estimated GFR = >75 if non African-American (mL/min/1.73 m2). Estimated GFR = >75 if African-American (mL/min/1.73 m2). For comparison, mean GFR for age group 20-29 is 116 (mL/min/1.73 m2). GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",75,75.0,60.0,200.0
11657226,NaN,"Using this patient's age, gender, and serum creatinine value of 0.7,. Estimated GFR = >75 if non African-American (mL/min/1.73 m2). Estimated GFR = >75 if African-American (mL/min/1.73 m2). For comparison, mean GFR for age group 30-39 is 107 (mL/min/1.73 m2). GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",75,75.0,60.0,200.0
11658947,NaN,"Using this patient's age, gender, and serum creatinine value of 0.7,. Estimated GFR = >75 if non African-American (mL/min/1.73 m2). Estimated GFR = >75 if African-American (mL/min/1.73 m2). For comparison, mean GFR for age group 40-49 is 99 (mL/min/1.73 m2). GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",75,75.0,60.0,200.0
11662109,NaN,"Using this patient's age, gender, and serum creatinine value of 0.7,. Estimated GFR = >75 if non African-American (mL/min/1.73 m2). Estimated GFR = >75 if African-American (mL/min/1.73 m2). For comparison, mean GFR for age group 50-59 is 93 (mL/min/1.73 m2). GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",75,75.0,60.0,200.0
11664879,NaN,"Using this patient's age, gender, and serum creatinine value of 0.7,. Estimated GFR = >75 if non African-American (mL/min/1.73 m2). Estimated GFR = >75 if African-American (mL/min/1.73 m2). For comparison, mean GFR for age group 50-59 is 93 (mL/min/1.73 m2). GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure0000.",75,75.0,60.0,200.0
11665614,NaN,"Using this patient's age, gender, and serum creatinine value of 0.7,. Estimated GFR = >75 if non African-American (mL/min/1.73 m2). Estimated GFR = >75 if African-American (mL/min/1.73 m2). For comparison, mean GFR for age group 60-69 is 85 (mL/min/1.73 m2). GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",75,75.0,60.0,200.0
11668336,NaN,"Using this patient's age, gender, and serum creatinine value of 0.7, . Estimated GFR = >75 if non African-American (mL/min/1.73 m2) . Estimated GFR = >75 if African-American (mL/min/1.73 m2) . For comparison, mean GFR for age group 70+ is 75 (mL/min/1.73 m2) . GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",75,75.0,60.0,200.0
11670305,NaN,"Using this patient's age, gender, and serum creatinine value of 0.7,. Estimated GFR = >75 if non African-American (mL/min/1.73 m2). Estimated GFR = >75 if African-American (mL/min/1.73 m2). For comparison, mean GFR for age group 70+ is 75 (mL/min/1.73 m2). GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",75,75.0,60.0,200.0
11673124,NaN,"Using this patient's age, gender, and serum creatinine value of 0.7, . estimated GFR (eGFR) is likely >75 mL/min/1.73 m2, . provided the serum creatinine value is stable. . (Patients with more muscle mass and better nutritional status are more . likely to be at the higher end of this range.) . An eGFR < 60 suggests kidney disease in those below the age of 65 . and there may be kidney disease in those over 65..",75,75.0,60.0,200.0
11677914,NaN,"Using this patient's age, gender, and serum creatinine value of 0.8, . Estimated GFR = 67 if non African-American (mL/min/1.73 m2) . Estimated GFR = >75 if African-American (mL/min/1.73 m2) . For comparison, mean GFR for age group 70+ is 75 (mL/min/1.73 m2) . GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",67,67.0,60.0,200.0
11678720,NaN,"Using this patient's age, gender, and serum creatinine value of 0.8,. Estimated GFR = 67 if non African-American (mL/min/1.73 m2). Estimated GFR = >75 if African-American (mL/min/1.73 m2). For comparison, mean GFR for age group 70+ is 75 (mL/min/1.73 m2). GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",67,67.0,60.0,200.0
11679062,NaN,"Using this patient's age, gender, and serum creatinine value of 0.8,. Estimated GFR = 68 if non African-American (mL/min/1.73 m2). Estimated GFR = >75 if African-American (mL/min/1.73 m2). For comparison, mean GFR for age group 70+ is 75 (mL/min/1.73 m2). GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",68,68.0,60.0,200.0
11679447,NaN,"Using this patient's age, gender, and serum creatinine value of 0.8, . Estimated GFR = 69 if non African-American (mL/min/1.73 m2) . Estimated GFR = >75 if African-American (mL/min/1.73 m2) . For comparison, mean GFR for age group 70+ is 75 (mL/min/1.73 m2) . GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",69,69.0,60.0,200.0
11679614,NaN,"Using this patient's age, gender, and serum creatinine value of 0.8,. Estimated GFR = 69 if non African-American (mL/min/1.73 m2). Estimated GFR = >75 if African-American (mL/min/1.73 m2). For comparison, mean GFR for age group 70+ is 75 (mL/min/1.73 m2). GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",69,69.0,60.0,200.0
11680595,NaN,"Using this patient's age, gender, and serum creatinine value of 0.8,. Estimated GFR = 70 if non African-American (mL/min/1.73 m2). Estimated GFR = >75 if African-American (mL/min/1.73 m2). For comparison, mean GFR for age group 70+ is 75 (mL/min/1.73 m2). GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",70,70.0,60.0,200.0
11681119,NaN,"Using this patient's age, gender, and serum creatinine value of 0.8,. Estimated GFR = 71 if non African-American (mL/min/1.73 m2). Estimated GFR = >75 if African-American (mL/min/1.73 m2). For comparison, mean GFR for age group 60-69 is 85 (mL/min/1.73 m2). GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",71,71.0,60.0,200.0
11681708,NaN,"Using this patient's age, gender, and serum creatinine value of 0.8,. Estimated GFR = 71 if non African-American (mL/min/1.73 m2). Estimated GFR = >75 if African-American (mL/min/1.73 m2). For comparison, mean GFR for age group 70+ is 75 (mL/min/1.73 m2). GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",71,71.0,60.0,200.0
11682326,NaN,"Using this patient's age, gender, and serum creatinine value of 0.8,. Estimated GFR = 72 if non African-American (mL/min/1.73 m2). Estimated GFR = >75 if African-American (mL/min/1.73 m2). For comparison, mean GFR for age group 60-69 is 85 (mL/min/1.73 m2). GFR<60 = Chronic Kidney Disease, GFR<15 = Kidney Failure.",72,72.0,60.0,200.0

In [405]:
def gfr_grabber(patient):
    comment = patient['comments']
    gfr_vals = []
    
    if pd.isnull(comment):
        return np.nan
    if type(comment) == str:
        if comment == '___':
            return np.nan
        
        comment = comment.replace('>75', '75')
        if ('between' in comment):
            start_low = comment.find('between')
            end_low = comment.find(' and', start_low + 8, )

            end_high = comment.find(' mL', end_low + 5, )
            
            val = (int(comment[start_low + 8 : end_low]) + int(comment[end_low + 5 : end_high])) / 2

            gfr_vals = [val, val]
        elif 'likely' in comment:
            start_point = comment.find('likely')
            end_point = comment.find(' mL', start_point + 7, )
            gfr_vals = [comment[start_point + 7 : end_point], comment[start_point + 7 : end_point]]
        else:
            start_points = [i for i in range(len(comment)) if comment.startswith('GFR = ', i)]
            end_points = list(map(lambda x: comment.find(' ', x + 6, ), start_points))

            gfr_vals = list(map(lambda x, y: comment[x + 6 : y], start_points, end_points))

    if (admissions_sample.loc[admissions_sample['subject_id'] == patient['subject_id'], 'ethnicity'] == 'BLACK/AFRICAN AMERICAN').iloc[0]:
        return int(gfr_vals[1])
    else:
        return int(gfr_vals[0])
    
lab_gfr = lab_events_sampled_sub.loc[lab_events_sampled_sub['itemid'] == 50920, ['labevent_id', 'comments', 'subject_id']]
lab_gfr['value'] = lab_gfr.apply(gfr_grabber, axis = 1)

In [423]:
lab_events_sampled_sub.loc[lab_events_sampled_sub['labevent_id'].isin(lab_gfr.labevent_id), 'value'] = lab_events_sampled_sub.loc[lab_events_sampled_sub['labevent_id'].isin(lab_gfr.labevent_id), 'labevent_id'].map(lambda x: lab_gfr.loc[lab_gfr['labevent_id'] == x, 'value'])
lab_events_sampled_sub.loc[lab_events_sampled_sub['labevent_id'].isin(lab_gfr.labevent_id), 'value'] = lab_events_sampled_sub.loc[lab_events_sampled_sub['labevent_id'].isin(lab_gfr.labevent_id), 'value'].map(lambda x: x.iloc[0].astype(np.float64))
lab_events_sampled_sub.loc[lab_events_sampled_sub['labevent_id'].isin(lab_gfr.labevent_id), 'valuenum'] = lab_events_sampled_sub.loc[lab_events_sampled_sub['labevent_id'].isin(lab_gfr.labevent_id), 'value'].astype(np.float64)
lab_events_sampled_sub.loc[lab_events_sampled_sub['labevent_id'].isin(lab_gfr.labevent_id), 'ref_range_lower'] = 60
lab_events_sampled_sub.loc[lab_events_sampled_sub['labevent_id'].isin(lab_gfr.labevent_id), 'ref_range_upper'] = 120

## Get Aggregate Test Values

In [425]:
%time lab_events_sampled_sub_grouped = lab_events_sampled_sub.groupby(['subject_id', 'hadm_id', 'itemid']).agg({'itemid' : ['count'], 'valuenum' : ['min', 'max', 'mean'], 'flag' : ['count'], 'ref_range_lower' : ['min'], 'ref_range_upper' : ['min']})
# 'comments' : ['unique'],

CPU times: user 322 ms, sys: 45.3 ms, total: 367 ms
Wall time: 367 ms

In [426]:
lab_events_sampled_sub_grouped.reset_index(inplace = True)
lab_events_sampled_sub_grouped.columns = ['subject_id', 'hadm_id', 'itemid', 'count', 'min', 'max', 'mean', 'abn_percent', 'range_min', 'range_max']
# 'comments',

In [427]:
missing_vals = lab_events_sampled_sub_grouped.isnull().sum(axis = 0) 
missing_vals[missing_vals > 0].sort_values()

min     1863
max     1863
mean    1863
dtype: int64

In [428]:
lab_events_sampled_sub_grouped.loc[lab_events_sampled_sub_grouped['min'].isnull(), ].itemid.value_counts()

# lab_events_sampled_sub_grouped.loc[(lab_events_sampled_sub_grouped['min'].isnull()) & (lab_events_sampled_sub_grouped['itemid'] == 51003), ]#.subject_id.nunique()
# # lab_events_sampled_sub_grouped.subject_id.nunique()

# lab_events_sampled_sub_grouped.loc[lab_events_sampled_sub_grouped['subject_id'] == 10002264, ]

51003    1494
50911    318
50920    38
51274    10
51006    1
51277    1
51265    1
Name: itemid, dtype: int64

In [429]:
lab_events_sampled_sub_grouped['below_min'] = np.where(lab_events_sampled_sub_grouped['min'] < lab_events_sampled_sub_grouped['range_min'], lab_events_sampled_sub_grouped['range_min'] - lab_events_sampled_sub_grouped['min'], 0)
lab_events_sampled_sub_grouped['above_max'] = np.where(lab_events_sampled_sub_grouped['max'] > lab_events_sampled_sub_grouped['range_max'], lab_events_sampled_sub_grouped['max'] - lab_events_sampled_sub_grouped['range_max'], 0)
lab_events_sampled_sub_grouped['abn_percent'] = lab_events_sampled_sub_grouped['abn_percent'] / lab_events_sampled_sub_grouped['count']

## Merge Admissions data so we can group by ethnicity/gender to grab average range min and max

In [430]:
lab_adm = lab_events_sampled_sub_grouped.merge(admissions_sample, left_on = 'hadm_id', right_on = 'hadm_id')

lab_range_min_max_eg = lab_adm.groupby(['itemid', 'ethnicity', 'gender']).agg({'range_min' : 'mean', 'range_max' : 'mean'})
lab_range_min_max_eg.reset_index(inplace = True)

lab_range_eg_dic = dict(zip(zip(lab_range_min_max_eg['itemid'], lab_range_min_max_eg['ethnicity'], lab_range_min_max_eg['gender']), zip(lab_range_min_max_eg['range_min'], lab_range_min_max_eg['range_max'])))

# # These labs have missing data for the entire ethnicity/gender combo
lab_range_eg_dic[(50911, 'AMERICAN INDIAN/ALASKA NATIVE', 'M')] = (0.0, 10.0)
lab_range_eg_dic[(51003, 'AMERICAN INDIAN/ALASKA NATIVE', 'M')] = (0.0, 0.01)

lab_range_eg_dic

{(50868, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (8.6, 19.4),
 (50868, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (8.5, 19.5),
 (50868, 'ASIAN', 'F'): (8.352941176470589, 19.58823529411765),
 (50868, 'ASIAN', 'M'): (8.439024390243903, 19.528455284552845),
 (50868, 'BLACK/AFRICAN AMERICAN', 'F'): (8.36036036036036, 19.55855855855856),
 (50868, 'BLACK/AFRICAN AMERICAN', 'M'): (8.349869451697128,
  19.514360313315926),
 (50868, 'HISPANIC/LATINO', 'F'): (8.340909090909092, 19.613636363636363),
 (50868, 'HISPANIC/LATINO', 'M'): (8.331550802139038, 19.647058823529413),
 (50868, 'OTHER', 'F'): (8.414141414141413, 19.484848484848484),
 (50868, 'OTHER', 'M'): (8.288288288288289, 19.63963963963964),
 (50868, 'UNKNOWN', 'F'): (8.40552995391705, 19.52073732718894),
 (50868, 'UNKNOWN', 'M'): (8.519572953736654, 19.423487544483987),
 (50868, 'WHITE', 'F'): (8.352985074626865, 19.573880597014924),
 (50868, 'WHITE', 'M'): (8.332845647403072, 19.596927578639356),
 (50882, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (22.0, 32.0),
 (50882, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (22.0, 32.0),
 (50882, 'ASIAN', 'F'): (22.0, 32.0),
 (50882, 'ASIAN', 'M'): (22.0, 32.0),
 (50882, 'BLACK/AFRICAN AMERICAN', 'F'): (22.0, 32.0),
 (50882, 'BLACK/AFRICAN AMERICAN', 'M'): (22.0, 32.0),
 (50882, 'HISPANIC/LATINO', 'F'): (22.0, 32.0),
 (50882, 'HISPANIC/LATINO', 'M'): (22.0, 32.0),
 (50882, 'OTHER', 'F'): (22.0, 32.0),
 (50882, 'OTHER', 'M'): (22.0, 32.0),
 (50882, 'UNKNOWN', 'F'): (22.0, 32.0),
 (50882, 'UNKNOWN', 'M'): (22.0, 32.0),
 (50882, 'WHITE', 'F'): (22.0, 32.0),
 (50882, 'WHITE', 'M'): (22.0, 32.0),
 (50893, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (8.400000000000002, 10.29),
 (50893, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (8.4, 10.3),
 (50893, 'ASIAN', 'F'): (8.4033613445378, 10.28739495798318),
 (50893, 'ASIAN', 'M'): (8.399999999999984, 10.286238532110076),
 (50893, 'BLACK/AFRICAN AMERICAN', 'F'): (8.400000000000057,
  10.284251968503986),
 (50893, 'BLACK/AFRICAN AMERICAN', 'M'): (8.400000000000052,
  10.280480480480511),
 (50893, 'HISPANIC/LATINO', 'F'): (8.400000000000004, 10.278666666666652),
 (50893, 'HISPANIC/LATINO', 'M'): (8.400000000000006, 10.282236842105243),
 (50893, 'OTHER', 'F'): (8.400000000000015, 10.28596491228068),
 (50893, 'OTHER', 'M'): (8.40209424083772, 10.289528795811497),
 (50893, 'UNKNOWN', 'F'): (8.400000000000029, 10.292307692307675),
 (50893, 'UNKNOWN', 'M'): (8.400000000000043, 10.29259259259261),
 (50893, 'WHITE', 'F'): (8.40016659725121, 10.28017492711343),
 (50893, 'WHITE', 'M'): (8.400326797385713, 10.280310457516071),
 (50902, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (96.0, 108.0),
 (50902, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (96.0, 108.0),
 (50902, 'ASIAN', 'F'): (96.0, 108.0),
 (50902, 'ASIAN', 'M'): (96.0, 108.0),
 (50902, 'BLACK/AFRICAN AMERICAN', 'F'): (96.0, 108.0),
 (50902, 'BLACK/AFRICAN AMERICAN', 'M'): (96.0, 108.0),
 (50902, 'HISPANIC/LATINO', 'F'): (96.0, 108.0),
 (50902, 'HISPANIC/LATINO', 'M'): (96.0, 108.0),
 (50902, 'OTHER', 'F'): (96.0, 108.0),
 (50902, 'OTHER', 'M'): (96.0, 108.0),
 (50902, 'UNKNOWN', 'F'): (96.0, 108.0),
 (50902, 'UNKNOWN', 'M'): (96.0, 108.0),
 (50902, 'WHITE', 'F'): (96.0, 108.0),
 (50902, 'WHITE', 'M'): (96.0, 108.0),
 (50911, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (0.0, 10.0),
 (50911, 'ASIAN', 'F'): (0.0, 10.0),
 (50911, 'ASIAN', 'M'): (0.0, 10.0),
 (50911, 'BLACK/AFRICAN AMERICAN', 'F'): (0.0, 10.0),
 (50911, 'BLACK/AFRICAN AMERICAN', 'M'): (0.0, 10.0),
 (50911, 'HISPANIC/LATINO', 'F'): (0.0, 10.0),
 (50911, 'HISPANIC/LATINO', 'M'): (0.0, 10.0),
 (50911, 'OTHER', 'F'): (0.0, 10.0),
 (50911, 'OTHER', 'M'): (0.0, 10.0),
 (50911, 'UNKNOWN', 'F'): (0.0, 10.0),
 (50911, 'UNKNOWN', 'M'): (0.0, 10.0),
 (50911, 'WHITE', 'F'): (0.0, 10.0),
 (50911, 'WHITE', 'M'): (0.0, 10.0),
 (50912, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (0.39999999999999997,
  1.0999999999999999),
 (50912, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (0.5, 1.2),
 (50912, 'ASIAN', 'F'): (0.399999999999999, 1.0999999999999972),
 (50912, 'ASIAN', 'M'): (0.5, 1.2),
 (50912, 'BLACK/AFRICAN AMERICAN', 'F'): (0.4000000000000034,
  1.1000000000000094),
 (50912, 'BLACK/AFRICAN AMERICAN', 'M'): (0.5, 1.1999999999999924),
 (50912, 'HISPANIC/LATINO', 'F'): (0.39999999999999974, 1.0999999999999965),
 (50912, 'HISPANIC/LATINO', 'M'): (0.5, 1.1999999999999962),
 (50912, 'OTHER', 'F'): (0.40000000000000036, 1.0999999999999963),
 (50912, 'OTHER', 'M'): (0.5, 1.1999999999999948),
 (50912, 'UNKNOWN', 'F'): (0.4000000000000008, 1.099999999999996),
 (50912, 'UNKNOWN', 'M'): (0.5, 1.1999999999999937),
 (50912, 'WHITE', 'F'): (0.3999999999999918, 1.099999999999945),
 (50912, 'WHITE', 'M'): (0.4999641062455133, 1.1999641062454625),
 (50920, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (60.0, 200.0),
 (50920, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (60.0, 200.0),
 (50920, 'ASIAN', 'F'): (60.0, 200.0),
 (50920, 'ASIAN', 'M'): (60.0, 200.0),
 (50920, 'BLACK/AFRICAN AMERICAN', 'F'): (60.0, 200.0),
 (50920, 'BLACK/AFRICAN AMERICAN', 'M'): (60.0, 200.0),
 (50920, 'HISPANIC/LATINO', 'F'): (60.0, 200.0),
 (50920, 'HISPANIC/LATINO', 'M'): (60.0, 200.0),
 (50920, 'OTHER', 'F'): (60.0, 200.0),
 (50920, 'OTHER', 'M'): (60.0, 200.0),
 (50920, 'UNKNOWN', 'F'): (60.0, 200.0),
 (50920, 'UNKNOWN', 'M'): (60.0, 200.0),
 (50920, 'WHITE', 'F'): (60.0, 200.0),
 (50920, 'WHITE', 'M'): (60.0, 200.0),
 (50931, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (70.0, 100.5),
 (50931, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (70.0, 100.0),
 (50931, 'ASIAN', 'F'): (69.92647058823529, 100.7720588235294),
 (50931, 'ASIAN', 'M'): (70.0, 100.77235772357723),
 (50931, 'BLACK/AFRICAN AMERICAN', 'F'): (70.0, 100.88169642857143),
 (50931, 'BLACK/AFRICAN AMERICAN', 'M'): (70.0, 101.0443864229765),
 (50931, 'HISPANIC/LATINO', 'F'): (69.94252873563218, 101.0632183908046),
 (50931, 'HISPANIC/LATINO', 'M'): (69.94594594594595, 100.97297297297297),
 (50931, 'OTHER', 'F'): (70.0, 100.68181818181819),
 (50931, 'OTHER', 'M'): (69.95475113122171, 100.76923076923077),
 (50931, 'UNKNOWN', 'F'): (70.0, 100.4147465437788),
 (50931, 'UNKNOWN', 'M'): (70.0, 100.37366548042705),
 (50931, 'WHITE', 'F'): (69.9925456578457, 101.05665300037272),
 (50931, 'WHITE', 'M'): (69.99633162142334, 101.06199559794571),
 (50960, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (1.5999999999999999,
  2.6000000000000005),
 (50960, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (1.6, 2.6),
 (50960, 'ASIAN', 'F'): (1.5983050847457594, 2.593220338983051),
 (50960, 'ASIAN', 'M'): (1.5973684210526282, 2.589473684210526),
 (50960, 'BLACK/AFRICAN AMERICAN', 'F'): (1.5984455958549335,
  2.593782383419705),
 (50960, 'BLACK/AFRICAN AMERICAN', 'M'): (1.5988023952095907,
  2.5952095808383384),
 (50960, 'HISPANIC/LATINO', 'F'): (1.598684210526312, 2.5947368421052683),
 (50960, 'HISPANIC/LATINO', 'M'): (1.5987096774193508, 2.5948387096774246),
 (50960, 'OTHER', 'F'): (1.59942528735632, 2.597701149425295),
 (50960, 'OTHER', 'M'): (1.5990099009901004, 2.5960396039604055),
 (50960, 'UNKNOWN', 'F'): (1.5995169082125624, 2.598067632850251),
 (50960, 'UNKNOWN', 'M'): (1.5992700729927078, 2.597080291970816),
 (50960, 'WHITE', 'F'): (1.5991361579596253, 2.5965446318388343),
 (50960, 'WHITE', 'M'): (1.599289099526003, 2.5971563981043615),
 (50970, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (2.6999999999999997, 4.5),
 (50970, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (2.7, 4.5),
 (50970, 'ASIAN', 'F'): (2.699999999999994, 4.5),
 (50970, 'ASIAN', 'M'): (2.6999999999999944, 4.5),
 (50970, 'BLACK/AFRICAN AMERICAN', 'F'): (2.7000000000000184, 4.5),
 (50970, 'BLACK/AFRICAN AMERICAN', 'M'): (2.700000000000015, 4.5),
 (50970, 'HISPANIC/LATINO', 'F'): (2.699999999999993, 4.5),
 (50970, 'HISPANIC/LATINO', 'M'): (2.6999999999999926, 4.5),
 (50970, 'OTHER', 'F'): (2.699999999999992, 4.5),
 (50970, 'OTHER', 'M'): (2.6999999999999917, 4.5),
 (50970, 'UNKNOWN', 'F'): (2.6999999999999966, 4.5),
 (50970, 'UNKNOWN', 'M'): (2.7000000000000077, 4.5),
 (50970, 'WHITE', 'F'): (2.6999999999998865, 4.5),
 (50970, 'WHITE', 'M'): (2.699999999999885, 4.5),
 (50971, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (3.34, 5.16),
 (50971, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (3.3, 5.1),
 (50971, 'ASIAN', 'F'): (3.3294117647058887, 5.144117647058833),
 (50971, 'ASIAN', 'M'): (3.331746031746038, 5.147619047619056),
 (50971, 'BLACK/AFRICAN AMERICAN', 'F'): (3.3290178571428335,
  5.143526785714253),
 (50971, 'BLACK/AFRICAN AMERICAN', 'M'): (3.329242819843321,
  5.143864229764988),
 (50971, 'HISPANIC/LATINO', 'F'): (3.3284090909090924, 5.142613636363648),
 (50971, 'HISPANIC/LATINO', 'M'): (3.3245989304812817, 5.1368983957219365),
 (50971, 'OTHER', 'F'): (3.332160804020097, 5.148241206030162),
 (50971, 'OTHER', 'M'): (3.323893805309726, 5.135840707964604),
 (50971, 'UNKNOWN', 'F'): (3.333027522935774, 5.149541284403678),
 (50971, 'UNKNOWN', 'M'): (3.340569395017781, 5.160854092526684),
 (50971, 'WHITE', 'F'): (3.3274466519500048, 5.141169977925111),
 (50971, 'WHITE', 'M'): (3.3263214670981944, 5.139482200647429),
 (50983, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (133.6, 145.6),
 (50983, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (133.5, 145.5),
 (50983, 'ASIAN', 'F'): (133.35294117647058, 145.35294117647058),
 (50983, 'ASIAN', 'M'): (133.432, 145.432),
 (50983, 'BLACK/AFRICAN AMERICAN', 'F'): (133.3579418344519,
  145.3579418344519),
 (50983, 'BLACK/AFRICAN AMERICAN', 'M'): (133.34986945169712,
  145.34986945169712),
 (50983, 'HISPANIC/LATINO', 'F'): (133.3409090909091, 145.3409090909091),
 (50983, 'HISPANIC/LATINO', 'M'): (133.33155080213905, 145.33155080213905),
 (50983, 'OTHER', 'F'): (133.41206030150755, 145.41206030150755),
 (50983, 'OTHER', 'M'): (133.28444444444443, 145.28444444444443),
 (50983, 'UNKNOWN', 'F'): (133.40552995391704, 145.40552995391704),
 (50983, 'UNKNOWN', 'M'): (133.51957295373666, 145.51957295373666),
 (50983, 'WHITE', 'F'): (133.35111111111112, 145.35111111111112),
 (50983, 'WHITE', 'M'): (133.33055454874955, 145.33055454874955),
 (51003, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (0.0, 0.01),
 (51003, 'ASIAN', 'F'): (0.0, 0.010000000000000004),
 (51003, 'ASIAN', 'M'): (0.0, 0.010000000000000005),
 (51003, 'BLACK/AFRICAN AMERICAN', 'F'): (0.0, 0.010000000000000007),
 (51003, 'BLACK/AFRICAN AMERICAN', 'M'): (0.0, 0.010000000000000007),
 (51003, 'HISPANIC/LATINO', 'F'): (0.0, 0.010000000000000005),
 (51003, 'HISPANIC/LATINO', 'M'): (0.0, 0.010000000000000005),
 (51003, 'OTHER', 'F'): (0.0, 0.010000000000000005),
 (51003, 'OTHER', 'M'): (0.0, 0.010000000000000005),
 (51003, 'UNKNOWN', 'F'): (0.0, 0.010000000000000007),
 (51003, 'UNKNOWN', 'M'): (0.0, 0.010000000000000007),
 (51003, 'WHITE', 'F'): (0.0, 0.009999999999999842),
 (51003, 'WHITE', 'M'): (0.0, 0.009999999999999835),
 (51006, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (6.0, 20.0),
 (51006, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (6.0, 20.0),
 (51006, 'ASIAN', 'F'): (6.0, 20.0),
 (51006, 'ASIAN', 'M'): (6.0, 20.0),
 (51006, 'BLACK/AFRICAN AMERICAN', 'F'): (6.0, 20.0),
 (51006, 'BLACK/AFRICAN AMERICAN', 'M'): (6.0, 20.0),
 (51006, 'HISPANIC/LATINO', 'F'): (6.0, 20.0),
 (51006, 'HISPANIC/LATINO', 'M'): (6.0, 20.0),
 (51006, 'OTHER', 'F'): (6.0, 20.0),
 (51006, 'OTHER', 'M'): (6.0, 20.0),
 (51006, 'UNKNOWN', 'F'): (6.0, 20.0),
 (51006, 'UNKNOWN', 'M'): (6.0, 20.0),
 (51006, 'WHITE', 'F'): (6.0, 20.0),
 (51006, 'WHITE', 'M'): (6.0, 20.0),
 (51221, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (35.23076923076923,
  46.84615384615385),
 (51221, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (40.0, 51.4),
 (51221, 'ASIAN', 'F'): (35.29608938547486, 46.944134078212294),
 (51221, 'ASIAN', 'M'): (40.0, 51.56),
 (51221, 'BLACK/AFRICAN AMERICAN', 'F'): (35.332179930795846,
  46.99826989619377),
 (51221, 'BLACK/AFRICAN AMERICAN', 'M'): (40.0, 51.677083333333336),
 (51221, 'HISPANIC/LATINO', 'F'): (35.40092165898618, 47.10138248847926),
 (51221, 'HISPANIC/LATINO', 'M'): (40.0, 51.68648648648649),
 (51221, 'OTHER', 'F'): (35.33609958506224, 47.004149377593365),
 (51221, 'OTHER', 'M'): (40.0, 51.663716814159294),
 (51221, 'UNKNOWN', 'F'): (35.059322033898304, 46.58898305084746),
 (51221, 'UNKNOWN', 'M'): (40.0, 51.46503496503497),
 (51221, 'WHITE', 'F'): (35.30094466936572, 46.95141700404859),
 (51221, 'WHITE', 'M'): (39.998568360773085, 51.656764495347176),
 (51222, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (11.666666666666666, 15.875),
 (51222, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (13.819999999999999, 17.7),
 (51222, 'ASIAN', 'F'): (11.709090909090921, 15.89090909090909),
 (51222, 'ASIAN', 'M'): (13.868595041322326, 17.78099173553719),
 (51222, 'BLACK/AFRICAN AMERICAN', 'F'): (11.72161172161168,
  15.89560439560437),
 (51222, 'BLACK/AFRICAN AMERICAN', 'M'): (13.903124999999973,
  17.838541666666668),
 (51222, 'HISPANIC/LATINO', 'F'): (11.757213930348257, 15.908955223880582),
 (51222, 'HISPANIC/LATINO', 'M'): (13.905434782608692, 17.842391304347824),
 (51222, 'OTHER', 'F'): (11.733333333333324, 15.899999999999979),
 (51222, 'OTHER', 'M'): (13.896832579185512, 17.828054298642535),
 (51222, 'UNKNOWN', 'F'): (11.61739130434781, 15.8565217391304),
 (51222, 'UNKNOWN', 'M'): (13.838947368421016, 17.731578947368423),
 (51222, 'WHITE', 'F'): (11.717728055077586, 15.894148020653867),
 (51222, 'WHITE', 'M'): (13.89514598540147, 17.8257299270073),
 (51248, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (26.583333333333332, 32.0),
 (51248, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (26.4, 32.0),
 (51248, 'ASIAN', 'F'): (26.636363636363637, 32.0),
 (51248, 'ASIAN', 'M'): (26.56198347107438, 32.0),
 (51248, 'BLACK/AFRICAN AMERICAN', 'F'): (26.652014652014653, 32.0),
 (51248, 'BLACK/AFRICAN AMERICAN', 'M'): (26.677083333333332, 32.0),
 (51248, 'HISPANIC/LATINO', 'F'): (26.696517412935325, 32.0),
 (51248, 'HISPANIC/LATINO', 'M'): (26.684782608695652, 32.0),
 (51248, 'OTHER', 'F'): (26.66949152542373, 32.0),
 (51248, 'OTHER', 'M'): (26.65610859728507, 32.0),
 (51248, 'UNKNOWN', 'F'): (26.52173913043478, 32.0),
 (51248, 'UNKNOWN', 'M'): (26.461267605633804, 32.0),
 (51248, 'WHITE', 'F'): (26.64760592490527, 32.0),
 (51248, 'WHITE', 'M'): (26.652904640116915, 32.0),
 (51249, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (31.416666666666668,
  35.833333333333336),
 (51249, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (31.6, 36.2),
 (51249, 'ASIAN', 'F'): (31.35757575757576, 35.71515151515152),
 (51249, 'ASIAN', 'M'): (31.43801652892562, 35.87603305785124),
 (51249, 'BLACK/AFRICAN AMERICAN', 'F'): (31.347985347985347,
  35.69597069597069),
 (51249, 'BLACK/AFRICAN AMERICAN', 'M'): (31.322916666666668,
  35.645833333333336),
 (51249, 'HISPANIC/LATINO', 'F'): (31.303482587064675, 35.60696517412935),
 (51249, 'HISPANIC/LATINO', 'M'): (31.315217391304348, 35.630434782608695),
 (51249, 'OTHER', 'F'): (31.33050847457627, 35.66101694915254),
 (51249, 'OTHER', 'M'): (31.34389140271493, 35.68778280542986),
 (51249, 'UNKNOWN', 'F'): (31.469565217391306, 35.93913043478261),
 (51249, 'UNKNOWN', 'M'): (31.535211267605632, 36.070422535211264),
 (51249, 'WHITE', 'F'): (31.35032724767482, 35.70065449534964),
 (51249, 'WHITE', 'M'): (31.345268542199488, 35.690537084398976),
 (51250, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (82.0, 98.0),
 (51250, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (82.0, 98.0),
 (51250, 'ASIAN', 'F'): (82.0, 98.0),
 (51250, 'ASIAN', 'M'): (82.0, 98.0),
 (51250, 'BLACK/AFRICAN AMERICAN', 'F'): (82.0, 98.0),
 (51250, 'BLACK/AFRICAN AMERICAN', 'M'): (82.0, 98.0),
 (51250, 'HISPANIC/LATINO', 'F'): (82.0, 98.0),
 (51250, 'HISPANIC/LATINO', 'M'): (82.0, 98.0),
 (51250, 'OTHER', 'F'): (82.0, 98.0),
 (51250, 'OTHER', 'M'): (82.0, 98.0),
 (51250, 'UNKNOWN', 'F'): (82.0, 98.0),
 (51250, 'UNKNOWN', 'M'): (82.0, 98.0),
 (51250, 'WHITE', 'F'): (82.0, 98.0),
 (51250, 'WHITE', 'M'): (82.0, 98.0),
 (51265, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (150.0, 423.3333333333333),
 (51265, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (150.0, 416.0),
 (51265, 'ASIAN', 'F'): (150.0, 425.45454545454544),
 (51265, 'ASIAN', 'M'): (150.0, 422.4390243902439),
 (51265, 'BLACK/AFRICAN AMERICAN', 'F'): (150.0, 426.13138686131384),
 (51265, 'BLACK/AFRICAN AMERICAN', 'M'): (150.0, 427.0833333333333),
 (51265, 'HISPANIC/LATINO', 'F'): (150.0, 427.8606965174129),
 (51265, 'HISPANIC/LATINO', 'M'): (150.0, 427.39130434782606),
 (51265, 'OTHER', 'F'): (150.0, 426.77966101694915),
 (51265, 'OTHER', 'M'): (150.0, 426.42857142857144),
 (51265, 'UNKNOWN', 'F'): (150.0, 420.95238095238096),
 (51265, 'UNKNOWN', 'M'): (150.0, 418.4507042253521),
 (51265, 'WHITE', 'F'): (150.0, 425.94594594594594),
 (51265, 'WHITE', 'M'): (150.0, 426.3017644940583),
 (51274, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (9.685714285714285,
  12.757142857142858),
 (51274, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (9.4, 12.5),
 (51274, 'ASIAN', 'F'): (9.763636363636348, 12.827272727272728),
 (51274, 'ASIAN', 'M'): (9.716455696202518, 12.784810126582272),
 (51274, 'BLACK/AFRICAN AMERICAN', 'F'): (9.764705882352988,
  12.828235294117668),
 (51274, 'BLACK/AFRICAN AMERICAN', 'M'): (9.733333333333377,
  12.800000000000018),
 (51274, 'HISPANIC/LATINO', 'F'): (9.79090909090908, 12.851818181818189),
 (51274, 'HISPANIC/LATINO', 'M'): (9.730578512396692, 12.797520661157032),
 (51274, 'OTHER', 'F'): (9.668292682926827, 12.741463414634154),
 (51274, 'OTHER', 'M'): (9.629166666666679, 12.706250000000011),
 (51274, 'UNKNOWN', 'F'): (9.585185185185216, 12.666666666666677),
 (51274, 'UNKNOWN', 'M'): (9.589300411522675, 12.670370370370382),
 (51274, 'WHITE', 'F'): (9.766269165246843, 12.829642248722383),
 (51274, 'WHITE', 'M'): (9.770951417004051, 12.833856275303782),
 (51277, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (10.5, 15.5),
 (51277, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (10.5, 15.5),
 (51277, 'ASIAN', 'F'): (10.5, 15.5),
 (51277, 'ASIAN', 'M'): (10.5, 15.5),
 (51277, 'BLACK/AFRICAN AMERICAN', 'F'): (10.5, 15.5),
 (51277, 'BLACK/AFRICAN AMERICAN', 'M'): (10.5, 15.5),
 (51277, 'HISPANIC/LATINO', 'F'): (10.5, 15.5),
 (51277, 'HISPANIC/LATINO', 'M'): (10.5, 15.5),
 (51277, 'OTHER', 'F'): (10.5, 15.5),
 (51277, 'OTHER', 'M'): (10.5, 15.5),
 (51277, 'UNKNOWN', 'F'): (10.5, 15.5),
 (51277, 'UNKNOWN', 'M'): (10.5, 15.5),
 (51277, 'WHITE', 'F'): (10.5, 15.5),
 (51277, 'WHITE', 'M'): (10.5, 15.5),
 (51279, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (4.075, 5.316666666666666),
 (51279, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (4.6, 6.139999999999999),
 (51279, 'ASIAN', 'F'): (4.090909090909089, 5.327272727272724),
 (51279, 'ASIAN', 'M'): (4.60000000000001, 6.156198347107448),
 (51279, 'BLACK/AFRICAN AMERICAN', 'F'): (4.09560439560442, 5.330402930402953),
 (51279, 'BLACK/AFRICAN AMERICAN', 'M'): (4.599999999999971, 6.16770833333332),
 (51279, 'HISPANIC/LATINO', 'F'): (4.108955223880601, 5.339303482587064),
 (51279, 'HISPANIC/LATINO', 'M'): (4.600000000000015, 6.168478260869581),
 (51279, 'OTHER', 'F'): (4.100847457627125, 5.333898305084755),
 (51279, 'OTHER', 'M'): (4.600000000000016, 6.165610859728524),
 (51279, 'UNKNOWN', 'F'): (4.056521739130435, 5.304347826086965),
 (51279, 'UNKNOWN', 'M'): (4.599999999999993, 6.146126760563379),
 (51279, 'WHITE', 'F'): (4.0942817774715925, 5.329521184980989),
 (51279, 'WHITE', 'M'): (4.599853854585537, 6.16499817318259),
 (51301, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (4.0, 10.583333333333334),
 (51301, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (4.0, 10.4),
 (51301, 'ASIAN', 'F'): (4.0, 10.636363636363637),
 (51301, 'ASIAN', 'M'): (4.0, 10.561983471074381),
 (51301, 'BLACK/AFRICAN AMERICAN', 'F'): (4.0, 10.652014652014651),
 (51301, 'BLACK/AFRICAN AMERICAN', 'M'): (4.0, 10.677083333333334),
 (51301, 'HISPANIC/LATINO', 'F'): (4.0, 10.696517412935323),
 (51301, 'HISPANIC/LATINO', 'M'): (4.0, 10.684782608695652),
 (51301, 'OTHER', 'F'): (4.0, 10.669491525423728),
 (51301, 'OTHER', 'M'): (4.0, 10.656108597285067),
 (51301, 'UNKNOWN', 'F'): (4.0, 10.521739130434783),
 (51301, 'UNKNOWN', 'M'): (4.0, 10.461267605633802),
 (51301, 'WHITE', 'F'): (4.0, 10.647727272727273),
 (51301, 'WHITE', 'M'): (4.0, 10.653537563822027),
 (51464, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (0.0, 0.0),

In [307]:
# # Aggregate without splitting by Ethnicity/Gender

# lab_range_min_max = lab_events_sampled_sub_grouped.groupby('itemid').agg({'range_min' : 'mean', 'range_max' : 'mean'})
# lab_range_min_max.reset_index(inplace = True)

# lab_range_dic = dict(zip(lab_range_min_max['itemid'], zip(lab_range_min_max['range_min'], lab_range_min_max['range_max'])))
# lab_range_dic

Pivot the table so we have feature columns related to test results

In [431]:
lab_events_sampled_sub_grouped['new_index'] = list(zip(lab_events_sampled_sub_grouped['subject_id'], lab_events_sampled_sub_grouped['hadm_id']))

In [432]:
%time lab_events_sampled_pivot = lab_events_sampled_sub_grouped.pivot(index = 'new_index', columns = 'itemid', values = ['min', 'max', 'mean', 'abn_percent', 'below_min', 'above_max'])
# 'comments',

CPU times: user 78.4 ms, sys: 17.8 ms, total: 96.2 ms
Wall time: 94.8 ms

In [433]:
lab_events_sampled_pivot = lab_events_sampled_pivot.reset_index()
lab_events_sampled_pivot['subject_id'], lab_events_sampled_pivot['hadm_id'] = zip(*lab_events_sampled_pivot['new_index'])
lab_events_sampled_pivot.drop(['new_index'], axis = 1, inplace = True)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:3936: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [434]:
missing_vals = lab_events_sampled_pivot.isnull().sum(axis = 0) 
missing_vals[missing_vals > 0].sort_values()#.head(40)

             itemid
max          51221     299
abn_percent  51221     299
below_min    51221     299
above_max    51221     299
mean         51221     299
min          51221     299
above_max    51265     435
abn_percent  51265     435
below_min    51265     435
max          51265     436
min          51265     436
mean         51265     436
below_min    51222     496
above_max    51222     496
max          51222     496
mean         51222     496
abn_percent  51222     496
min          51222     496
mean         51301     497
above_max    51301     497
below_min    51301     497
min          51301     497
abn_percent  51301     497
max          51301     497
mean         51250     503
max          51248     503
             51249     503
             51279     503
abn_percent  51248     503
above_max    51248     503
             51249     503
abn_percent  51250     503
             51279     503
mean         51279     503
abn_percent  51277     503
mean         51249     503
abn_percent  51249     503
mean         51248     503
max          51250     503
above_max    51250     503
below_min    51249     503
             51248     503
min          51250     503
             51249     503
             51248     503
above_max    51277     503
below_min    51250     503
min          51279     503
below_min    51279     503
above_max    51279     503
below_min    51277     503
max          51277     504
min          51277     504
mean         51277     504
max          50912     747
below_min    50912     747
min          50912     747
abn_percent  50912     747
mean         50912     747
above_max    50912     747
abn_percent  51006     815
above_max    51006     815
below_min    51006     815
min          51006     816
mean         51006     816
max          51006     816
mean         50971     839
max          50971     839
abn_percent  50971     839
below_min    50971     839
above_max    50971     839
min          50971     839
abn_percent  50983     883
above_max    50983     883
below_min    50983     883
mean         50983     883
min          50983     883
max          50983     883
             50902     887
abn_percent  50902     887
below_min    50902     887
mean         50902     887
min          50902     887
above_max    50902     887
below_min    50868     937
             50882     937
above_max    50882     937
             50868     937
min          50868     937
max          50882     937
abn_percent  50882     937
             50868     937
min          50882     937
max          50868     937
mean         50868     937
             50882     937
below_min    50931     943
abn_percent  50931     943
above_max    50931     943
min          50931     943
mean         50931     943
max          50931     943
abn_percent  50960     1639
above_max    50960     1639
min          50960     1639
max          50960     1639
below_min    50960     1639
mean         50960     1639
             50893     1785
min          50893     1785
above_max    50893     1785
abn_percent  50893     1785
below_min    50893     1785
max          50893     1785
min          50970     1854
max          50970     1854
above_max    50970     1854
abn_percent  50970     1854
below_min    50970     1854
mean         50970     1854
above_max    51274     3383
below_min    51274     3383
abn_percent  51274     3383
min          51274     3393
max          51274     3393
mean         51274     3393
below_min    50920     4428
abn_percent  50920     4428
above_max    50920     4428
mean         50920     4466
min          50920     4466
max          50920     4466
mean         51464     5403
below_min    51464     5403
min          51464     5403
max          51464     5403
above_max    51464     5403
abn_percent  51464     5403
above_max    51003     6191
abn_percent  51003     6191
below_min    51003     6191
abn_percent  50911     6555
above_max    50911     6555
below_min    50911     6555
max          50911     6873
min          50911     6873
mean         50911     6873
             51003     7685
max          51003     7685
min          51003     7685
Length: 144, dtype: int64

## Start Data Imputation

Copy table, retain original for Random Forest

In [435]:
lab_events_impute = lab_events_sampled_pivot.copy()

In [436]:
d_labitems[d_labitems['itemid'].isin(itemid_sub_sample)]

      itemid                          label  fluid    category loinc_code
115   50868   Anion Gap                      Blood  Chemistry   1863-0
212   50882   Bicarbonate                    Blood  Chemistry   1963-8
222   51464   Bilirubin                      Urine  Hematology  5770-3
282   50893   Calcium, Total                 Blood  Chemistry   2000-8
442   50902   Chloride                       Blood  Chemistry   2075-0
511   50911   Creatine Kinase, MB Isoenzyme  Blood  Chemistry   6773-6
512   50912   Creatinine                     Blood  Chemistry   2160-0
634   50920   Estimated GFR (MDRD equation)  Blood  Chemistry   NaN
723   50931   Glucose                        Blood  Chemistry   6777-7
761   51221   Hematocrit                     Blood  Hematology  4544-3
771   51222   Hemoglobin                     Blood  Hematology  718-7
1008  50960   Magnesium                      Blood  Chemistry   2601-3
1013  51248   MCH                            Blood  Hematology  785-6
1014  51249   MCHC                           Blood  Hematology  786-4
1016  51250   MCV                            Blood  Hematology  787-2
1189  50970   Phosphate                      Blood  Chemistry   2777-1
1211  51265   Platelet Count                 Blood  Hematology  777-3
1233  50971   Potassium                      Blood  Chemistry   2823-3
1279  51274   PT                             Blood  Hematology  5902-2
1307  51277   RDW                            Blood  Hematology  788-0
1312  51279   Red Blood Cells                Blood  Hematology  789-8
1373  50983   Sodium                         Blood  Chemistry   2951-2
1494  51003   Troponin T                     Blood  Chemistry   6598-7
1506  51006   Urea Nitrogen                  Blood  Chemistry   3094-0
1598  51301   White Blood Cells              Blood  Hematology  804-5

In [157]:
lab_events_impute

         min                                                                 \
itemid 50868 50882 50893  50902 50911 50912  50931 50960 50970 50971  50983
0       15.0  14.0   7.7   95.0  44.0   1.1  165.0   1.7   3.0   3.5  129.0
1        9.0  23.0   NaN  103.0   NaN   1.0   96.0   1.9   NaN   4.2  139.0
2       12.0  25.0   8.5   91.0   3.0   1.1  116.0   2.0   3.3   3.7  130.0
3       13.0  24.0   8.7  108.0   NaN   0.6   93.0   2.0   3.1   4.2  141.0
4       11.0  29.0   8.8  101.0   NaN   0.8  101.0   1.9   4.5   4.3  137.0
...      ...   ...   ...    ...   ...   ...    ...   ...   ...   ...    ...
8727    12.0  26.0   NaN  105.0   3.0   1.1  105.0   NaN   NaN   3.9  139.0
8728    12.0  26.0   9.1  104.0   NaN   1.5   89.0   2.1   3.8   5.1  142.0
8729    10.0  16.0   7.5   86.0   NaN   0.8  148.0   1.4   3.1   4.1  114.0
8730     5.0  22.0   7.8   92.0   NaN   0.5   76.0   1.8   1.3   2.8  131.0
8731     7.0  27.0   8.1   90.0   NaN   0.8   81.0   1.5   3.2   4.0  130.0

                                                                            \
itemid 51003 51006 51221 51222 51248 51249  51250  51265 51274 51277 51279
0       0.69  30.0  33.1  11.1  30.4  32.1   92.0  112.0  11.8  12.3  3.59
1        NaN  11.0  26.4   9.9  29.6  35.9   80.0  151.0  14.6  13.9  3.28
2        NaN  20.0  36.8  12.1  31.9  31.3   99.0  271.0  12.7  14.4  3.70
3        NaN   9.0  31.7  10.4  32.1  32.7   99.0  343.0   NaN  12.0  3.22
4        NaN   9.0  41.7  13.7  30.6  32.8   93.0  320.0  11.6  14.3  4.47
...      ...   ...   ...   ...   ...   ...    ...    ...   ...   ...   ...
8727     NaN  16.0  36.8  11.9  28.7  32.4   89.0  227.0   NaN  12.0  4.15
8728     NaN  21.0  36.8  11.9  32.2  32.3  100.0  201.0   NaN  12.7  3.69
8729     NaN  13.0  23.1   7.7  26.7  33.3   77.0  226.0  13.2  11.7  2.85
8730     NaN  14.0  26.7   8.4  29.3  30.9   90.0   81.0  14.4  16.8  2.80
8731     NaN  10.0  30.0   9.9  29.6  32.9   88.0  124.0  13.2  15.8  3.34

                     max                                                     \
itemid 51301 51464 50868 50882 50893  50902  50911 50912  50931 50960 50970
0       11.0   0.0  23.0  22.0   8.7  103.0  170.0   1.6  370.0   2.4   4.1
1        7.0   NaN  13.0  31.0   NaN  113.0    NaN   1.6  138.0   2.3   NaN
2        6.4   0.0  17.0  36.0   9.0   95.0    3.0   1.3  166.0   2.7   5.0
3        6.0   NaN  13.0  24.0   8.7  108.0    NaN   0.6   93.0   2.0   3.1
4       14.2   NaN  11.0  29.0   8.8  101.0    NaN   0.8  101.0   1.9   4.5
...      ...   ...   ...   ...   ...    ...    ...   ...    ...   ...   ...
8727     4.6   NaN  12.0  26.0   NaN  105.0    3.0   1.1  105.0   NaN   NaN
8728     8.9   NaN  12.0  26.0   9.1  104.0    NaN   1.5   89.0   2.1   3.8
8729     7.9   0.0  18.0  23.0   8.7   97.0    NaN   1.2  312.0   2.6   4.0
8730     5.4   0.0  16.0  33.0   9.5  120.0    NaN   0.8  225.0   2.8   5.1
8731     7.8   0.0  11.0  29.0   9.1   98.0    NaN   1.2  100.0   1.9   4.0

                                                                             \
itemid 50971  50983 51003 51006 51221 51222 51248 51249  51250  51265 51274
0        4.8  137.0  6.74  45.0  43.0  14.3  31.8  34.5   97.0  216.0  18.9
1        4.6  143.0   NaN  18.0  34.8  12.2  30.7  38.4   83.0  184.0  16.6
2        5.5  138.0   NaN  37.0  41.2  13.4  32.8  32.8  102.0  460.0  12.7
3        4.2  141.0   NaN   9.0  33.5  10.4  32.1  32.7   99.0  343.0   NaN
4        4.3  137.0   NaN   9.0  41.7  13.7  30.6  32.8   93.0  320.0  11.6
...      ...    ...   ...   ...   ...   ...   ...   ...    ...    ...   ...
8727     3.9  139.0   NaN  16.0  36.8  11.9  28.7  32.4   89.0  227.0   NaN
8728     5.1  142.0   NaN  21.0  37.6  11.9  32.2  32.3  100.0  201.0   NaN
8729     5.4  133.0   NaN  20.0  30.6  10.5  27.3  35.0   81.0  334.0  14.2
8730     5.1  155.0   NaN  42.0  41.4  12.9  31.0  33.9   97.0  185.0  27.5
8731     4.6  134.0   NaN  17.0  32.1  10.8  30.4  33.6   91.0  171.0  15.3

                                     mean                                   \
itemid 51277 51279 51301 51464      50868      50882     50893       50902
0       13.2  4.58  36.8   0.0  18.900000  18.700000  8.270000   99.545455
1       14.7  3.98  12.4   NaN  10.666667  27.250000       NaN  107.500000
2       15.1  4.15  19.3   0.0  14.888889  30.444444  8.766667   93.000000
3       12.0  3.22   6.0   NaN  13.000000  24.000000  8.700000  108.000000
4       14.3  4.47  14.2   NaN  11.000000  29.000000  8.800000  101.000000
...      ...   ...   ...   ...        ...        ...       ...         ...
8727    12.0  4.15   4.6   NaN  12.000000  26.000000       NaN  105.000000
8728    12.7  3.69   8.9   NaN  12.000000  26.000000  9.100000  104.000000
8729    12.6  3.87  11.7   0.0  14.055556  19.888889  8.293333   91.055556
8730    21.0  4.41  26.7   0.0  10.214286  27.642857  8.602857   99.190476
8731    16.1  3.56  11.7   0.0   9.250000  28.625000  8.562500   94.375000

                                                                        \
itemid       50911     50912       50931     50960     50970     50971
0       112.166667  1.420000  252.900000  2.172727  3.530000  4.000000
1              NaN  1.233333  117.666667  2.100000       NaN  4.416667
2         3.000000  1.212500  144.500000  2.366667  4.066667  4.660000
3              NaN  0.600000   93.000000  2.000000  3.100000  4.200000
4              NaN  0.800000  101.000000  1.900000  4.500000  4.300000
...            ...       ...         ...       ...       ...       ...
8727      3.000000  1.100000  105.000000       NaN       NaN  3.900000
8728           NaN  1.500000   89.000000  2.100000  3.800000  5.100000
8729           NaN  0.936842  215.666667  1.906667  3.433333  4.688889
8730           NaN  0.611905  129.547619  2.139024  2.808571  4.364286
8731           NaN  0.937500   89.125000  1.687500  3.687500  4.287500

                                                                          \
itemid       50983     51003      51006      51221      51222      51248
0       133.090909  2.813333  40.000000  36.927273  12.330000  31.110000
1       140.666667       NaN  15.833333  30.800000  11.200000  30.140000
2       133.100000       NaN  29.250000  38.887500  12.600000  32.487500
3       141.000000       NaN   9.000000  32.600000  10.400000  32.100000
4       137.000000       NaN   9.000000  41.700000  13.700000  30.600000
...            ...       ...        ...        ...        ...        ...
8727    139.000000       NaN  16.000000  36.800000  11.900000  28.700000
8728    142.000000       NaN  21.000000  37.200000  11.900000  32.200000
8729    125.222222       NaN  16.888889  26.222222   8.977778  26.966667
8730    137.095238       NaN  29.642857  30.673529   9.944118  30.038235
8731    132.250000       NaN  12.625000  31.150000  10.400000  29.937500

                                                                           \
itemid      51249       51250       51265      51274      51277     51279
0       33.400000   93.400000  168.181818  13.445455  12.760000  3.960000
1       37.300000   81.200000  172.200000  15.600000  14.300000  3.706000
2       32.312500  100.500000  354.125000  12.700000  14.800000  3.871250
3       32.700000   99.000000  343.000000        NaN  12.000000  3.220000
4       32.800000   93.000000  320.000000  11.600000  14.300000  4.470000
...           ...         ...         ...        ...        ...       ...
8727    32.400000   89.000000  227.000000        NaN  12.000000  4.150000
8728    32.300000  100.000000  201.000000        NaN  12.700000  3.690000
8729    34.211111   78.777778  280.555556  13.740000  12.233333  3.328889
8730    32.432353   92.735294  128.617647  17.682759  18.632353  3.312647
8731    33.362500   89.750000  142.375000  14.275000  15.925000  3.472500

                        abn_percent                                      \
itemid      51301 51464       50868     50882     50893     50902 50911
0       21.620000   0.0    0.200000  0.900000  0.600000  0.090909   1.0
1        9.560000   NaN    0.000000  0.000000       NaN  0.500000   NaN
2       10.850000   0.0    0.000000  0.222222  0.000000  1.000000   0.0
3        6.000000   NaN    0.000000  0.000000  0.000000  0.000000   NaN
4       14.200000   NaN    0.000000  0.000000  0.000000  0.000000   NaN
...           ...   ...         ...       ...       ...       ...   ...
8727     4.600000   NaN    0.000000  0.000000       NaN  0.000000   0.0
8728     8.900000   NaN    0.000000  0.000000  0.000000  0.000000   NaN
8729     9.500000   0.0    0.000000  0.611111  0.533333  0.888889   NaN
8730    10.855882   0.0    0.404762  0.023810  0.285714  0.476190   NaN
8731     9.325000   0.0    0.500000  0.000000  0.125000  0.500000   NaN

                                                                          \
itemid     50912     50931     50960     50970     50971     50983 51003
0       0.800000  1.000000  0.000000  0.000000  0.000000  0.363636   1.0
1       0.333333  0.666667  0.000000       NaN  0.000000  0.000000   NaN
2       0.750000  1.000000  0.333333  0.333333  0.100000  0.400000   0.0
3       0.000000  0.000000  0.000000  0.000000  0.000000  0.000000   NaN
4       0.000000  1.000000  0.000000  0.000000  0.000000  0.000000   NaN
...          ...       ...       ...       ...       ...       ...   ...
8727    0.000000  0.000000       NaN       NaN  0.000000  0.000000   0.0
8728    1.000000  0.000000  0.000000  0.000000  0.000000  0.000000   NaN
8729    0.000000  1.000000  0.066667  0.000000  0.000000  1.000000   NaN
8730    0.000000  0.904762  0.048780  0.485714  0.047619  0.500000   NaN
8731    0.000000  0.000000  0.250000  0.000000  0.000000  1.000000   NaN

                                                                             \
itemid     51006     51221 51222  51248     51249 51250     51265     51274
0       1.000000  0.818182   0.8  0.000  0.000000   0.0  0.272727  0.545455
1       0.000000  1.000000   1.0  0.000  1.000000   0.6  0.000000  1.000000
2       0.875000  0.000000   0.0  0.875  0.000000   1.0  0.125000  0.000000
3       0.000000  1.000000   1.0  1.000  0.000000   1.0  0.000000       NaN
4       0.000000  0.000000   1.0  0.000  0.000000   0.0  0.000000  0.000000
...          ...       ...   ...    ...       ...   ...       ...       ...
8727    0.000000  0.000000   1.0  0.000  0.000000   0.0  0.000000       NaN
8728    1.000000  1.000000   1.0  1.000  0.000000   1.0  0.000000       NaN
8729    0.000000  1.000000   1.0  0.000  0.000000   1.0  0.000000  1.000000
8730    0.809524  0.970588   1.0  0.000  0.235294   0.0  0.764706  1.000000
8731    0.000000  1.000000   1.0  0.000  0.000000   0.0  0.625000  1.000000

                                   below_min                                \
itemid 51277 51279     51301 51464     50868 50882 50893 50902 50911 50912
0        0.0   1.0  1.000000   0.0       0.0   8.0   0.7   1.0   0.0   0.0
1        0.0   1.0  0.200000   NaN       0.0   0.0   NaN   0.0   NaN   0.0
2        0.0   1.0  0.375000   0.0       0.0   0.0   0.0   5.0   0.0   0.0
3        0.0   1.0  0.000000   NaN       0.0   0.0   0.0   0.0   NaN   0.0
4        0.0   1.0  1.000000   NaN       0.0   0.0   0.0   0.0   NaN   0.0
...      ...   ...       ...   ...       ...   ...   ...   ...   ...   ...
8727     0.0   1.0  0.000000   NaN       0.0   0.0   NaN   0.0   0.0   0.0
8728     0.0   1.0  0.000000   NaN       0.0   0.0   0.0   0.0   NaN   0.0
8729     0.0   1.0  0.333333   0.0       0.0   6.0   0.9  10.0   NaN   0.0
8730     1.0   1.0  0.323529   0.0       5.0   0.0   0.6   4.0   NaN   0.0
8731     1.0   1.0  0.250000   0.0       3.0   0.0   0.3   6.0   NaN   0.0

                                                                          \
itemid 50931 50960 50970 50971 50983 51003 51006 51221 51222 51248 51249
0        0.0   0.0   0.0   0.0   4.0   0.0   0.0   6.9   2.6   0.0   0.0
1        0.0   0.0   NaN   0.0   0.0   NaN   0.0  13.6   4.1   0.0   0.0
2        0.0   0.0   0.0   0.0   3.0   0.0   0.0   0.0   0.0   0.0   0.0
3        0.0   0.0   0.0   0.0   0.0   NaN   0.0   8.3   3.6   0.0   0.0
4        0.0   0.0   0.0   0.0   0.0   NaN   0.0   0.0   0.3   0.0   0.0
...      ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
8727     0.0   NaN   NaN   0.0   0.0   0.0   0.0   0.0   0.1   0.0   0.0
8728     0.0   0.0   0.0   0.0   0.0   NaN   0.0   3.2   1.8   0.0   0.0
8729     0.0   0.2   0.0   0.0  21.0   NaN   0.0  16.9   6.0   0.0   0.0
8730     0.0   0.0   1.4   0.7   4.0   NaN   0.0  13.3   5.3   0.0   1.1
8731     0.0   0.1   0.0   0.0   5.0   NaN   0.0  10.0   3.8   0.0   0.0

                                                 above_max                    \
itemid 51250 51265 51274 51277 51279 51301 51464     50868 50882 50893 50902
0        0.0  38.0   0.0   0.0  1.01   0.0   0.0       3.0   0.0   0.0   0.0
1        2.0   0.0   0.0   0.0  1.32   0.0   NaN       0.0   0.0   NaN   5.0
2        0.0   0.0   0.0   0.0  0.50   0.0   0.0       0.0   4.0   0.0   0.0
3        0.0   0.0   NaN   0.0  1.38   0.0   NaN       0.0   0.0   0.0   0.0
4        0.0   0.0   0.0   0.0  0.13   0.0   NaN       0.0   0.0   0.0   0.0
...      ...   ...   ...   ...   ...   ...   ...       ...   ...   ...   ...
8727     0.0   0.0   NaN   0.0  0.05   0.0   NaN       0.0   0.0   NaN   0.0
8728     0.0   0.0   NaN   0.0  0.91   0.0   NaN       0.0   0.0   0.0   0.0
8729     5.0   0.0   0.0   0.0  1.75   0.0   0.0       0.0   0.0   0.0   0.0
8730     0.0  69.0   0.0   0.0  1.80   0.0   0.0       0.0   1.0   0.0  12.0
8731     0.0  26.0   0.0   0.0  1.26   0.0   0.0       0.0   0.0   0.0   0.0

                                                                            \
itemid  50911 50912  50931 50960 50970 50971 50983 51003 51006 51221 51222
0       160.0   0.4  270.0   0.0   0.0   0.0   0.0  6.73  25.0   0.0   0.0
1         NaN   0.4   33.0   0.0   NaN   0.0   0.0   NaN   0.0   0.0   0.0
2         0.0   0.2   61.0   0.1   0.5   0.4   0.0  0.00  17.0   0.0   0.0
3         NaN   0.0    0.0   0.0   0.0   0.0   0.0   NaN   0.0   0.0   0.0
4         NaN   0.0    1.0   0.0   0.0   0.0   0.0   NaN   0.0   0.0   0.0
...       ...   ...    ...   ...   ...   ...   ...   ...   ...   ...   ...
8727      0.0   0.0    0.0   NaN   NaN   0.0   0.0  0.00   0.0   0.0   0.0
8728      NaN   0.3    0.0   0.0   0.0   0.0   0.0   NaN   1.0   0.0   0.0
8729      NaN   0.0  212.0   0.0   0.0   0.0   0.0   NaN   0.0   0.0   0.0
8730      NaN   0.0  125.0   0.2   0.6   0.0   8.0   NaN  22.0   0.0   0.0
8731      NaN   0.0    0.0   0.0   0.0   0.0   0.0   NaN   0.0   0.0   0.0

                                                             subject_id  \
itemid 51248 51249 51250 51265 51274 51277 51279 51301 51464
0        0.0   0.0   0.0   0.0   6.4   0.0   0.0  26.8   0.0   10002495
1        0.0   3.4   0.0   0.0   3.2   0.0   0.0   1.4   NaN   10002527
2        0.8   0.0   4.0  20.0   0.0   0.0   0.0   8.3   0.0   10005012
3        0.1   0.0   1.0   0.0   NaN   0.0   0.0   0.0   NaN   10010264
4        0.0   0.0   0.0   0.0   0.0   0.0   0.0   3.2   NaN   10010920
...      ...   ...   ...   ...   ...   ...   ...   ...   ...        ...
8727     0.0   0.0   0.0   0.0   NaN   0.0   0.0   0.0   NaN   19993069
8728     0.2   0.0   2.0   0.0   NaN   0.0   0.0   0.0   NaN   19995478
8729     0.0   0.0   0.0   0.0   1.7   0.0   0.0   1.7   0.0   19996783
8730     0.0   0.0   0.0   0.0  15.0   5.5   0.0  16.7   0.0   19997886
8731     0.0   0.0   0.0   0.0   2.8   0.6   0.0   1.7   0.0   19999204

           hadm_id
itemid
0       24982426.0
1       29112696.0
2       28371912.0
3       26641707.0
4       24676144.0
...            ...
8727    25459716.0
8728    24108472.0
8729    25894657.0
8730    20793010.0
8731    29046609.0

[8732 rows x 146 columns]

In [437]:
lab_events_impute = lab_events_impute.merge(admissions_sample, left_on = 'hadm_id', right_on = 'hadm_id')

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/reshape/merge.py:618: UserWarning: merging between different levels can give an unintended result (2 levels on the left, 1 on the right)
  warnings.warn(msg, UserWarning)

In [438]:
%%time

np.random.seed(0)

for labitem in lab_range_eg_dic:
    for ind in lab_events_impute.loc[(lab_events_impute[('mean', labitem[0])].isnull()) & (lab_events_impute['ethnicity'] == labitem[1]) & (lab_events_impute['gender'] == labitem[2])].index:
        val_max = lab_range_eg_dic[labitem][1]
        val_min = lab_range_eg_dic[labitem][0]

        val_ave = (val_max + val_min) / 2
        val_std = (val_max - val_ave) * .333

        ran_vals = np.random.normal(val_ave, val_std, 50)
        impute_min = min(ran_vals)
        impute_max = max(ran_vals)
        impute_mean = np.mean(ran_vals)
        
        val_min = lab_events_impute[('min', labitem[0])][ind]
        val_max = lab_events_impute[('max', labitem[0])][ind]
        val_mean = lab_events_impute[('mean', labitem[0])][ind]
        
        lab_events_impute[('min', labitem[0])][ind] = np.where(np.isnan(val_min), impute_min, val_min)
        lab_events_impute[('max', labitem[0])][ind] = np.where(np.isnan(val_max), impute_max, val_max)
        lab_events_impute[('mean', labitem[0])][ind] = np.where(np.isnan(val_mean), impute_mean, val_mean)
#         patient[('mean', labitem)].replace(np.nan, impute_mean)
#         patient[('abn_count', labitem)].replace(np.nan, 0)
# 5k patients
# 10 items - 2.5s
# 20 items - 6s
# 30 items - 28.6s

# 10k patients
# 40 items - 1m 34s

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

CPU times: user 12.4 s, sys: 48 ms, total: 12.4 s
Wall time: 12.5 s

In [439]:
for lab_itemid in lab_range_eg_dic:
    lab_events_impute[( 'above_max', lab_itemid[0])] = lab_events_impute[( 'above_max', lab_itemid[0])].replace(np.nan, 0)
    lab_events_impute[( 'below_min', lab_itemid[0])] = lab_events_impute[( 'below_min', lab_itemid[0])].replace(np.nan, 0)
    lab_events_impute[( 'abn_percent', lab_itemid[0])] = lab_events_impute[( 'abn_percent', lab_itemid[0])].replace(np.nan, 0)
#     lab_events_sampled_pivot[( 'comments', lab_itemid)] = lab_events_sampled_pivot[( 'comments', lab_itemid)].replace(np.nan, np.array(np.nan))

In [440]:
missing_vals = lab_events_impute.isnull().sum(axis = 0) 
missing_vals[missing_vals > 0].sort_values()

Series([], dtype: int64)

In [441]:
lab_events_impute_KNN = lab_events_sampled_pivot.copy()

In [442]:
lab_events_impute_KNN = lab_events_impute_KNN.merge(admissions_sample, left_on = 'hadm_id', right_on = 'hadm_id')

dummy = pd.get_dummies(lab_events_impute_KNN['ethnicity'], prefix='ethnicity')
dummy.drop('ethnicity_WHITE', axis=1, inplace=True)
lab_events_impute_KNN = lab_events_impute_KNN.drop('ethnicity', axis=1)
lab_events_impute_KNN = pd.concat([lab_events_impute_KNN, dummy], axis=1)

dummy = pd.get_dummies(lab_events_impute_KNN['insurance'], prefix='insurance')
dummy.drop('insurance_Other', axis=1, inplace=True)
lab_events_impute_KNN = lab_events_impute_KNN.drop('insurance', axis=1)
lab_events_impute_KNN = pd.concat([lab_events_impute_KNN, dummy], axis=1)


lab_events_impute_KNN['gender'] = lab_events_impute_KNN['gender'].map({'M' : 0.0, 'F' : 1.0})
lab_events_impute_KNN['gender'] = pd.to_numeric(lab_events_impute_KNN['gender'])

In [443]:
%%time

from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=math.trunc((lab_events_impute_KNN.shape[0] ** 0.5)))
lab_events_impute_KNN_imputed = imputer.fit_transform(lab_events_impute_KNN)

# 3min 8s

CPU times: user 57.9 s, sys: 12.3 s, total: 1min 10s
Wall time: 1min 5s

In [444]:
lab_events_impute_KNN_imputed = pd.DataFrame(lab_events_impute_KNN_imputed)
lab_events_impute_KNN_imputed.columns = lab_events_impute_KNN.columns

In [445]:
for lab_itemid in lab_range_eg_dic:
    lab_events_impute_KNN_imputed[( 'above_max', lab_itemid[0])] = lab_events_impute_KNN_imputed[( 'above_max', lab_itemid[0])].replace(np.nan, 0)
    lab_events_impute_KNN_imputed[( 'below_min', lab_itemid[0])] = lab_events_impute_KNN_imputed[( 'below_min', lab_itemid[0])].replace(np.nan, 0)
    lab_events_impute_KNN_imputed[( 'abn_percent', lab_itemid[0])] = lab_events_impute_KNN_imputed[( 'abn_percent', lab_itemid[0])].replace(np.nan, 0)
#     lab_events_sampled_pivot[( 'comments', lab_itemid)] = lab_events_sampled_pivot[( 'comments', lab_itemid)].replace(np.nan, np.array(np.nan))

## Standardize the Data for use in Models

In [446]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

In [447]:
labs_scaled = lab_events_impute.copy()
labs_scaled_KNN = lab_events_impute_KNN_imputed.copy()
labs_scaled_missing_data = lab_events_sampled_pivot.copy()

In [448]:
labs_scaled_missing_data = labs_scaled_missing_data.merge(admissions_sample, how='left', left_on='hadm_id', right_on='hadm_id')

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/reshape/merge.py:618: UserWarning: merging between different levels can give an unintended result (2 levels on the left, 1 on the right)
  warnings.warn(msg, UserWarning)

In [449]:
scale_cols = ~labs_scaled.columns.isin([('subject_id', ''), ('hadm_id', ''), 'subject_id', 'hadm_id', 'pos', 'ethnicity', 'gender', 'insurance'])

scaler.fit(labs_scaled.loc[:, scale_cols])
labs_scaled.loc[:, scale_cols] = scaler.transform(labs_scaled.loc[:, scale_cols])

scale_cols = ~labs_scaled_KNN.columns.isin([('subject_id', ''), ('hadm_id', ''), 'subject_id', 'hadm_id', 'pos', 'gender', 'ethnicity_AMERICAN INDIAN/ALASKA NATIVE', 'ethnicity_ASIAN', 'ethnicity_BLACK/AFRICAN AMERICAN', 'ethnicity_HISPANIC/LATINO', 'ethnicity_OTHER', 'ethnicity_UNKNOWN', 'insurance_Medicare','insurance_Medicaid'])

scaler.fit(labs_scaled_KNN.loc[:, scale_cols])
labs_scaled_KNN.loc[:, scale_cols] = scaler.transform(labs_scaled_KNN.loc[:, scale_cols])

scale_cols = ~labs_scaled_missing_data.columns.isin([('subject_id', ''), ('hadm_id', ''), 'subject_id', 'hadm_id', 'pos', 'ethnicity', 'gender','insurance'])

scaler.fit(labs_scaled_missing_data.loc[:, scale_cols])
labs_scaled_missing_data.loc[:, scale_cols] = scaler.transform(labs_scaled_missing_data.loc[:, scale_cols])

## Save Lab Results for Models

In [450]:
# Save non-imputed file as well for forest models

pos_final_test = labs_scaled.copy()
pos_KNN_final_test = labs_scaled_KNN.copy()
pos_final_missing_data_test = labs_scaled_missing_data.copy()

In [451]:
dummy = pd.get_dummies(pos_final_test['ethnicity'], prefix='ethnicity')
dummy.drop('ethnicity_WHITE', axis=1, inplace=True)
pos_final_test = pos_final_test.drop('ethnicity', axis=1)
pos_final_test = pd.concat([pos_final_test, dummy], axis=1)

pos_final_test['gender'] = pos_final_test['gender'].map({'M' : 0.0, 'F' : 1.0})
pos_final_test['gender'] = pd.to_numeric(pos_final_test['gender'])



dummy = pd.get_dummies(pos_final_missing_data_test['ethnicity'], prefix='ethnicity')
dummy.drop('ethnicity_WHITE', axis=1, inplace=True)
pos_final_missing_data_test = pos_final_missing_data_test.drop('ethnicity', axis=1)
pos_final_missing_data_test = pd.concat([pos_final_missing_data_test, dummy], axis=1)

pos_final_missing_data_test['gender'] = pos_final_missing_data_test['gender'].map({'M' : 0.0, 'F' : 1.0})
pos_final_missing_data_test['gender'] = pd.to_numeric(pos_final_missing_data_test['gender'])

In [452]:
labitem_names = d_labitems.loc[d_labitems['itemid'].isin(itemid_sub_sample)].copy()
labitem_names['Short Name'] = labitem_names['label'] + ' - ' + labitem_names['fluid'] + ' - ' + labitem_names['category']

labitem_names = labitem_names[['itemid', 'Short Name']]
labitem_names.set_index('itemid', inplace = True)
labitem_dict = labitem_names.to_dict()['Short Name']

In [453]:
def rename_lab_col(table_name):
    num_cols = ~table_name.columns.isin([('subject_id', ''), ('hadm_id', ''), 'subject_id', 'hadm_id', 'pos', 'gender', 'ethnicity_AMERICAN INDIAN/ALASKA NATIVE', 'ethnicity_ASIAN', 'ethnicity_BLACK/AFRICAN AMERICAN', 'ethnicity_HISPANIC/LATINO', 'ethnicity_OTHER', 'ethnicity_UNKNOWN', 'age','ed_length', 'insurance_Medicare','insurance_Medicaid'])

    col_names = []
    col_names = list(table_name.loc[:, num_cols].columns)

    x, y = zip(*col_names)
    col_names = list(zip(x, list(map(labitem_dict.get, y))))

    rename_dict = dict(zip(table_name.loc[:, num_cols].columns, col_names))

    table_name.rename(columns = rename_dict, inplace = True)

In [454]:
rename_lab_col(pos_final_test)
rename_lab_col(pos_KNN_final_test)
rename_lab_col(pos_final_missing_data_test)

In [455]:
pos_final_test.to_csv('data/pos_final_test.csv.gz', compression="gzip")
pos_KNN_final_test.to_csv('data/pos_KNN_final_test.csv.gz', compression="gzip")
pos_final_missing_data_test.to_csv('data/pos_final_missing_data_test.csv.gz', compression="gzip")

## Check for Multicollinearity

In [ ]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant

In [ ]:
%%time

num_cols = ~labs_scaled.columns.isin([('subject_id', ''), ('hadm_id', ''), 'subject_id', 'hadm_id', 'pos', 'gender', 'ethnicity', 'age'])

labs_scaled_features = labs_scaled.loc[:, num_cols]
add_constant(labs_scaled_features)

high_vif = pd.Series([variance_inflation_factor(labs_scaled_features.values, i) 
               for i in range(labs_scaled_features.shape[1])], 
              index=labs_scaled_features.columns).sort_values(ascending = False)

high_vif.head(20)

In [ ]:
labs_scaled_features_limited = labs_scaled_features.copy()

labs_scaled_features_limited.drop([('max', 50931),
                                   ('mean', 51222),
                                   ('max', 50912),
                                   ('min', 51221),
                                   ('mean', 50912),
                                   ('mean', 51265),
                                   ('max', 51006),
                                   ('mean', 51221)], axis = 1, inplace = True)

# # Top 40 labs
# labs_scaled_features_limited.drop([('above_max', 51484),
#                                   ('above_max', 51478),
#                                   ('above_max', 51466),
#                                   ('above_max', 51464),
#                                   ('max', 51003),
#                                   ('max', 50878),
#                                   ('max', 50861),
#                                   ('max', 51237),
#                                   ('mean', 51248),
#                                   ('max', 50931),
#                                   ('mean', 51222),
#                                   ('max', 51274),
#                                   ('mean', 51279),
#                                   ('mean', 51274),
#                                   ('mean', 51478),
#                                   ('mean', 50885),
#                                   ('mean', 51250),
#                                   ('max', 50911),
#                                   ('mean', 51003),
#                                   ('mean', 51466),
#                                   ('mean', 51484),
#                                   ('mean', 51486),
#                                   ('mean', 51277),
#                                   ('mean', 51221),
#                                   ('max', 50912),
#                                   ('max', 51275),
#                                   ('mean', 51492),
#                                   ('mean', 51514),
#                                   ('mean', 51006),
#                                   ('min', 51222),
#                                   ('max', 50960),
#                                   ('mean', 51249),
#                                   ('max', 50885),
#                                   ('mean', 51506),
#                                   ('max', 51248),
#                                   ('min', 51279),
#                                   ('mean', 50912),
#                                   ('mean', 51265),
#                                   ('mean', 51464),
#                                   ('min', 51248),
#                                   ('max', 51222),
#                                   ('max', 51301),
#                                   ('mean', 51487),
#                                   ('below_min', 51222),
#                                   ('max', 51006),
#                                   ('mean', 50902),
#                                   ('mean', 50911),
#                                   ('above_max', 50861),
#                                   ('mean', 50882),
#                                   ('below_min', 51279),
#                                   ('abn_percent', 51274),
#                                   ('mean', 51301),
#                                   ('mean', 50893),
#                                   ('max', 50863),
#                                   ('min', 51250),
#                                   ('mean', 50983),
#                                   ('mean', 50868),
#                                   ('mean', 50970),
#                                   ('mean', 51237),
#                                   ('mean', 50971),
#                                   ('mean', 51498),
#                                   ('mean', 51491),
#                                   ('max', 51277),
#                                   ('mean', 50878),
#                                   ('above_max', 51237),
#                                   ('mean', 51275),
#                                   ('min', 51221),
#                                   ('max', 51279),
#                                   ('below_min', 51248),
#                                   ('min', 50902),
#                                   ('mean', 50863),
#                                   ('mean', 50931),
#                                   ('max', 50902),
#                                   ('below_min', 51514),
#                                   ('max', 51466),
#                                   ('min', 50893),
#                                   ('above_max', 50912),
#                                   ('max', 51265),
#                                   ('min', 50882),
#                                   ('max', 50970),
#                                   ('mean', 50960),
#                                   ('min', 51249),
#                                   ('min', 50983),
#                                   ('min', 51237),
#                                   ('above_max', 51003),
#                                   ('above_max', 50885),
#                                   ('abn_percent', 51466),
#                                   ('max', 51486)], axis = 1, inplace = True)

In [ ]:
%%time

high_vif = pd.Series([variance_inflation_factor(labs_scaled_features_limited.values, i) 
               for i in range(labs_scaled_features_limited.shape[1])], 
              index=labs_scaled_features_limited.columns).sort_values(ascending = False)

high_vif.head(20)