In [1]:
import pandas as pd
import pickle
import numpy as np
import matplotlib.pyplot as plt

In [2]:
pos_final_test = pd.read_csv('./data/pos_final_test.csv.gz', compression='gzip')

model_cols = ~pos_final_test.columns.isin(['(\'subject_id\', \'\')', '(\'hadm_id\', \'\')', 'subject_id', 'hadm_id', 'Unnamed: 0', 'pos'])

hadm_features = pos_final_test.loc[:, model_cols]
hadm_target = pos_final_test.loc[:, 'pos']

In [3]:
hadm_features

,"('min', 50861)","('min', 50863)","('min', 50868)","('min', 50878)","('min', 50882)","('min', 50885)","('min', 50893)","('min', 50902)","('min', 50911)","('min', 50912)",...,"('above_max', 51486)","('above_max', 51487)","('above_max', 51491)","('above_max', 51492)","('above_max', 51498)","('above_max', 51506)","('above_max', 51514)",ethnicity,gender,age
0,0.136785,0.110497,1.224612,0.110533,-2.499158,-0.068137,-1.018438,-1.066411,4.654092,0.283507,...,3.579520,-0.138732,-0.069435,0.351123,-0.132623,1.992737,-0.180397,UNKNOWN,M,81
1,-0.212926,-0.298351,-0.933324,-0.260672,-0.116558,-0.108736,0.370038,0.550818,-0.068301,0.145582,...,-0.376696,-0.138732,-0.069435,-0.258941,-0.132623,-0.342009,-0.180397,WHITE,M,50
2,-0.149317,0.558829,0.145644,-0.029917,0.412909,-0.068137,0.093368,-1.875025,0.055121,0.283507,...,0.612358,-0.138732,-0.069435,-0.258941,-0.132623,-0.342009,-0.180397,WHITE,F,85
3,-0.154584,-0.356108,0.505300,-0.245486,0.148176,-0.119831,0.371319,1.561586,-0.108846,-0.406121,...,-0.376696,-0.138732,-0.069435,-0.258941,-0.132623,-0.342009,-0.180397,WHITE,M,33
4,0.899723,0.435151,-0.214012,0.578701,1.471843,-0.068137,0.510295,0.146511,-0.138917,-0.130270,...,-0.376696,-0.138732,-0.069435,-0.258941,-0.132623,-0.342009,-0.180397,WHITE,M,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8733,-0.195958,-0.521731,0.145644,-0.202256,0.677642,-0.257016,0.391427,0.955125,0.055121,0.283507,...,-0.376696,-0.138732,-0.069435,-0.258941,-0.132623,-0.342009,-0.180397,OTHER,F,56
8734,-0.260684,-0.408516,0.145644,-0.187784,0.677642,-0.213115,0.927222,0.752972,-0.245649,0.835210,...,-0.376696,-0.138732,-0.069435,-0.258941,-0.132623,-0.342009,-0.180397,WHITE,M,79
8735,-0.149317,-0.059560,-0.573668,-0.135255,-1.969691,-0.132460,-1.296389,-2.885793,-0.111951,-0.130270,...,-0.376696,-0.138732,-0.069435,-0.258941,-0.132623,-0.342009,-0.180397,ASIAN,M,89
8736,-0.085739,-0.167779,-2.371948,0.028604,-0.381291,0.189158,-0.879462,-1.672871,-0.124491,-0.544046,...,3.579520,-0.138732,-0.069435,0.351123,-0.132623,1.992737,0.739806,WHITE,M,67
8737,0.052014,0.682507,-1.652636,0.332913,0.942376,0.317806,-0.462535,-2.077178,-0.069864,-0.130270,...,-0.376696,-0.138732,-0.069435,-0.258941,-0.132623,-0.342009,0.739806,WHITE,M,61

In [4]:
d_labitems = pd.read_csv('data/mimic-iv-0.4/hosp/d_labitems.csv.gz', compression='gzip')

In [18]:
items = [50931, 51274, 50911, 51237, 51006, 50912, 51514, 51003]
d_labitems[d_labitems.itemid.isin(items)]

      itemid                          label  fluid    category loinc_code
511    50911  Creatine Kinase, MB Isoenzyme  Blood   Chemistry     6773-6
512    50912                     Creatinine  Blood   Chemistry     2160-0
723    50931                        Glucose  Blood   Chemistry     6777-7
912    51237                        INR(PT)  Blood  Hematology     5895-7
1279   51274                             PT  Blood  Hematology     5902-2
1494   51003                     Troponin T  Blood   Chemistry     6598-7
1506   51006                  Urea Nitrogen  Blood   Chemistry     3094-0
1540   51514                   Urobilinogen  Urine  Hematology     5818-0

In [ ]:
51006 50912 - random forest
51006 51003 - logistic