In [1]:
import pandas as pd
import numpy as np
from sklearn.utils import resample
import math

In [2]:
pd.set_option('display.max_columns',None)

In [3]:
d_labitems = pd.read_csv('../data/mimic-iv-0.4/hosp/d_labitems.csv.gz', compression='gzip')

In [81]:
admissions_sample = pd.read_pickle("../data/admissions_sample_male.pkl")

In [82]:
admissions_sample

,subject_id,hadm_id,pos,ethnicity,ed_length,insurance,gender,age,pneumoia,diabetes,hypertension,atherosclero,renal_failure,arrhythmia
0,12025783,22858815,1,WHITE,2.433333,Medicare,M,78,0.0,0.0,0.0,0.0,0.0,0.0
1,12010560,22949277,1,HISPANIC/LATINO,3.766667,Other,M,53,0.0,0.0,1.0,1.0,0.0,0.0
2,11516184,27692748,1,WHITE,10.716667,Other,M,70,0.0,0.0,0.0,0.0,0.0,0.0
3,14716749,25704799,1,WHITE,5.883333,Other,M,84,0.0,0.0,0.0,0.0,0.0,0.0
4,15999159,25077928,1,BLACK/AFRICAN AMERICAN,6.833333,Other,M,71,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11247,15313582,23498737,0,WHITE,0.000000,Other,M,56,0.0,1.0,1.0,0.0,0.0,0.0
11248,12080872,28847340,0,WHITE,3.316667,Other,M,44,0.0,0.0,0.0,0.0,0.0,0.0
11249,15114996,23842511,0,WHITE,0.000000,Other,M,69,0.0,0.0,0.0,0.0,0.0,0.0
11250,12979215,26885847,0,WHITE,5.483333,Other,M,46,0.0,0.0,0.0,0.0,0.0,0.0
11251,19262170,25259739,0,HISPANIC/LATINO,9.566667,Medicaid,M,49,0.0,0.0,0.0,0.0,0.0,0.0

## Pull Chart and Lab data only where it matches our sample patient list

In [83]:
# # We have Decided not to use Chart data after exploring it further
# # However, it still comes up in our discussions, so keeping this for now
# # Will need to update this code based on other updates we've made

# %%time #run this for next time

# chunksize = 3*(10 ** 6)
# counter=0
# chartevents_sample = []
# for chunk in pd.read_csv('data/mimic-iv-0.4/icu/chartevents.csv.gz', compression='gzip', chunksize=chunksize):
#     chartevents_sample.append(chunk[chunk['subject_id'].isin(list(admissions_sample.subject_id))])
#     counter+=1
#     print(f'chunk {counter} processed')

# chartevents_final = pd.concat(chartevents_sample)

In [84]:
# chartevents_final.to_pickle("./data/chartevents_final.pkl")

In [85]:
# chartevents_final = pd.read_pickle("./data/chartevents_final.pkl")

In [86]:
# chartevents_final.shape

Load Lab Events table

In [87]:
# %%time

chunksize = 3*(10 ** 6)
counter=0
lab_events_sample = []
for chunk in pd.read_csv('../data/mimic-iv-0.4/hosp/labevents.csv.gz', compression='gzip', chunksize=chunksize):
    lab_events_sample.append(chunk[chunk['subject_id'].isin(list(admissions_sample.subject_id))])
    counter+=1
    print(f'chunk {counter} processed')

lab_events_final = pd.concat(lab_events_sample)
# 5k patients
# 3min 52s

# 10k patients
# 4min 6s

# 15k patients
# 4min 27s

chunk 1 processed
chunk 2 processed
chunk 3 processed

/Users/brandonryu/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (7,9,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

chunk 4 processed
chunk 5 processed
chunk 6 processed
chunk 7 processed
chunk 8 processed
chunk 9 processed

/Users/brandonryu/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (9,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

chunk 10 processed

/Users/brandonryu/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

chunk 11 processed
chunk 12 processed
chunk 13 processed
chunk 14 processed
chunk 15 processed

/Users/brandonryu/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

chunk 16 processed
chunk 17 processed
chunk 18 processed
chunk 19 processed
chunk 20 processed
chunk 21 processed
chunk 22 processed
chunk 23 processed

/Users/brandonryu/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (7,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

chunk 24 processed
chunk 25 processed
chunk 26 processed
chunk 27 processed
chunk 28 processed
chunk 29 processed
chunk 30 processed
chunk 31 processed
chunk 32 processed
chunk 33 processed
chunk 34 processed
chunk 35 processed
chunk 36 processed
chunk 37 processed
chunk 38 processed
chunk 39 processed
chunk 40 processed
chunk 41 processed

In [88]:
lab_events_final.to_pickle("../data/lab_events_final_male.pkl")

In [8]:
# lab_events_final = pd.read_pickle("data/lab_events_final.pkl")

In [89]:
lab_events_final.shape

(6840203, 15)

## Manipulating the Data

Take only records related to our sample patients

Filter lab events based on first hospital visit of our sample population

In [90]:
# Can we do this filtering when generating lab data?
# For now let's not as we're discussing using different hospitalizations from the same subjects

%time lab_events_sampled = lab_events_final[lab_events_final['hadm_id'].isin(list(admissions_sample.hadm_id))]

CPU times: user 3.16 s, sys: 3.9 s, total: 7.06 s
Wall time: 17.5 s

Check how many patients have had each test done

In [91]:
lab_events_sampled.groupby('itemid')['subject_id'].nunique().sort_values(ascending = False).head(10)

itemid
51221    8355
50912    8317
50971    8303
51006    8291
51265    8288
50983    8262
50902    8249
51222    8213
51301    8213
51250    8205
Name: subject_id, dtype: int64

Most common tests performed on patients with pos diagnosis

In [92]:
lab_events_sampled[lab_events_sampled['subject_id'].isin(list(admissions_sample[admissions_sample['pos'] == 1].subject_id))].groupby('itemid')['subject_id'].nunique().sort_values(ascending = False).head(10)

itemid
50971    1407
50912    1406
50983    1402
51006    1401
50902    1400
51221    1396
51265    1391
50868    1384
50882    1384
50931    1381
Name: subject_id, dtype: int64

Item Black List

In [93]:
item_black_list = []
# # 50920 - test results are text in comments - need to come back and figure out how to handle this

Bonus Items To Add

In [94]:
# These test, although they have much missingness, are known to be good indicators of congestive heart failure

item_bonus_list = [51274, 51003, 50920, 50911, 51464]
# 51274 PT
# 50920 Estimated GFR (MDRD equation)
# 51003 Troponin T
# 50911 Creatine Kinase, MB Isoenzyme
# 51464 Specific Gravity

Take only the X most commonly performed tests

In [95]:
top_test_num = 20

lab_events_valid = lab_events_sampled[~lab_events_sampled['itemid'].isin(item_black_list)]

# On patients with pos diagnosis
itemid_sub_sample = lab_events_valid[lab_events_valid['subject_id'].isin(list(admissions_sample[admissions_sample['pos'] == 1].subject_id))].groupby('itemid')['subject_id'].nunique().sort_values(ascending = False).head(top_test_num).reset_index().rename(columns = {'index' : 'itemid'}).itemid.to_list()
# On all sample patients
# itemid_sub_sample = lab_events_sampled.groupby('itemid')['subject_id'].nunique().sort_values(ascending = False).head(top_test_num).reset_index().rename(columns = {'index' : 'itemid'}).itemid.to_list()

itemid_sub_sample = itemid_sub_sample + item_bonus_list

lab_events_sampled_sub = lab_events_sampled[lab_events_sampled['itemid'].isin(itemid_sub_sample)]

In [96]:
# # lab_events_valid['subject_id'].isin(list(admissions_sample[admissions_sample['pos'] == 1].subject_id))

# top_labs = lab_events_sampled.groupby(['itemid']).agg(freq=('subject_id', lambda x: len(np.unique(x))))\
# .reset_index().sort_values('freq', ascending=False).head(60)

# top_labs

In [97]:
# subset_labs['subject_id'].reset_index(drop=True).plot(kind='line')

In [98]:
# print(lab_events_valid[lab_events_valid['subject_id'].isin(list(admissions_sample[admissions_sample['pos'] == 1].subject_id))].groupby('itemid')['subject_id'].nunique().sort_values(ascending = False).head(20).reset_index().rename(columns = {'index' : 'itemid'}))

# # print(1191 / admissions_sample[admissions_sample['pos'] == 1].subject_id.nunique())
# # print(1192 / admissions_sample[admissions_sample['pos'] == 1].subject_id.nunique())

In [99]:
# print(lab_events_valid[lab_events_valid['subject_id'].isin(list(admissions_sample[admissions_sample['pos'] == 0].subject_id))].groupby('itemid')['subject_id'].nunique().sort_values(ascending = False).head(20).reset_index().rename(columns = {'index' : 'itemid'}))

# # print(6726 / admissions_sample[admissions_sample['pos'] == 0].subject_id.nunique())
# # print(6793 / admissions_sample[admissions_sample['pos'] == 0].subject_id.nunique())

In [100]:
# subset_labs['subject_id'].reset_index(drop=True).plot(kind='line')

## Data Cleaning

Make a separate table where we run some of the forest models on the Text data?

Special updates for Urine sample tests

In [101]:
# Other invalid value imputation
# For now set them all to normal/most common value
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51237) & (lab_events_sampled_sub['value'].isin([np.nan, 'ERROR', 'UNABLE TO REPORT'])), ['value', 'valuenum']] = 1.1
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51237) & (lab_events_sampled_sub['value'].isin(['>21.8'])), ['value', 'valuenum']] = 22
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51237) & (lab_events_sampled_sub['value'].isin(['>19.2'])), ['value', 'valuenum']] = 20

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51275) &  (lab_events_sampled_sub['value'].isin(['>150', '>150.0'])), ['value', 'valuenum']] = 175

# Should we just delete these?
# For 5k patients there are 6 records here
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51274) &  (lab_events_sampled_sub['value'].isin(['ERROR'])), ['value', 'valuenum']] = 11
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51274) &  (lab_events_sampled_sub['value'].isin(['UNABLE TO REPORT','ERROR,DISREGARD PREVIOUS RESULT OF 11.8'])), ['value', 'valuenum']] = np.nan

# Should we just delete these?
# For 5k patients there are 1 records here
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51275) &  (lab_events_sampled_sub['value'].isin(['UNABLE TO REPORT'])), ['value', 'valuenum']] = 31

# Clumsy..
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51275) &  (lab_events_sampled_sub['value'].isin(['34..3'])), ['value', 'valuenum']] = 34.3

/Users/brandonryu/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

More Data Cleaning

In [126]:
%%time

# Can probably make a helper function combining some of the below mapping

# 51466
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51466) & (lab_events_sampled_sub['value'].isin([np.nan])), ['value']] = lab_events_sampled_sub['comments']
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51466) & (lab_events_sampled_sub['value'].isin(['NEG.  ', 'NEG', ' '])), ['value', 'valuenum']] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51466) & (lab_events_sampled_sub['value'].isin(['TR', 'TR.  ', 'TR*.  '])), ['value', 'valuenum']] = 1
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51466) & (lab_events_sampled_sub['value'].isin(['SM', 'SM .  ', 'SM*.  '])), ['value', 'valuenum']] = 2
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51466) & (lab_events_sampled_sub['value'].isin(['MOD', 'MOD.  ', 'MOD*.  '])), ['value', 'valuenum']] = 3
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51466) & (lab_events_sampled_sub['value'].isin(['LG', 'LG.  ', 'LG*.  ', 'LGE', 'LRG'])), ['value', 'valuenum']] = 4

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51466) & (lab_events_sampled_sub['ref_range_lower'].isnull()), 'ref_range_lower'] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51466) & (lab_events_sampled_sub['ref_range_upper'].isnull()), 'ref_range_upper'] = 0

# 51514
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51514) & (lab_events_sampled_sub['value'].isin([np.nan])), ['value']] = lab_events_sampled_sub['comments']
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51514) & (lab_events_sampled_sub['value'].isin(['NEG.  ', 'NEG', 'NORMAL.  ', ' '])), ['value', 'valuenum']] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51514) & (lab_events_sampled_sub['value'].isin(['>8'])), ['value', 'valuenum']] = 10
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51514) & (lab_events_sampled_sub['value'].isin(['>12.  ', '>12*.  '])), ['value', 'valuenum']] = 15

# 51464
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51464) & (lab_events_sampled_sub['value'].isin([np.nan])), ['value']] = lab_events_sampled_sub['comments']
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51464) & (lab_events_sampled_sub['value'].isin(['NEG.  ', 'NEG', ' '])), ['value', 'valuenum']] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51464) & (lab_events_sampled_sub['value'].isin(['SM', 'SM .  ', 'SM*.  '])), ['value', 'valuenum']] = 1
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51464) & (lab_events_sampled_sub['value'].isin(['MOD', 'MOD.  ', 'MOD*.  '])), ['value', 'valuenum']] = 2
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51464) & (lab_events_sampled_sub['value'].isin(['LG', 'LG.  ', 'LG*.  ', 'LGE'])), ['value', 'valuenum']] = 3

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51464) & (lab_events_sampled_sub['ref_range_lower'].isnull()), 'ref_range_lower'] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51464) & (lab_events_sampled_sub['ref_range_upper'].isnull()), 'ref_range_upper'] = 0

# 51487
# Should Pos be marked abnormal?
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51487) & (lab_events_sampled_sub['value'].isin([np.nan])), ['value']] = lab_events_sampled_sub['comments']
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51487) & (lab_events_sampled_sub['value'].isin(['NEG.  ', 'NEG', ' '])), ['value', 'valuenum']] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51487) & (lab_events_sampled_sub['value'].isin(['POS.  ', 'POS', 'POS*.  '])), ['value', 'valuenum']] = 1

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51487) & (lab_events_sampled_sub['ref_range_lower'].isnull()), 'ref_range_lower'] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51487) & (lab_events_sampled_sub['ref_range_upper'].isnull()), 'ref_range_upper'] = 0

# 51492
# Should Pos be marked abnormal?
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51492) & (lab_events_sampled_sub['value'].isin([np.nan])), ['value']] = lab_events_sampled_sub['comments']
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51492) & (lab_events_sampled_sub['value'].isin(['___'])), ['value', 'valuenum']] = np.nan
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51492) & (lab_events_sampled_sub['value'].isin(['NEG.  ', 'NEG', ' '])), ['value', 'valuenum']] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51492) & (lab_events_sampled_sub['value'].isin(['TR', 'TR.  ', 'TR*.  '])), ['value', 'valuenum']] = 10
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51492) & (lab_events_sampled_sub['value'].str.contains('TR.')), ['value', 'valuenum']] = 10
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51492) & (lab_events_sampled_sub['value'].isin(['>300'])), ['value', 'valuenum']] = 350
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51492) & (lab_events_sampled_sub['value'].isin(['>600.  ', '>600*.  '])), ['value', 'valuenum']] = 700

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51492) & (lab_events_sampled_sub['ref_range_lower'].isnull()), 'ref_range_lower'] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51492) & (lab_events_sampled_sub['ref_range_upper'].isnull()), 'ref_range_upper'] = 0

# 51486
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51486) & (lab_events_sampled_sub['value'].isin([np.nan])), ['value']] = lab_events_sampled_sub['comments']
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51486) & (lab_events_sampled_sub['value'].isin(['NEG.  ', 'NEG', ' ', 'N'])), ['value', 'valuenum']] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51486) & (lab_events_sampled_sub['value'].isin(['TR', 'TR.  ', 'TR*.  '])), ['value', 'valuenum']] = 1
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51486) & (lab_events_sampled_sub['value'].isin(['SM', 'SM .  ', 'SM*.  '])), ['value', 'valuenum']] = 2
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51486) & (lab_events_sampled_sub['value'].isin(['MOD', 'MOD.  ', 'MOD*.  '])), ['value', 'valuenum']] = 3
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51486) & (lab_events_sampled_sub['value'].isin(['LG', 'LG.  ', 'LG*.  ', 'LGE'])), ['value', 'valuenum']] = 4

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51486) & (lab_events_sampled_sub['ref_range_lower'].isnull()), 'ref_range_lower'] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51486) & (lab_events_sampled_sub['ref_range_upper'].isnull()), 'ref_range_upper'] = 0

# 51506
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51506) & (lab_events_sampled_sub['value'].isin([np.nan])), ['value']] = lab_events_sampled_sub['comments']
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51506) & (lab_events_sampled_sub['value'].isin(['Clear.  ', 'CLEAR.  ', 'Clear', ' ', 'CLEAR'])), ['value', 'valuenum']] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51506) & (lab_events_sampled_sub['value'].isin(['SlHazy'])), ['value', 'valuenum']] = 0.5
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51506) & (lab_events_sampled_sub['value'].isin(['Hazy.  ', 'Hazy*.  ', 'Hazy', 'HAZY', 'HAZY*.  ', 'Slcldy', 'SLCLOUDY'])), ['value', 'valuenum']] = 1
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51506) & (lab_events_sampled_sub['value'].isin(['Cloudy*.  ', 'Cloudy.  ', 'Cloudy', 'CLO', 'CLOUDY', 'CLOU', 'CLOUDY*.  '])), ['value', 'valuenum']] = 2

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51506) & (lab_events_sampled_sub['ref_range_lower'].isnull()), 'ref_range_lower'] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51506) & (lab_events_sampled_sub['ref_range_upper'].isnull()), 'ref_range_upper'] = 0

# 51301
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51301) & (lab_events_sampled_sub['value'].isin(['<0.1'])), ['value', 'valuenum']] = 0

# 51274
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51274) & (lab_events_sampled_sub['value'].isin(['22.2.'])), ['value', 'valuenum']] = 22.2
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51274) & (lab_events_sampled_sub['value'].isin(['â€¦12.1'])), ['value', 'valuenum']] = 12.1
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51274) & (lab_events_sampled_sub['value'].isin(['>150'])), ['value', 'valuenum']] = 150

/Users/brandonryu/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

CPU times: user 7.97 s, sys: 332 ms, total: 8.3 s
Wall time: 10.2 s

In [127]:
lab_events_sampled_sub[lab_events_sampled_sub['value']=='>150']
# itemid_sub_sample

Empty DataFrame
Columns: [labevent_id, subject_id, hadm_id, specimen_id, itemid, charttime, storetime, value, valuenum, valueuom, ref_range_lower, ref_range_upper, flag, priority, comments]
Index: []

Additional Data Cleaning

In [128]:
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51484) & (lab_events_sampled_sub['value'].isin([np.nan, ' ', 'TR', 'NEG'])), ['value', 'valuenum']] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51478) & (lab_events_sampled_sub['value'].isin([np.nan, ' ', 'TR', 'NEG'])), ['value', 'valuenum']] = 0

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51484) & (lab_events_sampled_sub['ref_range_lower'].isnull()), 'ref_range_lower'] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51478) & (lab_events_sampled_sub['ref_range_lower'].isnull()), 'ref_range_lower'] = 0

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51484) & (lab_events_sampled_sub['ref_range_upper'].isnull()), 'ref_range_upper'] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51478) & (lab_events_sampled_sub['ref_range_upper'].isnull()), 'ref_range_upper'] = 0

# What are good replacement values for these?
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51484) & (lab_events_sampled_sub['value'].isin(['>80'])), ['value', 'valuenum']] = 120
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51478) & (lab_events_sampled_sub['value'].isin(['>1000'])), ['value', 'valuenum']] = 1250

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51498) & (lab_events_sampled_sub['value'].isin(['<1.005'])), ['value', 'valuenum']] = 1.000
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51498) & (lab_events_sampled_sub['value'].isin(['<=1.005'])), ['value', 'valuenum']] = 1.000
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51498) & (lab_events_sampled_sub['value'].isin(['>1.030', '.1.030'])), ['value', 'valuenum']] = 1.035
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51498) & (lab_events_sampled_sub['value'].isin(['>1.035'])), ['value', 'valuenum']] = 1.040
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51498) & (lab_events_sampled_sub['value'].isin(['>1.050'])), ['value', 'valuenum']] = 1.055
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51498) & (lab_events_sampled_sub['comments'].isin(['>1.050*.'])), ['value', 'valuenum']] = 1.055
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51498) & (lab_events_sampled_sub['value'].isin(['>=1.035'])), ['value', 'valuenum']] = 1.040
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51498) & (lab_events_sampled_sub['value'].isin([' '])), ['value', 'valuenum']] = 1.015

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51237) & (lab_events_sampled_sub['value'].isin(['>13.4'])), ['value', 'valuenum']] = 15

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51491) & (lab_events_sampled_sub['value'].isin([' '])), ['value', 'valuenum']] = 6.0

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51498) & (lab_events_sampled_sub['value'].isin(['>1.070'])), ['value', 'valuenum']] = 1.080

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51275) & (lab_events_sampled_sub['value'].isin(['ERROR'])), ['value', 'valuenum']] = np.nan

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51484) & (lab_events_sampled_sub['value'].astype(float) > 0), 'flag'] = 'abnormal'
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51478) & (lab_events_sampled_sub['value'].astype(float) > 0), 'flag'] = 'abnormal'

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51466) & (lab_events_sampled_sub['value'].astype(float) > 0), 'flag'] = 'abnormal'

/Users/brandonryu/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [129]:
# Check on differences between value and valuenum columns

lab_events_sampled_sub.loc[((lab_events_sampled_sub['value'].astype(str) + str('.0')) != lab_events_sampled_sub['valuenum'].astype(str)) 
                           & ((lab_events_sampled_sub['value'].astype(str) + str('0')) != lab_events_sampled_sub['valuenum'].astype(str)) 
                           & ((lab_events_sampled_sub['value'].astype(str)) != lab_events_sampled_sub['valuenum'].astype(str)) 
                           & ((lab_events_sampled_sub['value'].astype(str)) != lab_events_sampled_sub['valuenum'].astype(str) + str('0')) 
                           & ((str('0') + lab_events_sampled_sub['value'].astype(str)) != lab_events_sampled_sub['valuenum'].astype(str))
                           & ((lab_events_sampled_sub['value'].astype(str)) != round(lab_events_sampled_sub['valuenum'], 10).astype(str)), ]

,labevent_id,subject_id,hadm_id,specimen_id,itemid,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments
87206156,107413387,18629932,22270452.0,51244405,51003,2168-06-04 21:19:00,2168-06-04 23:17:00,.40,0.4,ng/mL,0.0,0.01,abnormal,STAT,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.

## Code to look into specific test values for cleaning

In [ ]:
# lab_events_sampled_sub[lab_events_sampled_sub['value'] == 'UNABLE TO REPORT']

In [ ]:
# # Used to investigate bad data
# pd.set_option('display.max_colwidth', -1)
# pd.set_option('display.max_rows', 200)

# bad_id = 51274

# # lab_events_sampled_sub[lab_events_sampled_sub['itemid'] == bad_id].value.value_counts().reset_index().sort_values(by = 'index')
# # lab_events_sampled_sub[lab_events_sampled_sub['itemid'] == bad_id][['value', 'comments']].drop_duplicates()
# lab_events_sampled_sub[lab_events_sampled_sub['itemid'] == bad_id][['flag', 'comments', 'value', 'valuenum', 'ref_range_lower', 'ref_range_upper']].drop_duplicates().head(100)
# # lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == bad_id) & (lab_events_sampled_sub['value'].isnull()), ][['value', 'valuenum', 'comments']].drop_duplicates()

In [130]:
def gfr_grabber(patient):
    comment = patient['comments']
    gfr_vals = []
    
    if pd.isnull(comment):
        return np.nan
    if type(comment) == str:
        if comment == '___':
            return np.nan
        
        comment = comment.replace('>75', '75')
        if ('between' in comment):
            start_low = comment.find('between')
            end_low = comment.find(' and', start_low + 8, )

            end_high = comment.find(' mL', end_low + 5, )
            
            val = (int(comment[start_low + 8 : end_low]) + int(comment[end_low + 5 : end_high])) / 2

            gfr_vals = [val, val]
        elif 'likely' in comment:
            start_point = comment.find('likely')
            end_point = comment.find(' mL', start_point + 7, )
            gfr_vals = [comment[start_point + 7 : end_point], comment[start_point + 7 : end_point]]
        else:
            start_points = [i for i in range(len(comment)) if comment.startswith('GFR = ', i)]
            end_points = list(map(lambda x: comment.find(' ', x + 6, ), start_points))

            gfr_vals = list(map(lambda x, y: comment[x + 6 : y], start_points, end_points))

    if (admissions_sample.loc[admissions_sample['subject_id'] == patient['subject_id'], 'ethnicity'] == 'BLACK/AFRICAN AMERICAN').iloc[0]:
        return int(gfr_vals[1])
    else:
        return int(gfr_vals[0])
    
lab_gfr = lab_events_sampled_sub.loc[lab_events_sampled_sub['itemid'] == 50920, ['labevent_id', 'comments', 'subject_id']]
lab_gfr['value'] = lab_gfr.apply(gfr_grabber, axis = 1)

In [131]:
lab_events_sampled_sub.loc[lab_events_sampled_sub['labevent_id'].isin(lab_gfr.labevent_id), 'value'] = lab_events_sampled_sub.loc[lab_events_sampled_sub['labevent_id'].isin(lab_gfr.labevent_id), 'labevent_id'].map(lambda x: lab_gfr.loc[lab_gfr['labevent_id'] == x, 'value'])
lab_events_sampled_sub.loc[lab_events_sampled_sub['labevent_id'].isin(lab_gfr.labevent_id), 'value'] = lab_events_sampled_sub.loc[lab_events_sampled_sub['labevent_id'].isin(lab_gfr.labevent_id), 'value'].map(lambda x: x.iloc[0].astype(np.float64))
lab_events_sampled_sub.loc[lab_events_sampled_sub['labevent_id'].isin(lab_gfr.labevent_id), 'valuenum'] = lab_events_sampled_sub.loc[lab_events_sampled_sub['labevent_id'].isin(lab_gfr.labevent_id), 'value'].astype(np.float64)
lab_events_sampled_sub.loc[lab_events_sampled_sub['labevent_id'].isin(lab_gfr.labevent_id), 'ref_range_lower'] = 60
lab_events_sampled_sub.loc[lab_events_sampled_sub['labevent_id'].isin(lab_gfr.labevent_id), 'ref_range_upper'] = 120

/Users/brandonryu/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

## Get Aggregate Test Values

In [132]:
%time lab_events_sampled_sub_grouped = lab_events_sampled_sub.groupby(['subject_id', 'hadm_id', 'itemid']).agg({'itemid' : ['count'], 'valuenum' : ['min', 'max', 'mean'], 'flag' : ['count'], 'ref_range_lower' : ['min'], 'ref_range_upper' : ['min']})
# 'comments' : ['unique'],

CPU times: user 464 ms, sys: 158 ms, total: 621 ms
Wall time: 821 ms

In [133]:
lab_events_sampled_sub_grouped.reset_index(inplace = True)
lab_events_sampled_sub_grouped.columns = ['subject_id', 'hadm_id', 'itemid', 'count', 'min', 'max', 'mean', 'abn_percent', 'range_min', 'range_max']
# 'comments',

In [134]:
missing_vals = lab_events_sampled_sub_grouped.isnull().sum(axis = 0) 
missing_vals[missing_vals > 0].sort_values()

min     1673
max     1673
mean    1673
dtype: int64

In [135]:
lab_events_sampled_sub_grouped.loc[lab_events_sampled_sub_grouped['min'].isnull(), ].itemid.value_counts()

# lab_events_sampled_sub_grouped.loc[(lab_events_sampled_sub_grouped['min'].isnull()) & (lab_events_sampled_sub_grouped['itemid'] == 51003), ]#.subject_id.nunique()
# # lab_events_sampled_sub_grouped.subject_id.nunique()

# lab_events_sampled_sub_grouped.loc[lab_events_sampled_sub_grouped['subject_id'] == 10002264, ]

51003    1396
50911     224
50920      39
51274       8
51265       4
51301       1
51277       1
Name: itemid, dtype: int64

In [136]:
lab_events_sampled_sub_grouped['below_min'] = np.where(lab_events_sampled_sub_grouped['min'] < lab_events_sampled_sub_grouped['range_min'], lab_events_sampled_sub_grouped['range_min'] - lab_events_sampled_sub_grouped['min'], 0)
lab_events_sampled_sub_grouped['above_max'] = np.where(lab_events_sampled_sub_grouped['max'] > lab_events_sampled_sub_grouped['range_max'], lab_events_sampled_sub_grouped['max'] - lab_events_sampled_sub_grouped['range_max'], 0)
lab_events_sampled_sub_grouped['abn_percent'] = lab_events_sampled_sub_grouped['abn_percent'] / lab_events_sampled_sub_grouped['count']

## Merge Admissions data so we can group by ethnicity/gender to grab average range min and max

In [137]:
lab_adm = lab_events_sampled_sub_grouped.merge(admissions_sample, left_on = 'hadm_id', right_on = 'hadm_id')

lab_range_min_max_eg = lab_adm.groupby(['itemid', 'ethnicity', 'gender']).agg({'range_min' : 'mean', 'range_max' : 'mean'})
lab_range_min_max_eg.reset_index(inplace = True)

lab_range_eg_dic = dict(zip(zip(lab_range_min_max_eg['itemid'], lab_range_min_max_eg['ethnicity'], lab_range_min_max_eg['gender']), zip(lab_range_min_max_eg['range_min'], lab_range_min_max_eg['range_max'])))

# # These labs have missing data for the entire ethnicity/gender combo
lab_range_eg_dic[(50911, 'AMERICAN INDIAN/ALASKA NATIVE', 'M')] = (0.0, 10.0)
lab_range_eg_dic[(51003, 'AMERICAN INDIAN/ALASKA NATIVE', 'M')] = (0.0, 0.01)

lab_range_eg_dic

{(50868, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (8.526315789473685,
  19.473684210526315),
 (50868, 'ASIAN', 'M'): (8.441281138790035, 19.459074733096084),
 (50868, 'BLACK/AFRICAN AMERICAN', 'M'): (8.47394540942928,
  19.411910669975185),
 (50868, 'HISPANIC/LATINO', 'M'): (8.377952755905511, 19.548556430446194),
 (50868, 'OTHER', 'M'): (8.4144578313253, 19.46987951807229),
 (50868, 'UNKNOWN', 'M'): (8.586709886547812, 19.316045380875202),
 (50868, 'WHITE', 'M'): (8.417446583083171, 19.514744834893165),
 (50882, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (22.0, 32.0),
 (50882, 'ASIAN', 'M'): (22.0, 32.0),
 (50882, 'BLACK/AFRICAN AMERICAN', 'M'): (22.0, 32.0),
 (50882, 'HISPANIC/LATINO', 'M'): (22.0, 32.0),
 (50882, 'OTHER', 'M'): (22.0, 32.0),
 (50882, 'UNKNOWN', 'M'): (22.0, 32.0),
 (50882, 'WHITE', 'M'): (22.0, 32.0),
 (50893, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (8.400000000000002,
  10.288888888888891),
 (50893, 'ASIAN', 'M'): (8.40160000000004, 10.292400000000004),
 (50893, 'BLACK/AFRICAN AMERICAN', 'M'): (8.399999999999938,
  10.287209302325667),
 (50893, 'HISPANIC/LATINO', 'M'): (8.401169590643327, 10.283040935672556),
 (50893, 'OTHER', 'M'): (8.400000000000054, 10.290112994350325),
 (50893, 'UNKNOWN', 'M'): (8.399999999999986, 10.292760942761035),
 (50893, 'WHITE', 'M'): (8.40031483667927, 10.284828807556584),
 (50902, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (96.0, 108.0),
 (50902, 'ASIAN', 'M'): (96.0, 108.0),
 (50902, 'BLACK/AFRICAN AMERICAN', 'M'): (96.0, 108.0),
 (50902, 'HISPANIC/LATINO', 'M'): (96.0, 108.0),
 (50902, 'OTHER', 'M'): (96.0, 108.0),
 (50902, 'UNKNOWN', 'M'): (96.0, 108.0),
 (50902, 'WHITE', 'M'): (96.0, 108.0),
 (50911, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (0.0, 10.0),
 (50911, 'ASIAN', 'M'): (0.0, 10.0),
 (50911, 'BLACK/AFRICAN AMERICAN', 'M'): (0.0, 10.0),
 (50911, 'HISPANIC/LATINO', 'M'): (0.0, 10.0),
 (50911, 'OTHER', 'M'): (0.0, 10.0),
 (50911, 'UNKNOWN', 'M'): (0.0, 10.0),
 (50911, 'WHITE', 'M'): (0.0, 10.0),
 (50912, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (0.5, 1.1999999999999997),
 (50912, 'ASIAN', 'M'): (0.5, 1.1999999999999935),
 (50912, 'BLACK/AFRICAN AMERICAN', 'M'): (0.5, 1.2000000000000175),
 (50912, 'HISPANIC/LATINO', 'M'): (0.5, 1.1999999999999924),
 (50912, 'OTHER', 'M'): (0.5, 1.199999999999992),
 (50912, 'UNKNOWN', 'M'): (0.5, 1.2000000000000086),
 (50912, 'WHITE', 'M'): (0.5, 1.1999999999998814),
 (50920, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (60.0, 120.0),
 (50920, 'ASIAN', 'M'): (60.0, 120.0),
 (50920, 'BLACK/AFRICAN AMERICAN', 'M'): (60.0, 120.0),
 (50920, 'HISPANIC/LATINO', 'M'): (60.0, 120.0),
 (50920, 'OTHER', 'M'): (60.0, 120.0),
 (50920, 'UNKNOWN', 'M'): (60.0, 120.0),
 (50920, 'WHITE', 'M'): (60.0, 120.0),
 (50931, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (70.0, 100.52631578947368),
 (50931, 'ASIAN', 'M'): (69.9644128113879, 100.55160142348754),
 (50931, 'BLACK/AFRICAN AMERICAN', 'M'): (70.0, 100.71428571428571),
 (50931, 'HISPANIC/LATINO', 'M'): (69.9737532808399, 100.94488188976378),
 (50931, 'OTHER', 'M'): (70.0, 100.50847457627118),
 (50931, 'UNKNOWN', 'M'): (70.0, 100.37337662337663),
 (50931, 'WHITE', 'M'): (69.9929203539823, 100.82035398230089),
 (50960, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (1.6000000000000005,
  2.6000000000000005),
 (50960, 'ASIAN', 'M'): (1.5992125984252026, 2.5968503937007994),
 (50960, 'BLACK/AFRICAN AMERICAN', 'M'): (1.5995683453237486,
  2.598273381294934),
 (50960, 'HISPANIC/LATINO', 'M'): (1.598240469208221, 2.5929618768328595),
 (50960, 'OTHER', 'M'): (1.599445983379512, 2.5977839335180213),
 (50960, 'UNKNOWN', 'M'): (1.5983361064892, 2.5933444259567184),
 (50960, 'WHITE', 'M'): (1.5992924077262962, 2.597169630904805),
 (50970, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (2.700000000000001, 4.5),
 (50970, 'ASIAN', 'M'): (2.7000000000000046, 4.5),
 (50970, 'BLACK/AFRICAN AMERICAN', 'M'): (2.7000000000000304, 4.5),
 (50970, 'HISPANIC/LATINO', 'M'): (2.7000000000000153, 4.5),
 (50970, 'OTHER', 'M'): (2.7000000000000166, 4.5),
 (50970, 'UNKNOWN', 'M'): (2.700000000000028, 4.5),
 (50970, 'WHITE', 'M'): (2.700000000000212, 4.5),
 (50971, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (3.3315789473684196,
  5.14736842105263),
 (50971, 'ASIAN', 'M'): (3.333684210526302, 5.150526315789466),
 (50971, 'BLACK/AFRICAN AMERICAN', 'M'): (3.338177339901495,
  5.157266009852182),
 (50971, 'HISPANIC/LATINO', 'M'): (3.3306493506493307, 5.145974025974),
 (50971, 'OTHER', 'M'): (3.329716981132053, 5.144575471698084),
 (50971, 'UNKNOWN', 'M'): (3.3517799352750597, 5.177669902912596),
 (50971, 'WHITE', 'M'): (3.3332986111108074, 5.149947916666307),
 (50983, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (133.52631578947367,
  145.52631578947367),
 (50983, 'ASIAN', 'M'): (133.43661971830986, 145.43661971830986),
 (50983, 'BLACK/AFRICAN AMERICAN', 'M'): (133.47218788627936,
  145.47218788627936),
 (50983, 'HISPANIC/LATINO', 'M'): (133.37597911227155, 145.37597911227155),
 (50983, 'OTHER', 'M'): (133.40758293838863, 145.40758293838863),
 (50983, 'UNKNOWN', 'M'): (133.58899676375404, 145.58899676375404),
 (50983, 'WHITE', 'M'): (133.4155753448577, 145.4155753448577),
 (51003, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (0.0, 0.01),
 (51003, 'ASIAN', 'M'): (0.0, 0.010000000000000007),
 (51003, 'BLACK/AFRICAN AMERICAN', 'M'): (0.0, 0.009999999999999933),
 (51003, 'HISPANIC/LATINO', 'M'): (0.0, 0.010000000000000007),
 (51003, 'OTHER', 'M'): (0.0, 0.010000000000000007),
 (51003, 'UNKNOWN', 'M'): (0.0, 0.009999999999999957),
 (51003, 'WHITE', 'M'): (0.0, 0.009999999999999957),
 (51006, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (6.0, 20.0),
 (51006, 'ASIAN', 'M'): (6.0, 20.0),
 (51006, 'BLACK/AFRICAN AMERICAN', 'M'): (6.0, 20.0),
 (51006, 'HISPANIC/LATINO', 'M'): (6.0, 20.0),
 (51006, 'OTHER', 'M'): (6.0, 20.0),
 (51006, 'UNKNOWN', 'M'): (6.0, 20.0),
 (51006, 'WHITE', 'M'): (6.0, 20.0),
 (51221, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (40.0, 51.4),
 (51221, 'ASIAN', 'M'): (40.0, 51.550877192982455),
 (51221, 'BLACK/AFRICAN AMERICAN', 'M'): (40.0, 51.552311435523116),
 (51221, 'HISPANIC/LATINO', 'M'): (40.0, 51.62820512820513),
 (51221, 'OTHER', 'M'): (40.0, 51.58254716981132),
 (51221, 'UNKNOWN', 'M'): (40.0, 51.47435897435897),
 (51221, 'WHITE', 'M'): (40.0, 51.601208981001726),
 (51222, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (13.819999999999999, 17.7),
 (51222, 'ASIAN', 'M'): (13.864412811387874, 17.774021352313166),
 (51222, 'BLACK/AFRICAN AMERICAN', 'M'): (13.865555555555595,
  17.775925925925925),
 (51222, 'HISPANIC/LATINO', 'M'): (13.888281249999961, 17.813802083333332),
 (51222, 'OTHER', 'M'): (13.873188405797057, 17.78864734299517),
 (51222, 'UNKNOWN', 'M'): (13.842995169082085, 17.738325281803544),
 (51222, 'WHITE', 'M'): (13.879429878584661, 17.79904979764209),
 (51248, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (26.4, 32.0),
 (51248, 'ASIAN', 'M'): (26.548042704626333, 32.0),
 (51248, 'BLACK/AFRICAN AMERICAN', 'M'): (26.553217821782177, 32.0),
 (51248, 'HISPANIC/LATINO', 'M'): (26.627604166666668, 32.0),
 (51248, 'OTHER', 'M'): (26.57729468599034, 32.0),
 (51248, 'UNKNOWN', 'M'): (26.476650563607084, 32.0),
 (51248, 'WHITE', 'M'): (26.59873172450238, 32.0),
 (51249, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (31.6, 36.2),
 (51249, 'ASIAN', 'M'): (31.451957295373667, 35.903914590747334),
 (51249, 'BLACK/AFRICAN AMERICAN', 'M'): (31.445544554455445,
  35.89108910891089),
 (51249, 'HISPANIC/LATINO', 'M'): (31.372395833333332, 35.744791666666664),
 (51249, 'OTHER', 'M'): (31.42270531400966, 35.84541062801932),
 (51249, 'UNKNOWN', 'M'): (31.523349436392916, 36.04669887278583),
 (51249, 'WHITE', 'M'): (31.400211379249605, 35.80042275849921),
 (51250, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (82.0, 98.0),
 (51250, 'ASIAN', 'M'): (82.0, 98.0),
 (51250, 'BLACK/AFRICAN AMERICAN', 'M'): (82.0, 98.0),
 (51250, 'HISPANIC/LATINO', 'M'): (82.0, 98.0),
 (51250, 'OTHER', 'M'): (82.0, 98.0),
 (51250, 'UNKNOWN', 'M'): (82.0, 98.0),
 (51250, 'WHITE', 'M'): (82.0, 98.0),
 (51265, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (150.0, 416.0),
 (51265, 'ASIAN', 'M'): (150.0, 422.03508771929825),
 (51265, 'BLACK/AFRICAN AMERICAN', 'M'): (150.0, 422.0689655172414),
 (51265, 'HISPANIC/LATINO', 'M'): (150.0, 425.18134715025906),
 (51265, 'OTHER', 'M'): (150.0, 423.22274881516586),
 (51265, 'UNKNOWN', 'M'): (150.0, 418.97435897435895),
 (51265, 'WHITE', 'M'): (150.0, 424.0111517686008),
 (51274, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (9.483333333333336,
  12.575000000000001),
 (51274, 'ASIAN', 'M'): (9.669841269841301, 12.742857142857156),
 (51274, 'BLACK/AFRICAN AMERICAN', 'M'): (9.6459349593496, 12.721341463414607),
 (51274, 'HISPANIC/LATINO', 'M'): (9.72900432900437, 12.796103896103912),
 (51274, 'OTHER', 'M'): (9.5792114695341, 12.661290322580653),
 (51274, 'UNKNOWN', 'M'): (9.582674199623332, 12.664406779660988),
 (51274, 'WHITE', 'M'): (9.716133903851722, 12.784520513466182),
 (51277, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (10.5, 15.5),
 (51277, 'ASIAN', 'M'): (10.5, 15.5),
 (51277, 'BLACK/AFRICAN AMERICAN', 'M'): (10.5, 15.5),
 (51277, 'HISPANIC/LATINO', 'M'): (10.5, 15.5),
 (51277, 'OTHER', 'M'): (10.5, 15.5),
 (51277, 'UNKNOWN', 'M'): (10.5, 15.5),
 (51277, 'WHITE', 'M'): (10.5, 15.5),
 (51279, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (4.599999999999999, 6.14),
 (51279, 'ASIAN', 'M'): (4.599999999999994, 6.1548042704626384),
 (51279, 'BLACK/AFRICAN AMERICAN', 'M'): (4.599999999999939,
  6.155321782178168),
 (51279, 'HISPANIC/LATINO', 'M'): (4.599999999999971, 6.162760416666654),
 (51279, 'OTHER', 'M'): (4.599999999999967, 6.157729468599009),
 (51279, 'UNKNOWN', 'M'): (4.599999999999948, 6.147665056360645),
 (51279, 'WHITE', 'M'): (4.599999999999619, 6.159873172450168),
 (51301, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (4.0, 10.4),
 (51301, 'ASIAN', 'M'): (4.0, 10.548042704626335),
 (51301, 'BLACK/AFRICAN AMERICAN', 'M'): (4.0, 10.553770086526576),
 (51301, 'HISPANIC/LATINO', 'M'): (4.0, 10.625974025974026),
 (51301, 'OTHER', 'M'): (4.0, 10.57590361445783),
 (51301, 'UNKNOWN', 'M'): (4.0, 10.475120385232744),
 (51301, 'WHITE', 'M'): (4.0, 10.598591549295774),
 (51464, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (0.0, 0.0),
 (51464, 'ASIAN', 'M'): (0.0, 0.0),
 (51464, 'BLACK/AFRICAN AMERICAN', 'M'): (0.0, 0.0),
 (51464, 'HISPANIC/LATINO', 'M'): (0.0, 0.0),
 (51464, 'OTHER', 'M'): (0.0, 0.0),
 (51464, 'UNKNOWN', 'M'): (0.0, 0.0),
 (51464, 'WHITE', 'M'): (0.0, 0.0)}

In [138]:
# # Aggregate without splitting by Ethnicity/Gender

# lab_range_min_max = lab_events_sampled_sub_grouped.groupby('itemid').agg({'range_min' : 'mean', 'range_max' : 'mean'})
# lab_range_min_max.reset_index(inplace = True)

# lab_range_dic = dict(zip(lab_range_min_max['itemid'], zip(lab_range_min_max['range_min'], lab_range_min_max['range_max'])))
# lab_range_dic

Pivot the table so we have feature columns related to test results

In [139]:
lab_events_sampled_sub_grouped['new_index'] = list(zip(lab_events_sampled_sub_grouped['subject_id'], lab_events_sampled_sub_grouped['hadm_id']))

In [140]:
%time lab_events_sampled_pivot = lab_events_sampled_sub_grouped.pivot(index = 'new_index', columns = 'itemid', values = ['min', 'max', 'mean', 'abn_percent', 'below_min', 'above_max'])
# 'comments',

CPU times: user 154 ms, sys: 41.6 ms, total: 196 ms
Wall time: 230 ms

In [141]:
lab_events_sampled_pivot = lab_events_sampled_pivot.reset_index()
lab_events_sampled_pivot['subject_id'], lab_events_sampled_pivot['hadm_id'] = zip(*lab_events_sampled_pivot['new_index'])
lab_events_sampled_pivot.drop(['new_index'], axis = 1, inplace = True)

/Users/brandonryu/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:3936: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [142]:
missing_vals = lab_events_sampled_pivot.isnull().sum(axis = 0) 
missing_vals[missing_vals > 0].sort_values()#.head(40)

             itemid
abn_percent  51221      272
mean         51221      272
above_max    51221      272
max          51221      272
min          51221      272
                       ...
             50911     6637
mean         50911     6637
             51003     7385
max          51003     7385
min          51003     7385
Length: 150, dtype: int64

## Start Data Imputation

Copy table, retain original for Random Forest

In [143]:
lab_events_impute = lab_events_sampled_pivot.copy()

In [144]:
d_labitems[d_labitems['itemid'].isin(itemid_sub_sample)]

      itemid                          label  fluid    category loinc_code
115    50868                      Anion Gap  Blood   Chemistry     1863-0
212    50882                    Bicarbonate  Blood   Chemistry     1963-8
222    51464                      Bilirubin  Urine  Hematology     5770-3
282    50893                 Calcium, Total  Blood   Chemistry     2000-8
442    50902                       Chloride  Blood   Chemistry     2075-0
511    50911  Creatine Kinase, MB Isoenzyme  Blood   Chemistry     6773-6
512    50912                     Creatinine  Blood   Chemistry     2160-0
634    50920  Estimated GFR (MDRD equation)  Blood   Chemistry        NaN
723    50931                        Glucose  Blood   Chemistry     6777-7
761    51221                     Hematocrit  Blood  Hematology     4544-3
771    51222                     Hemoglobin  Blood  Hematology      718-7
1008   50960                      Magnesium  Blood   Chemistry     2601-3
1013   51248                            MCH  Blood  Hematology      785-6
1014   51249                           MCHC  Blood  Hematology      786-4
1016   51250                            MCV  Blood  Hematology      787-2
1189   50970                      Phosphate  Blood   Chemistry     2777-1
1211   51265                 Platelet Count  Blood  Hematology      777-3
1233   50971                      Potassium  Blood   Chemistry     2823-3
1279   51274                             PT  Blood  Hematology     5902-2
1307   51277                            RDW  Blood  Hematology      788-0
1312   51279                Red Blood Cells  Blood  Hematology      789-8
1373   50983                         Sodium  Blood   Chemistry     2951-2
1494   51003                     Troponin T  Blood   Chemistry     6598-7
1506   51006                  Urea Nitrogen  Blood   Chemistry     3094-0
1598   51301              White Blood Cells  Blood  Hematology      804-5

In [145]:
lab_events_impute

         min                                                                \
itemid 50868 50882 50893  50902 50911 50912 50920  50931 50960 50970 50971
0       13.0  24.0   9.6  104.0   NaN   0.8  75.0  108.0   1.9   3.1   4.1
1       17.0  23.0   9.2  100.0   NaN   0.9   NaN  108.0   2.1   4.0   3.6
2       13.0  20.0   8.9  105.0   1.0   2.5  19.0   73.0   1.8   2.0   3.3
3       18.0  26.0   9.7   97.0   2.0   1.0  75.0  113.0   2.0   3.3   3.9
4       17.0  22.0   9.1  109.0   NaN   0.8   NaN   93.0   2.1   3.9   4.7
...      ...   ...   ...    ...   ...   ...   ...    ...   ...   ...   ...
8622    11.0  29.0   9.3  103.0   1.0   0.8   NaN  101.0   2.2   3.5   3.7
8623    14.0  27.0   8.6  101.0   NaN   1.1   NaN   98.0   2.1   3.2   4.5
8624     9.0  24.0   8.8  102.0   NaN   0.9   NaN  121.0   1.4   3.7   4.3
8625    12.0  18.0   8.1   89.0   NaN   0.9  65.0   92.0   1.8   2.8   3.8
8626    11.0  26.0   9.1   99.0   NaN   0.6  75.0   87.0   2.0   4.2   3.8

                                                                            \
itemid  50983 51003 51006 51221 51222 51248 51249 51250  51265 51274 51277
0       141.0   NaN  18.0  39.6  13.0  31.8  32.8  97.0  257.0   NaN  13.1
1       136.0   NaN  13.0  42.5  14.0  30.1  33.0  91.0  306.0   NaN  12.9
2       139.0  0.02  16.0  22.3   7.2  28.3  31.2  88.0  173.0  11.8  15.5
3       137.0   NaN   7.0  48.5  16.3  31.1  33.7  92.0  193.0  12.2  13.6
4       143.0   NaN  10.0  27.6   8.7  29.0  30.8  93.0  228.0  11.8  14.9
...       ...   ...   ...   ...   ...   ...   ...   ...    ...   ...   ...
8622    139.0   NaN   9.0  40.8  14.0  31.6  34.4  92.0  231.0  11.3  12.9
8623    137.0   NaN  18.0  38.3  13.3  29.1  34.7  84.0  282.0   NaN  13.9
8624    142.0   NaN  10.0  29.1   9.4  29.9  32.1  93.0  184.0   NaN  13.3
8625    119.0   NaN  13.0  19.3   6.9  28.1  33.8  81.0   47.0  13.7  16.4
8626    140.0   NaN   7.0  30.9  10.2  27.1  32.4  83.0  273.0  12.5  14.2

                           max                                              \
itemid 51279 51301 51464 50868 50882 50893  50902 50911 50912 50920  50931
0       4.09   8.7   NaN  13.0  24.0   9.6  104.0   NaN   0.8  75.0  108.0
1       4.66   9.8   NaN  17.0  23.0   9.2  100.0   NaN   0.9   NaN  108.0
2       2.49   4.3   0.0  21.0  28.0   9.7  116.0   1.0   3.8  28.0  125.0
3       5.25   3.4   NaN  18.0  26.0   9.7   97.0   2.0   1.0  75.0  113.0
4       2.98   4.1   NaN  17.0  22.0   9.1  109.0   NaN   0.9   NaN   93.0
...      ...   ...   ...   ...   ...   ...    ...   ...   ...   ...    ...
8622    4.44   6.5   0.0  11.0  29.0   9.3  103.0   1.0   0.8   NaN  101.0
8623    4.55  10.6   NaN  14.0  27.0   8.6  101.0   NaN   1.1   NaN   98.0
8624    3.14   6.3   NaN  14.0  33.0   9.3  105.0   NaN   1.2   NaN  178.0
8625    2.38   1.9   NaN  18.0  25.0   8.7  102.0   NaN   1.2  65.0  134.0
8626    3.68   3.1   NaN  14.0  29.0  10.0  101.0   NaN   0.8  75.0   97.0

                                                                           \
itemid 50960 50970 50971  50983 51003 51006 51221 51222 51248 51249 51250
0        1.9   3.1   4.1  141.0   NaN  18.0  39.6  13.0  31.8  32.8  97.0
1        2.1   4.0   3.6  136.0   NaN  13.0  42.5  14.0  30.1  33.0  91.0
2        2.2   5.1   4.6  150.0  0.02  44.0  33.1  10.9  30.3  33.8  92.0
3        2.0   3.3   3.9  137.0   NaN   7.0  48.5  16.3  31.1  33.7  92.0
4        2.1   3.9   4.7  143.0   NaN  11.0  33.3  10.4  29.9  31.6  95.0
...      ...   ...   ...    ...   ...   ...   ...   ...   ...   ...   ...
8622     2.2   3.5   3.7  139.0   NaN   9.0  40.8  14.0  31.6  34.4  92.0
8623     2.1   3.2   4.5  137.0   NaN  18.0  38.3  13.3  29.1  34.7  84.0
8624     1.7   4.1   4.7  147.0   NaN  32.0  30.9  10.1  30.7  32.7  94.0
8625     2.1   3.2   4.7  134.0   NaN  19.0  26.1   9.1  29.4  35.7  87.0
8626     2.3   4.5   4.5  142.0   NaN  13.0  37.9  12.4  27.8  33.4  84.0

                                                  mean                       \
itemid  51265 51274 51277 51279 51301 51464      50868      50882     50893
0       257.0   NaN  13.1  4.09   8.7   NaN  13.000000  24.000000  9.600000
1       306.0   NaN  12.9  4.66   9.8   NaN  17.000000  23.000000  9.200000
2       280.0  15.5  16.3  3.74  10.2   0.0  15.434783  24.130435  9.347368
3       193.0  12.2  13.6  5.25   3.4   NaN  18.000000  26.000000  9.700000
4       319.0  11.8  15.1  3.49   5.3   NaN  17.000000  22.000000  9.100000
...       ...   ...   ...   ...   ...   ...        ...        ...       ...
8622    231.0  11.3  12.9  4.44   6.5   0.0  11.000000  29.000000  9.300000
8623    282.0   NaN  13.9  4.55  10.6   NaN  14.000000  27.000000  8.600000
8624    224.0   NaN  14.1  3.32   8.9   NaN  12.000000  29.000000  9.100000
8625     93.0  15.0  16.9  3.08   2.6   NaN  14.727273  21.454545  8.411111
8626    318.0  12.8  14.5  4.54   4.4   NaN  12.800000  27.800000  9.600000

                                                                          \
itemid       50902 50911     50912 50920       50931     50960     50970
0       104.000000   NaN  0.800000  75.0  108.000000  1.900000  3.100000
1       100.000000   NaN  0.900000   NaN  108.000000  2.100000  4.000000
2       108.217391   1.0  3.117391  24.0   94.913043  1.994737  3.500000
3        97.000000   2.0  1.000000  75.0  113.000000  2.000000  3.300000
4       109.000000   NaN  0.850000   NaN   93.000000  2.100000  3.900000
...            ...   ...       ...   ...         ...       ...       ...
8622    103.000000   1.0  0.800000   NaN  101.000000  2.200000  3.500000
8623    101.000000   NaN  1.100000   NaN   98.000000  2.100000  3.200000
8624    104.250000   NaN  1.000000   NaN  152.500000  1.550000  3.925000
8625     94.809524   NaN  1.045455  65.0  101.454545  1.930000  3.070000
8626    100.400000   NaN  0.720000  75.0   94.000000  2.166667  4.366667

                                                                     \
itemid     50971       50983 51003      51006      51221      51222
0       4.100000  141.000000   NaN  18.000000  39.600000  13.000000
1       3.600000  136.000000   NaN  13.000000  42.500000  14.000000
2       3.808696  143.869565  0.02  31.347826  27.413636   8.918182
3       3.900000  137.000000   NaN   7.000000  48.500000  16.300000
4       4.700000  143.000000   NaN  10.500000  31.066667   9.666667
...          ...         ...   ...        ...        ...        ...
8622    3.700000  139.000000   NaN   9.000000  40.800000  14.000000
8623    4.500000  137.000000   NaN  18.000000  38.300000  13.300000
8624    4.400000  144.750000   NaN  19.500000  30.350000   9.850000
8625    4.185714  126.380952   NaN  15.909091  23.969231   8.276923
8626    4.280000  141.000000   NaN  10.600000  34.600000  11.400000

                                                                           \
itemid      51248      51249      51250       51265      51274      51277
0       31.800000  32.800000  97.000000  257.000000        NaN  13.100000
1       30.100000  33.000000  91.000000  306.000000        NaN  12.900000
2       29.204762  32.509524  89.857143  217.380952  13.366667  15.809524
3       31.100000  33.700000  92.000000  193.000000  12.200000  13.600000
4       29.400000  31.266667  94.000000  286.333333  11.800000  15.000000
...           ...        ...        ...         ...        ...        ...
8622    31.600000  34.400000  92.000000  231.000000  11.300000  12.900000
8623    29.100000  34.700000  84.000000  282.000000        NaN  13.900000
8624    30.300000  32.450000  93.500000  194.750000        NaN  13.625000
8625    28.925000  34.558333  83.916667   59.750000  14.180000  16.666667
8626    27.540000  32.940000  83.800000  300.200000  12.650000  14.360000

                                  abn_percent                                \
itemid     51279      51301 51464       50868     50882     50893     50902
0       4.090000   8.700000   NaN    0.000000  0.000000  0.000000  0.000000
1       4.660000   9.800000   NaN    0.000000  0.000000  0.000000  0.000000
2       3.063810   6.909524   0.0    0.043478  0.173913  0.000000  0.304348
3       5.250000   3.400000   NaN    0.000000  0.000000  0.000000  0.000000
4       3.296667   4.766667   NaN    0.000000  0.000000  0.000000  1.000000
...          ...        ...   ...         ...       ...       ...       ...
8622    4.440000   6.500000   0.0    0.000000  0.000000  0.000000  0.000000
8623    4.550000  10.600000   NaN    0.000000  0.000000  0.000000  0.000000
8624    3.250000   7.225000   NaN    0.250000  0.250000  0.000000  0.000000
8625    2.840000   2.283333   NaN    0.000000  0.545455  0.222222  0.714286
8626    4.142000   3.580000   NaN    0.000000  0.000000  0.000000  0.000000

                                                                          \
itemid 50911 50912 50920     50931 50960     50970 50971     50983 51003
0        NaN   0.0   0.0  1.000000   0.0  0.000000   0.0  0.000000   NaN
1        NaN   0.0   NaN  1.000000   0.0  0.000000   0.0  0.000000   0.0
2        0.0   1.0   0.0  0.304348   0.0  0.368421   0.0  0.217391   1.0
3        0.0   0.0   0.0  1.000000   0.0  0.000000   0.0  0.000000   0.0
4        NaN   0.0   NaN  0.000000   0.0  0.000000   0.0  0.000000   NaN
...      ...   ...   ...       ...   ...       ...   ...       ...   ...
8622     0.0   0.0   NaN  1.000000   0.0  0.000000   0.0  0.000000   0.0
8623     NaN   0.0   NaN  0.000000   0.0  0.000000   0.0  0.000000   NaN
8624     NaN   0.0   NaN  1.000000   0.5  0.000000   0.0  0.000000   NaN
8625     NaN   0.0   0.0  0.181818   0.0  0.000000   0.0  0.857143   NaN
8626     NaN   0.0   0.0  0.000000   0.0  0.000000   0.0  0.000000   NaN

                                                                        \
itemid     51006 51221 51222 51248     51249     51250 51265     51274
0       0.000000   1.0   1.0   0.0  0.000000  0.000000   0.0       NaN
1       0.000000   0.0   0.0   0.0  0.000000  0.000000   0.0       NaN
2       0.913043   1.0   1.0   0.0  0.000000  0.000000   0.0  0.833333
3       0.000000   0.0   0.0   0.0  0.000000  0.000000   0.0  0.000000
4       0.000000   1.0   1.0   0.0  0.333333  0.000000   0.0  0.000000
...          ...   ...   ...   ...       ...       ...   ...       ...
8622    0.000000   0.0   0.0   0.0  0.000000  0.000000   0.0  0.000000
8623    0.000000   1.0   1.0   0.0  0.000000  0.000000   0.0       NaN
8624    0.500000   1.0   1.0   0.0  0.000000  0.000000   0.0       NaN
8625    0.000000   1.0   1.0   0.0  0.250000  0.083333   1.0  1.000000
8626    0.000000   1.0   1.0   0.0  0.000000  0.000000   0.0  0.500000

                                   below_min                                \
itemid     51277 51279 51301 51464     50868 50882 50893 50902 50911 50912
0       0.000000   1.0   0.0   NaN       0.0   0.0   0.0   0.0   NaN   0.0
1       0.000000   0.0   0.0   NaN       0.0   0.0   0.0   0.0   NaN   0.0
2       0.904762   1.0   0.0   0.0       0.0   2.0   0.0   0.0   0.0   0.0
3       0.000000   0.0   1.0   NaN       0.0   0.0   0.0   0.0   0.0   0.0
4       0.000000   1.0   0.0   NaN       0.0   0.0   0.0   0.0   NaN   0.0
...          ...   ...   ...   ...       ...   ...   ...   ...   ...   ...
8622    0.000000   1.0   0.0   0.0       0.0   0.0   0.0   0.0   0.0   0.0
8623    0.000000   1.0   0.0   NaN       0.0   0.0   0.0   0.0   NaN   0.0
8624    0.000000   1.0   0.0   NaN       1.0   0.0   0.0   0.0   NaN   0.0
8625    1.000000   1.0   1.0   NaN       0.0   4.0   0.3   7.0   NaN   0.0
8626    0.000000   1.0   0.8   NaN       0.0   0.0   0.0   0.0   NaN   0.0

                                                                          \
itemid 50920 50931 50960 50970 50971 50983 51003 51006 51221 51222 51248
0        0.0   0.0   0.0   0.0   0.0   0.0   NaN   0.0   0.4   0.7   0.0
1        NaN   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2       41.0   0.0   0.0   0.7   0.0   0.0   0.0   0.0  17.7   6.8   0.0
3        0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
4        NaN   0.0   0.0   0.0   0.0   0.0   NaN   0.0  12.4   5.3   0.0
...      ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
8622     NaN   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
8623     NaN   0.0   0.0   0.0   0.0   0.0   NaN   0.0   1.7   0.7   0.0
8624     NaN   0.0   0.2   0.0   0.0   0.0   NaN   0.0  10.9   4.3   0.0
8625     0.0   0.0   0.0   0.0   0.0  14.0   NaN   0.0  20.7   7.1   0.0
8626     0.0   0.0   0.0   0.0   0.0   0.0   NaN   0.0   9.1   3.5   0.0

                                                        above_max              \
itemid 51249 51250  51265 51274 51277 51279 51301 51464     50868 50882 50893
0        0.0   0.0    0.0   NaN   0.0  0.51   0.0   NaN       0.0   0.0   0.0
1        0.0   0.0    0.0   NaN   0.0  0.00   0.0   NaN       0.0   0.0   0.0
2        0.0   0.0    0.0   0.0   0.0  2.11   0.0   0.0       1.0   0.0   0.0
3        0.0   0.0    0.0   0.0   0.0  0.00   0.6   NaN       0.0   0.0   0.0
4        0.2   0.0    0.0   0.0   0.0  1.62   0.0   NaN       0.0   0.0   0.0
...      ...   ...    ...   ...   ...   ...   ...   ...       ...   ...   ...
8622     0.0   0.0    0.0   0.0   0.0  0.16   0.0   0.0       0.0   0.0   0.0
8623     0.0   0.0    0.0   NaN   0.0  0.05   0.0   NaN       0.0   0.0   0.0
8624     0.0   0.0    0.0   NaN   0.0  1.46   0.0   NaN       0.0   1.0   0.0
8625     0.0   1.0  103.0   0.0   0.0  2.22   2.1   NaN       0.0   0.0   0.0
8626     0.0   0.0    0.0   0.0   0.0  0.92   0.9   NaN       0.0   0.0   0.0

                                                                          \
itemid 50902 50911 50912 50920 50931 50960 50970 50971 50983 51003 51006
0        0.0   NaN   0.0   0.0   8.0   0.0   0.0   0.0   0.0   NaN   0.0
1        0.0   NaN   0.0   NaN   8.0   0.0   0.0   0.0   0.0  0.00   0.0
2        8.0   0.0   2.6   0.0  25.0   0.0   0.6   0.0   5.0  0.01  24.0
3        0.0   0.0   0.0   0.0   8.0   0.0   0.0   0.0   0.0  0.00   0.0
4        1.0   NaN   0.0   NaN   0.0   0.0   0.0   0.0   0.0   NaN   0.0
...      ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
8622     0.0   0.0   0.0   NaN   1.0   0.0   0.0   0.0   0.0  0.00   0.0
8623     0.0   NaN   0.0   NaN   0.0   0.0   0.0   0.0   0.0   NaN   0.0
8624     0.0   NaN   0.0   NaN  78.0   0.0   0.0   0.0   0.0   NaN  12.0
8625     0.0   NaN   0.0   0.0  34.0   0.0   0.0   0.0   0.0   NaN   0.0
8626     0.0   NaN   0.0   0.0   0.0   0.0   0.0   0.0   0.0   NaN   0.0

                                                                          \
itemid 51221 51222 51248 51249 51250 51265 51274 51277 51279 51301 51464
0        0.0   0.0   0.0   0.0   0.0   0.0   NaN   0.0   0.0   0.0   NaN
1        0.0   0.0   0.0   0.0   0.0   0.0   NaN   0.0   0.0   0.0   NaN
2        0.0   0.0   0.0   0.0   0.0   0.0   3.0   0.8   0.0   0.0   0.0
3        0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   NaN
4        0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   NaN
...      ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
8622     0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
8623     0.0   0.0   0.0   0.0   0.0   0.0   NaN   0.0   0.0   0.0   NaN
8624     0.0   0.0   0.0   0.0   0.0   0.0   NaN   0.0   0.0   0.0   NaN
8625     0.0   0.0   0.0   0.7   0.0   0.0   2.5   1.4   0.0   0.0   NaN
8626     0.0   0.0   0.0   0.0   0.0   0.0   0.3   0.0   0.0   0.0   NaN

       subject_id     hadm_id
itemid
0        10000084  29888819.0
1        10002751  22002850.0
2        10004733  27411876.0
3        10005708  28224659.0
4        10006820  24246605.0
...           ...         ...
8622     19995366  23598426.0
8623     19996219  22115476.0
8624     19997538  26704044.0
8625     19998562  26846592.0
8626     19999784  25715748.0

[8627 rows x 152 columns]

In [146]:
lab_events_impute = lab_events_impute.merge(admissions_sample, left_on = 'hadm_id', right_on = 'hadm_id')

/Users/brandonryu/opt/anaconda3/lib/python3.7/site-packages/pandas/core/reshape/merge.py:618: UserWarning: merging between different levels can give an unintended result (2 levels on the left, 1 on the right)
  warnings.warn(msg, UserWarning)

In [147]:
%%time

np.random.seed(0)

for labitem in lab_range_eg_dic:
    for ind in lab_events_impute.loc[(lab_events_impute[('mean', labitem[0])].isnull()) & (lab_events_impute['ethnicity'] == labitem[1]) & (lab_events_impute['gender'] == labitem[2])].index:
        val_max = lab_range_eg_dic[labitem][1]
        val_min = lab_range_eg_dic[labitem][0]

        val_ave = (val_max + val_min) / 2
        val_std = (val_max - val_ave) * .333

        ran_vals = np.random.normal(val_ave, val_std, 50)
        impute_min = min(ran_vals)
        impute_max = max(ran_vals)
        impute_mean = np.mean(ran_vals)
        
        val_min = lab_events_impute[('min', labitem[0])][ind]
        val_max = lab_events_impute[('max', labitem[0])][ind]
        val_mean = lab_events_impute[('mean', labitem[0])][ind]
        
        lab_events_impute[('min', labitem[0])][ind] = np.where(np.isnan(val_min), impute_min, val_min)
        lab_events_impute[('max', labitem[0])][ind] = np.where(np.isnan(val_max), impute_max, val_max)
        lab_events_impute[('mean', labitem[0])][ind] = np.where(np.isnan(val_mean), impute_mean, val_mean)
#         patient[('mean', labitem)].replace(np.nan, impute_mean)
#         patient[('abn_count', labitem)].replace(np.nan, 0)
# 5k patients
# 10 items - 2.5s
# 20 items - 6s
# 30 items - 28.6s

# 10k patients
# 40 items - 1m 34s

/Users/brandonryu/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/brandonryu/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/brandonryu/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

CPU times: user 20.7 s, sys: 476 ms, total: 21.2 s
Wall time: 25.9 s

In [148]:
for lab_itemid in lab_range_eg_dic:
    lab_events_impute[( 'above_max', lab_itemid[0])] = lab_events_impute[( 'above_max', lab_itemid[0])].replace(np.nan, 0)
    lab_events_impute[( 'below_min', lab_itemid[0])] = lab_events_impute[( 'below_min', lab_itemid[0])].replace(np.nan, 0)
    lab_events_impute[( 'abn_percent', lab_itemid[0])] = lab_events_impute[( 'abn_percent', lab_itemid[0])].replace(np.nan, 0)
#     lab_events_sampled_pivot[( 'comments', lab_itemid)] = lab_events_sampled_pivot[( 'comments', lab_itemid)].replace(np.nan, np.array(np.nan))

In [149]:
missing_vals = lab_events_impute.isnull().sum(axis = 0) 
missing_vals[missing_vals > 0].sort_values()

Series([], dtype: int64)

In [150]:
lab_events_impute_KNN = lab_events_sampled_pivot.copy()

In [151]:
lab_events_impute_KNN = lab_events_impute_KNN.merge(admissions_sample, left_on = 'hadm_id', right_on = 'hadm_id')

dummy = pd.get_dummies(lab_events_impute_KNN['ethnicity'], prefix='ethnicity')
dummy.drop('ethnicity_WHITE', axis=1, inplace=True)
lab_events_impute_KNN = lab_events_impute_KNN.drop('ethnicity', axis=1)
lab_events_impute_KNN = pd.concat([lab_events_impute_KNN, dummy], axis=1)

dummy = pd.get_dummies(lab_events_impute_KNN['insurance'], prefix='insurance')
dummy.drop('insurance_Other', axis=1, inplace=True)
lab_events_impute_KNN = lab_events_impute_KNN.drop('insurance', axis=1)
lab_events_impute_KNN = pd.concat([lab_events_impute_KNN, dummy], axis=1)


lab_events_impute_KNN['gender'] = lab_events_impute_KNN['gender'].map({'M' : 0.0, 'F' : 1.0})
lab_events_impute_KNN['gender'] = pd.to_numeric(lab_events_impute_KNN['gender'])

In [152]:
%%time

from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=math.trunc((lab_events_impute_KNN.shape[0] ** 0.5)))
lab_events_impute_KNN_imputed = imputer.fit_transform(lab_events_impute_KNN)

# 3min 8s

CPU times: user 1min 35s, sys: 17.3 s, total: 1min 53s
Wall time: 2min 18s

In [153]:
lab_events_impute_KNN_imputed = pd.DataFrame(lab_events_impute_KNN_imputed)
lab_events_impute_KNN_imputed.columns = lab_events_impute_KNN.columns

In [154]:
for lab_itemid in lab_range_eg_dic:
    lab_events_impute_KNN_imputed[( 'above_max', lab_itemid[0])] = lab_events_impute_KNN_imputed[( 'above_max', lab_itemid[0])].replace(np.nan, 0)
    lab_events_impute_KNN_imputed[( 'below_min', lab_itemid[0])] = lab_events_impute_KNN_imputed[( 'below_min', lab_itemid[0])].replace(np.nan, 0)
    lab_events_impute_KNN_imputed[( 'abn_percent', lab_itemid[0])] = lab_events_impute_KNN_imputed[( 'abn_percent', lab_itemid[0])].replace(np.nan, 0)
#     lab_events_sampled_pivot[( 'comments', lab_itemid)] = lab_events_sampled_pivot[( 'comments', lab_itemid)].replace(np.nan, np.array(np.nan))

## Standardize the Data for use in Models

In [165]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

In [166]:
labs_scaled = lab_events_impute.copy()
labs_scaled_KNN = lab_events_impute_KNN_imputed.copy()
labs_scaled_missing_data = lab_events_sampled_pivot.copy()

In [167]:
labs_scaled_missing_data = labs_scaled_missing_data.merge(admissions_sample, how='left', left_on='hadm_id', right_on='hadm_id')

/Users/brandonryu/opt/anaconda3/lib/python3.7/site-packages/pandas/core/reshape/merge.py:618: UserWarning: merging between different levels can give an unintended result (2 levels on the left, 1 on the right)
  warnings.warn(msg, UserWarning)

In [168]:
scale_cols = ~labs_scaled.columns.isin([('subject_id', ''), ('hadm_id', ''), 'subject_id', 'hadm_id', 'pos', 'ethnicity', 'gender', 'insurance', 'pneumoia', 'diabetes', 'hypertension', 'atherosclero', 'renal_failure', 'arrhythmia'])

scaler.fit(labs_scaled.loc[:, scale_cols])
labs_scaled.loc[:, scale_cols] = scaler.transform(labs_scaled.loc[:, scale_cols])

scale_cols = ~labs_scaled_KNN.columns.isin([('subject_id', ''), ('hadm_id', ''), 'subject_id', 'hadm_id', 'pos', 'gender', 'ethnicity_AMERICAN INDIAN/ALASKA NATIVE', 'ethnicity_ASIAN', 'ethnicity_BLACK/AFRICAN AMERICAN', 'ethnicity_HISPANIC/LATINO', 'ethnicity_OTHER', 'ethnicity_UNKNOWN', 'insurance_Medicare', 'insurance_Medicaid', 'pneumoia', 'diabetes', 'hypertension', 'atherosclero', 'renal_failure', 'arrhythmia'])

scaler.fit(labs_scaled_KNN.loc[:, scale_cols])
labs_scaled_KNN.loc[:, scale_cols] = scaler.transform(labs_scaled_KNN.loc[:, scale_cols])

scale_cols = ~labs_scaled_missing_data.columns.isin([('subject_id', ''), ('hadm_id', ''), 'subject_id', 'hadm_id', 'pos', 'ethnicity', 'gender', 'insurance', 'pneumoia', 'diabetes', 'hypertension', 'atherosclero', 'renal_failure', 'arrhythmia'])

scaler.fit(labs_scaled_missing_data.loc[:, scale_cols])
labs_scaled_missing_data.loc[:, scale_cols] = scaler.transform(labs_scaled_missing_data.loc[:, scale_cols])

## Save Lab Results for Models

In [169]:
# Save non-imputed file as well for forest models

pos_final_test = labs_scaled.copy()
pos_KNN_final_test = labs_scaled_KNN.copy()
pos_final_missing_data_test = labs_scaled_missing_data.copy()

In [170]:
dummy = pd.get_dummies(pos_final_test['ethnicity'], prefix='ethnicity')
dummy.drop('ethnicity_WHITE', axis=1, inplace=True)
pos_final_test = pos_final_test.drop('ethnicity', axis=1)
pos_final_test = pd.concat([pos_final_test, dummy], axis=1)

pos_final_test['gender'] = pos_final_test['gender'].map({'M' : 0.0, 'F' : 1.0})
pos_final_test['gender'] = pd.to_numeric(pos_final_test['gender'])

dummy = pd.get_dummies(pos_final_test['insurance'], prefix='insurance')
dummy.drop('insurance_Other', axis=1, inplace=True)
pos_final_test = pos_final_test.drop('insurance', axis=1)
pos_final_test = pd.concat([pos_final_test, dummy], axis=1)



dummy = pd.get_dummies(pos_final_missing_data_test['ethnicity'], prefix='ethnicity')
dummy.drop('ethnicity_WHITE', axis=1, inplace=True)
pos_final_missing_data_test = pos_final_missing_data_test.drop('ethnicity', axis=1)
pos_final_missing_data_test = pd.concat([pos_final_missing_data_test, dummy], axis=1)

pos_final_missing_data_test['gender'] = pos_final_missing_data_test['gender'].map({'M' : 0.0, 'F' : 1.0})
pos_final_missing_data_test['gender'] = pd.to_numeric(pos_final_missing_data_test['gender'])

dummy = pd.get_dummies(pos_final_missing_data_test['insurance'], prefix='insurance')
dummy.drop('insurance_Other', axis=1, inplace=True)
pos_final_missing_data_test = pos_final_missing_data_test.drop('insurance', axis=1)
pos_final_missing_data_test = pd.concat([pos_final_missing_data_test, dummy], axis=1)

In [171]:
labitem_names = d_labitems.loc[d_labitems['itemid'].isin(itemid_sub_sample)].copy()
labitem_names['Short Name'] = labitem_names['label'] + ' - ' + labitem_names['fluid'] + ' - ' + labitem_names['category']

labitem_names = labitem_names[['itemid', 'Short Name']]
labitem_names.set_index('itemid', inplace = True)
labitem_dict = labitem_names.to_dict()['Short Name']

In [172]:
def rename_lab_col(table_name):
    num_cols = ~table_name.columns.isin([('subject_id', ''), ('hadm_id', ''), 'subject_id', 'hadm_id', 'pos', 'gender', 'ethnicity_AMERICAN INDIAN/ALASKA NATIVE', 'ethnicity_ASIAN', 'ethnicity_BLACK/AFRICAN AMERICAN', 'ethnicity_HISPANIC/LATINO', 'ethnicity_OTHER', 'ethnicity_UNKNOWN', 'age','ed_length', 'insurance_Medicare','insurance_Medicaid', 'pneumoia', 'diabetes', 'hypertension', 'atherosclero', 'renal_failure', 'arrhythmia'])

    col_names = []
    col_names = list(table_name.loc[:, num_cols].columns)

    x, y = zip(*col_names)
    col_names = list(zip(x, list(map(labitem_dict.get, y))))

    rename_dict = dict(zip(table_name.loc[:, num_cols].columns, col_names))

    table_name.rename(columns = rename_dict, inplace = True)

In [173]:
rename_lab_col(pos_final_test)
rename_lab_col(pos_KNN_final_test)
rename_lab_col(pos_final_missing_data_test)

In [174]:
pos_final_test.to_csv('../data/pos_final_test_male.csv.gz', compression="gzip")
pos_KNN_final_test.to_csv('../data/pos_KNN_final_test_male.csv.gz', compression="gzip")
pos_final_missing_data_test.to_csv('../data/pos_final_missing_data_test_male.csv.gz', compression="gzip")

## Check for Multicollinearity

In [175]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant

In [176]:
# %%time

# num_cols = ~pos_final_test.columns.isin([('subject_id', ''), ('hadm_id', ''), 'subject_id', 'hadm_id', 'pos'])

# labs_scaled_features = pos_final_test.loc[:, num_cols]
# add_constant(labs_scaled_features)

# vif_vals = [variance_inflation_factor(labs_scaled_features.values, i) for i in range(labs_scaled_features.shape[1])]
# vif_df = pd.DataFrame(vif_vals, index=labs_scaled_features.columns).reset_index().sort_values([0], ascending = False).reset_index(drop = True)

In [177]:
# %%time

# cols_to_drop = []
# cols_to_use = ~labs_scaled_features.columns.isin(cols_to_drop)
# labs_scaled_features_limited = labs_scaled_features.loc[:, cols_to_use]

# while (vif_df.iloc[0, 1] > 5):
#     vif_df = pd.DataFrame(vif_vals, index=labs_scaled_features_limited.columns).reset_index().sort_values([0], ascending = False).reset_index(drop = True)
    
#     cols_to_drop.append(vif_df.iloc[0, 0])
#     cols_to_use = ~labs_scaled_features.columns.isin(cols_to_drop)
    
#     labs_scaled_features_limited = labs_scaled_features.loc[:, cols_to_use]
    
#     vif_vals = [variance_inflation_factor(labs_scaled_features_limited.values, i) for i in range(labs_scaled_features_limited.shape[1])]
#     vif_df = pd.DataFrame(vif_vals, index=labs_scaled_features_limited.columns).reset_index().sort_values([0], ascending = False).reset_index(drop = True)
    
# cols_to_drop

In [178]:
%%time

num_cols_KNN = ~pos_KNN_final_test.columns.isin([('subject_id', ''), ('hadm_id', ''), 'subject_id', 'hadm_id', 'pos'])

labs_scaled_features_KNN = pos_KNN_final_test.loc[:, num_cols_KNN]
add_constant(labs_scaled_features_KNN)

vif_vals_KNN = [variance_inflation_factor(labs_scaled_features_KNN.values, i) for i in range(labs_scaled_features_KNN.shape[1])]
vif_df_KNN = pd.DataFrame(vif_vals_KNN, index=labs_scaled_features_KNN.columns).reset_index().sort_values([0], ascending = False).reset_index(drop = True)

/Users/brandonryu/opt/anaconda3/lib/python3.7/site-packages/statsmodels/stats/outliers_influence.py:193: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)
/Users/brandonryu/opt/anaconda3/lib/python3.7/site-packages/statsmodels/regression/linear_model.py:1687: RuntimeWarning: invalid value encountered in double_scalars
  return 1 - self.ssr/self.uncentered_tss

CPU times: user 2min 17s, sys: 7.89 s, total: 2min 25s
Wall time: 1min 49s

In [179]:
%%time

cols_to_drop_KNN = []
cols_to_use_KNN = ~labs_scaled_features_KNN.columns.isin(cols_to_drop_KNN)
labs_scaled_features_limited_KNN = labs_scaled_features_KNN.loc[:, cols_to_use_KNN]

while (vif_df_KNN.iloc[0, 1] > 5):
    vif_df_KNN = pd.DataFrame(vif_vals_KNN, index=labs_scaled_features_limited_KNN.columns).reset_index().sort_values([0], ascending = False).reset_index(drop = True)
    
    cols_to_drop_KNN.append(vif_df_KNN.iloc[0, 0])
    cols_to_use_KNN = ~labs_scaled_features_KNN.columns.isin(cols_to_drop_KNN)
    
    labs_scaled_features_limited_KNN = labs_scaled_features_KNN.loc[:, cols_to_use_KNN]
    
    vif_vals_KNN = [variance_inflation_factor(labs_scaled_features_limited_KNN.values, i) for i in range(labs_scaled_features_limited_KNN.shape[1])]
    vif_df_KNN = pd.DataFrame(vif_vals_KNN, index=labs_scaled_features_limited_KNN.columns).reset_index().sort_values([0], ascending = False).reset_index(drop = True)
    
cols_to_drop_KNN

CPU times: user 1h 44min 48s, sys: 5min 18s, total: 1h 50min 7s
Wall time: 1h 19min 24s

[('max', 'Bilirubin - Urine - Hematology'),
 ('mean', 'Red Blood Cells - Blood - Hematology'),
 ('mean', 'MCH - Blood - Hematology'),
 ('max', 'Glucose - Blood - Chemistry'),
 ('mean', 'Hemoglobin - Blood - Hematology'),
 ('max', 'PT - Blood - Hematology'),
 ('mean', 'Estimated GFR (MDRD equation) - Blood - Chemistry'),
 ('min', 'Hemoglobin - Blood - Hematology'),
 ('mean', 'MCV - Blood - Hematology'),
 ('mean', 'RDW - Blood - Hematology'),
 ('max', 'Creatinine - Blood - Chemistry'),
 ('min', 'Hematocrit - Blood - Hematology'),
 ('mean', 'Bilirubin - Urine - Hematology'),
 ('mean', 'MCHC - Blood - Hematology'),
 ('mean', 'Creatinine - Blood - Chemistry'),
 ('max', 'Red Blood Cells - Blood - Hematology'),
 ('mean', 'Troponin T - Blood - Chemistry'),
 ('max', 'MCH - Blood - Hematology'),
 ('below_min', 'Hemoglobin - Blood - Hematology'),
 ('max', 'Creatine Kinase, MB Isoenzyme - Blood - Chemistry'),
 ('min', 'MCH - Blood - Hematology'),
 ('max', 'Urea Nitrogen - Blood - Chemistry'),
 ('max', 'Magnesium - Blood - Chemistry'),
 ('min', 'Red Blood Cells - Blood - Hematology'),
 ('mean', 'Platelet Count - Blood - Hematology'),
 ('max', 'White Blood Cells - Blood - Hematology'),
 ('mean', 'Urea Nitrogen - Blood - Chemistry'),
 ('mean', 'Creatine Kinase, MB Isoenzyme - Blood - Chemistry'),
 ('mean', 'Hematocrit - Blood - Hematology'),
 ('mean', 'Chloride - Blood - Chemistry'),
 ('max', 'Hemoglobin - Blood - Hematology'),
 ('mean', 'Bicarbonate - Blood - Chemistry'),
 ('below_min', 'Red Blood Cells - Blood - Hematology'),
 ('mean', 'Calcium, Total - Blood - Chemistry'),
 ('max', 'MCV - Blood - Hematology'),
 ('mean', 'White Blood Cells - Blood - Hematology'),
 ('mean', 'Sodium - Blood - Chemistry'),
 ('mean', 'Anion Gap - Blood - Chemistry'),
 ('max', 'Troponin T - Blood - Chemistry'),
 ('max', 'RDW - Blood - Hematology'),
 ('mean', 'Phosphate - Blood - Chemistry'),
 ('min', 'Estimated GFR (MDRD equation) - Blood - Chemistry'),
 ('mean', 'Potassium - Blood - Chemistry'),
 ('mean', 'PT - Blood - Hematology'),
 ('below_min', 'MCH - Blood - Hematology'),
 ('min', 'Chloride - Blood - Chemistry'),
 ('max', 'Phosphate - Blood - Chemistry'),
 ('min', 'Bicarbonate - Blood - Chemistry'),
 ('min', 'MCHC - Blood - Hematology'),
 ('mean', 'Glucose - Blood - Chemistry'),
 ('max', 'Platelet Count - Blood - Hematology'),
 ('above_max', 'Creatinine - Blood - Chemistry'),
 ('max', 'Chloride - Blood - Chemistry'),
 ('min', 'Magnesium - Blood - Chemistry'),
 ('max', 'Potassium - Blood - Chemistry'),
 ('below_min', 'Estimated GFR (MDRD equation) - Blood - Chemistry'),
 ('min', 'Calcium, Total - Blood - Chemistry'),
 ('min', 'Sodium - Blood - Chemistry'),
 ('above_max', 'MCH - Blood - Hematology'),
 ('above_max', 'Troponin T - Blood - Chemistry')]

In [180]:
# pos_final_test_trimmed = labs_scaled_features.loc[:, cols_to_use].merge(pos_final_test[['subject_id', 'hadm_id', 'pos']], left_index = True, right_index = True)
pos_KNN_final_test_trimmed = labs_scaled_features_KNN.loc[:, cols_to_use_KNN].merge(pos_KNN_final_test[['subject_id', 'hadm_id', 'pos']], left_index = True, right_index = True)

In [181]:
# pos_final_test_trimmed.to_csv('../data/pos_final_test_trimmed_male.csv.gz', compression="gzip")
pos_KNN_final_test_trimmed.to_csv('../data/pos_KNN_final_test_trimmed_male.csv.gz', compression="gzip")