In [1]:
import pandas as pd
import numpy as np
from sklearn.utils import resample
import math

In [2]:
pd.set_option('display.max_columns',None)

In [4]:
d_labitems = pd.read_csv('../data/mimic-iv-0.4/hosp/d_labitems.csv.gz', compression='gzip')

In [5]:
admissions_sample = pd.read_pickle("../data/admissions_sample_female.pkl")

In [6]:
admissions_sample

,subject_id,hadm_id,pos,ethnicity,ed_length,insurance,gender,age,pneumoia,diabetes,hypertension,atherosclero,renal_failure,arrhythmia
0,15604856,27051547,1,WHITE,14.266667,Medicare,F,57,0.0,0.0,0.0,0.0,0.0,0.0
1,15121400,25949832,1,UNKNOWN,0.000000,Other,F,57,0.0,0.0,0.0,0.0,0.0,0.0
2,11267045,29466691,1,WHITE,0.000000,Medicare,F,73,0.0,0.0,0.0,0.0,0.0,0.0
3,15717841,28484573,1,WHITE,10.616667,Medicare,F,75,0.0,0.0,0.0,0.0,0.0,0.0
4,13508448,22316403,1,WHITE,7.966667,Medicare,F,73,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11659,10659445,20964931,0,WHITE,21.716667,Other,F,48,0.0,0.0,0.0,0.0,0.0,0.0
11660,13125866,29271348,0,WHITE,7.983333,Other,F,52,0.0,0.0,0.0,0.0,0.0,0.0
11661,13714134,23633566,0,WHITE,5.650000,Medicaid,F,89,0.0,0.0,0.0,0.0,0.0,0.0
11662,13956442,28737616,0,WHITE,3.616667,Medicare,F,59,0.0,0.0,0.0,0.0,0.0,0.0
11663,14926976,20966360,0,OTHER,7.433333,Other,F,72,0.0,0.0,1.0,1.0,0.0,0.0

## Pull Chart and Lab data only where it matches our sample patient list

In [497]:
# # We have Decided not to use Chart data after exploring it further
# # However, it still comes up in our discussions, so keeping this for now
# # Will need to update this code based on other updates we've made

# %%time #run this for next time

# chunksize = 3*(10 ** 6)
# counter=0
# chartevents_sample = []
# for chunk in pd.read_csv('data/mimic-iv-0.4/icu/chartevents.csv.gz', compression='gzip', chunksize=chunksize):
#     chartevents_sample.append(chunk[chunk['subject_id'].isin(list(admissions_sample.subject_id))])
#     counter+=1
#     print(f'chunk {counter} processed')

# chartevents_final = pd.concat(chartevents_sample)

In [498]:
# chartevents_final.to_pickle("./data/chartevents_final.pkl")

In [499]:
# chartevents_final = pd.read_pickle("./data/chartevents_final.pkl")

In [500]:
# chartevents_final.shape

Load Lab Events table

In [8]:
# %%time

chunksize = 3*(10 ** 6)
counter=0
lab_events_sample = []
for chunk in pd.read_csv('../data/mimic-iv-0.4/hosp/labevents.csv.gz', compression='gzip', chunksize=chunksize):
    lab_events_sample.append(chunk[chunk['subject_id'].isin(list(admissions_sample.subject_id))])
    counter+=1
    print(f'chunk {counter} processed')

lab_events_final = pd.concat(lab_events_sample)
# 5k patients
# 3min 52s

# 10k patients
# 4min 6s

# 15k patients
# 4min 27s

chunk 1 processed
chunk 2 processed
chunk 3 processed

/Users/brandonryu/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (7,9,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

chunk 4 processed
chunk 5 processed
chunk 6 processed
chunk 7 processed
chunk 8 processed
chunk 9 processed

/Users/brandonryu/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (9,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

chunk 10 processed

/Users/brandonryu/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

chunk 11 processed
chunk 12 processed
chunk 13 processed
chunk 14 processed
chunk 15 processed

/Users/brandonryu/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

chunk 16 processed
chunk 17 processed
chunk 18 processed
chunk 19 processed
chunk 20 processed
chunk 21 processed
chunk 22 processed
chunk 23 processed

/Users/brandonryu/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (7,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

chunk 24 processed
chunk 25 processed
chunk 26 processed
chunk 27 processed
chunk 28 processed
chunk 29 processed
chunk 30 processed
chunk 31 processed
chunk 32 processed
chunk 33 processed
chunk 34 processed
chunk 35 processed
chunk 36 processed
chunk 37 processed
chunk 38 processed
chunk 39 processed
chunk 40 processed
chunk 41 processed

In [65]:
lab_events_final.to_pickle("../data/lab_events_final_female.pkl")

In [503]:
# lab_events_final = pd.read_pickle("data/lab_events_final.pkl")

In [10]:
lab_events_final.shape

(6467175, 15)

## Manipulating the Data

Take only records related to our sample patients

Filter lab events based on first hospital visit of our sample population

In [11]:
# Can we do this filtering when generating lab data?
# For now let's not as we're discussing using different hospitalizations from the same subjects

%time lab_events_sampled = lab_events_final[lab_events_final['hadm_id'].isin(list(admissions_sample.hadm_id))]

CPU times: user 2.47 s, sys: 1.86 s, total: 4.34 s
Wall time: 5.71 s

Check how many patients have had each test done

In [12]:
lab_events_sampled.groupby('itemid')['subject_id'].nunique().sort_values(ascending = False).head(10)

itemid
51221    8440
51265    8218
51222    8201
51301    8191
51250    8188
51279    8188
51277    8188
51249    8188
51248    8188
50912    7637
Name: subject_id, dtype: int64

Most common tests performed on patients with pos diagnosis

In [13]:
lab_events_sampled[lab_events_sampled['subject_id'].isin(list(admissions_sample[admissions_sample['pos'] == 1].subject_id))].groupby('itemid')['subject_id'].nunique().sort_values(ascending = False).head(10)

itemid
50912    1156
50971    1156
51006    1155
50983    1154
50902    1153
51265    1148
51221    1148
50882    1147
50868    1147
50931    1146
Name: subject_id, dtype: int64

Item Black List

In [14]:
item_black_list = []
# # 50920 - test results are text in comments - need to come back and figure out how to handle this

Bonus Items To Add

In [15]:
# These test, although they have much missingness, are known to be good indicators of congestive heart failure

item_bonus_list = [51274, 51003, 50920, 50911, 51464]
# 51274 PT
# 50920 Estimated GFR (MDRD equation)
# 51003 Troponin T
# 50911 Creatine Kinase, MB Isoenzyme
# 51464 Specific Gravity

Take only the X most commonly performed tests

In [16]:
top_test_num = 20

lab_events_valid = lab_events_sampled[~lab_events_sampled['itemid'].isin(item_black_list)]

# On patients with pos diagnosis
itemid_sub_sample = lab_events_valid[lab_events_valid['subject_id'].isin(list(admissions_sample[admissions_sample['pos'] == 1].subject_id))].groupby('itemid')['subject_id'].nunique().sort_values(ascending = False).head(top_test_num).reset_index().rename(columns = {'index' : 'itemid'}).itemid.to_list()
# On all sample patients
# itemid_sub_sample = lab_events_sampled.groupby('itemid')['subject_id'].nunique().sort_values(ascending = False).head(top_test_num).reset_index().rename(columns = {'index' : 'itemid'}).itemid.to_list()

itemid_sub_sample = itemid_sub_sample + item_bonus_list

lab_events_sampled_sub = lab_events_sampled[lab_events_sampled['itemid'].isin(itemid_sub_sample)]

In [15]:
# # lab_events_valid['subject_id'].isin(list(admissions_sample[admissions_sample['pos'] == 1].subject_id))

# top_labs = lab_events_sampled.groupby(['itemid']).agg(freq=('subject_id', lambda x: len(np.unique(x))))\
# .reset_index().sort_values('freq', ascending=False).head(60)

# top_labs

In [16]:
# subset_labs['subject_id'].reset_index(drop=True).plot(kind='line')

In [17]:
# print(lab_events_valid[lab_events_valid['subject_id'].isin(list(admissions_sample[admissions_sample['pos'] == 1].subject_id))].groupby('itemid')['subject_id'].nunique().sort_values(ascending = False).head(20).reset_index().rename(columns = {'index' : 'itemid'}))

# # print(1191 / admissions_sample[admissions_sample['pos'] == 1].subject_id.nunique())
# # print(1192 / admissions_sample[admissions_sample['pos'] == 1].subject_id.nunique())

In [18]:
# print(lab_events_valid[lab_events_valid['subject_id'].isin(list(admissions_sample[admissions_sample['pos'] == 0].subject_id))].groupby('itemid')['subject_id'].nunique().sort_values(ascending = False).head(20).reset_index().rename(columns = {'index' : 'itemid'}))

# # print(6726 / admissions_sample[admissions_sample['pos'] == 0].subject_id.nunique())
# # print(6793 / admissions_sample[admissions_sample['pos'] == 0].subject_id.nunique())

In [19]:
# subset_labs['subject_id'].reset_index(drop=True).plot(kind='line')

## Data Cleaning

Make a separate table where we run some of the forest models on the Text data?

Special updates for Urine sample tests

In [24]:
# Other invalid value imputation
# For now set them all to normal/most common value
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51237) & (lab_events_sampled_sub['value'].isin([np.nan, 'ERROR', 'UNABLE TO REPORT'])), ['value', 'valuenum']] = 1.1
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51237) & (lab_events_sampled_sub['value'].isin(['>21.8'])), ['value', 'valuenum']] = 22
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51237) & (lab_events_sampled_sub['value'].isin(['>19.2'])), ['value', 'valuenum']] = 20

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51275) &  (lab_events_sampled_sub['value'].isin(['>150', '>150.0'])), ['value', 'valuenum']] = 175

# Should we just delete these?
# For 5k patients there are 6 records here
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51274) &  (lab_events_sampled_sub['value'].isin(['ERROR'])), ['value', 'valuenum']] = 11
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51274) &  (lab_events_sampled_sub['value'].isin(['UNABLE TO REPORT','ERROR,DISREGARD PREVIOUS RESULT OF 11.8'])), ['value', 'valuenum']] = np.nan

# Should we just delete these?
# For 5k patients there are 1 records here
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51275) &  (lab_events_sampled_sub['value'].isin(['UNABLE TO REPORT'])), ['value', 'valuenum']] = 31

# Clumsy..
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51275) &  (lab_events_sampled_sub['value'].isin(['34..3'])), ['value', 'valuenum']] = 34.3

/Users/brandonryu/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

More Data Cleaning

In [27]:
%%time

# Can probably make a helper function combining some of the below mapping

# 51466
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51466) & (lab_events_sampled_sub['value'].isin([np.nan])), ['value']] = lab_events_sampled_sub['comments']
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51466) & (lab_events_sampled_sub['value'].isin(['NEG.  ', 'NEG', ' '])), ['value', 'valuenum']] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51466) & (lab_events_sampled_sub['value'].isin(['TR', 'TR.  ', 'TR*.  '])), ['value', 'valuenum']] = 1
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51466) & (lab_events_sampled_sub['value'].isin(['SM', 'SM .  ', 'SM*.  '])), ['value', 'valuenum']] = 2
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51466) & (lab_events_sampled_sub['value'].isin(['MOD', 'MOD.  ', 'MOD*.  '])), ['value', 'valuenum']] = 3
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51466) & (lab_events_sampled_sub['value'].isin(['LG', 'LG.  ', 'LG*.  ', 'LGE', 'LRG'])), ['value', 'valuenum']] = 4

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51466) & (lab_events_sampled_sub['ref_range_lower'].isnull()), 'ref_range_lower'] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51466) & (lab_events_sampled_sub['ref_range_upper'].isnull()), 'ref_range_upper'] = 0

# 51514
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51514) & (lab_events_sampled_sub['value'].isin([np.nan])), ['value']] = lab_events_sampled_sub['comments']
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51514) & (lab_events_sampled_sub['value'].isin(['NEG.  ', 'NEG', 'NORMAL.  ', ' '])), ['value', 'valuenum']] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51514) & (lab_events_sampled_sub['value'].isin(['>8'])), ['value', 'valuenum']] = 10
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51514) & (lab_events_sampled_sub['value'].isin(['>12.  ', '>12*.  '])), ['value', 'valuenum']] = 15

# 51464
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51464) & (lab_events_sampled_sub['value'].isin([np.nan])), ['value']] = lab_events_sampled_sub['comments']
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51464) & (lab_events_sampled_sub['value'].isin(['NEG.  ', 'NEG', ' '])), ['value', 'valuenum']] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51464) & (lab_events_sampled_sub['value'].isin(['SM', 'SM .  ', 'SM*.  '])), ['value', 'valuenum']] = 1
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51464) & (lab_events_sampled_sub['value'].isin(['MOD', 'MOD.  ', 'MOD*.  '])), ['value', 'valuenum']] = 2
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51464) & (lab_events_sampled_sub['value'].isin(['LG', 'LG.  ', 'LG*.  ', 'LGE'])), ['value', 'valuenum']] = 3

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51464) & (lab_events_sampled_sub['ref_range_lower'].isnull()), 'ref_range_lower'] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51464) & (lab_events_sampled_sub['ref_range_upper'].isnull()), 'ref_range_upper'] = 0

# 51487
# Should Pos be marked abnormal?
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51487) & (lab_events_sampled_sub['value'].isin([np.nan])), ['value']] = lab_events_sampled_sub['comments']
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51487) & (lab_events_sampled_sub['value'].isin(['NEG.  ', 'NEG', ' '])), ['value', 'valuenum']] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51487) & (lab_events_sampled_sub['value'].isin(['POS.  ', 'POS', 'POS*.  '])), ['value', 'valuenum']] = 1

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51487) & (lab_events_sampled_sub['ref_range_lower'].isnull()), 'ref_range_lower'] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51487) & (lab_events_sampled_sub['ref_range_upper'].isnull()), 'ref_range_upper'] = 0

# 51492
# Should Pos be marked abnormal?
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51492) & (lab_events_sampled_sub['value'].isin([np.nan])), ['value']] = lab_events_sampled_sub['comments']
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51492) & (lab_events_sampled_sub['value'].isin(['___'])), ['value', 'valuenum']] = np.nan
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51492) & (lab_events_sampled_sub['value'].isin(['NEG.  ', 'NEG', ' '])), ['value', 'valuenum']] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51492) & (lab_events_sampled_sub['value'].isin(['TR', 'TR.  ', 'TR*.  '])), ['value', 'valuenum']] = 10
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51492) & (lab_events_sampled_sub['value'].str.contains('TR.')), ['value', 'valuenum']] = 10
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51492) & (lab_events_sampled_sub['value'].isin(['>300'])), ['value', 'valuenum']] = 350
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51492) & (lab_events_sampled_sub['value'].isin(['>600.  ', '>600*.  '])), ['value', 'valuenum']] = 700

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51492) & (lab_events_sampled_sub['ref_range_lower'].isnull()), 'ref_range_lower'] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51492) & (lab_events_sampled_sub['ref_range_upper'].isnull()), 'ref_range_upper'] = 0

# 51486
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51486) & (lab_events_sampled_sub['value'].isin([np.nan])), ['value']] = lab_events_sampled_sub['comments']
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51486) & (lab_events_sampled_sub['value'].isin(['NEG.  ', 'NEG', ' ', 'N'])), ['value', 'valuenum']] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51486) & (lab_events_sampled_sub['value'].isin(['TR', 'TR.  ', 'TR*.  '])), ['value', 'valuenum']] = 1
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51486) & (lab_events_sampled_sub['value'].isin(['SM', 'SM .  ', 'SM*.  '])), ['value', 'valuenum']] = 2
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51486) & (lab_events_sampled_sub['value'].isin(['MOD', 'MOD.  ', 'MOD*.  '])), ['value', 'valuenum']] = 3
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51486) & (lab_events_sampled_sub['value'].isin(['LG', 'LG.  ', 'LG*.  ', 'LGE'])), ['value', 'valuenum']] = 4

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51486) & (lab_events_sampled_sub['ref_range_lower'].isnull()), 'ref_range_lower'] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51486) & (lab_events_sampled_sub['ref_range_upper'].isnull()), 'ref_range_upper'] = 0

# 51506
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51506) & (lab_events_sampled_sub['value'].isin([np.nan])), ['value']] = lab_events_sampled_sub['comments']
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51506) & (lab_events_sampled_sub['value'].isin(['Clear.  ', 'CLEAR.  ', 'Clear', ' ', 'CLEAR'])), ['value', 'valuenum']] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51506) & (lab_events_sampled_sub['value'].isin(['SlHazy'])), ['value', 'valuenum']] = 0.5
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51506) & (lab_events_sampled_sub['value'].isin(['Hazy.  ', 'Hazy*.  ', 'Hazy', 'HAZY', 'HAZY*.  ', 'Slcldy', 'SLCLOUDY'])), ['value', 'valuenum']] = 1
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51506) & (lab_events_sampled_sub['value'].isin(['Cloudy*.  ', 'Cloudy.  ', 'Cloudy', 'CLO', 'CLOUDY', 'CLOU', 'CLOUDY*.  '])), ['value', 'valuenum']] = 2

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51506) & (lab_events_sampled_sub['ref_range_lower'].isnull()), 'ref_range_lower'] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51506) & (lab_events_sampled_sub['ref_range_upper'].isnull()), 'ref_range_upper'] = 0

# 51301
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51301) & (lab_events_sampled_sub['value'].isin(['<0.1'])), ['value', 'valuenum']] = 0

/Users/brandonryu/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

CPU times: user 6.06 s, sys: 245 ms, total: 6.31 s
Wall time: 7.67 s

In [26]:
lab_events_sampled_sub[lab_events_sampled_sub['value']=='<0.1']
# itemid_sub_sample

,labevent_id,subject_id,hadm_id,specimen_id,itemid,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments
100387988,109240397,18777918,24753501.0,27736375,51301,2157-06-02 07:18:00,2157-06-02 08:57:00,<0.1,NaN,K/uL,4.0,10.0,abnormal,STAT,NaN

Additional Data Cleaning

In [28]:
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51484) & (lab_events_sampled_sub['value'].isin([np.nan, ' ', 'TR', 'NEG'])), ['value', 'valuenum']] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51478) & (lab_events_sampled_sub['value'].isin([np.nan, ' ', 'TR', 'NEG'])), ['value', 'valuenum']] = 0

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51484) & (lab_events_sampled_sub['ref_range_lower'].isnull()), 'ref_range_lower'] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51478) & (lab_events_sampled_sub['ref_range_lower'].isnull()), 'ref_range_lower'] = 0

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51484) & (lab_events_sampled_sub['ref_range_upper'].isnull()), 'ref_range_upper'] = 0
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51478) & (lab_events_sampled_sub['ref_range_upper'].isnull()), 'ref_range_upper'] = 0

# What are good replacement values for these?
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51484) & (lab_events_sampled_sub['value'].isin(['>80'])), ['value', 'valuenum']] = 120
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51478) & (lab_events_sampled_sub['value'].isin(['>1000'])), ['value', 'valuenum']] = 1250

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51498) & (lab_events_sampled_sub['value'].isin(['<1.005'])), ['value', 'valuenum']] = 1.000
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51498) & (lab_events_sampled_sub['value'].isin(['<=1.005'])), ['value', 'valuenum']] = 1.000
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51498) & (lab_events_sampled_sub['value'].isin(['>1.030', '.1.030'])), ['value', 'valuenum']] = 1.035
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51498) & (lab_events_sampled_sub['value'].isin(['>1.035'])), ['value', 'valuenum']] = 1.040
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51498) & (lab_events_sampled_sub['value'].isin(['>1.050'])), ['value', 'valuenum']] = 1.055
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51498) & (lab_events_sampled_sub['comments'].isin(['>1.050*.'])), ['value', 'valuenum']] = 1.055
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51498) & (lab_events_sampled_sub['value'].isin(['>=1.035'])), ['value', 'valuenum']] = 1.040
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51498) & (lab_events_sampled_sub['value'].isin([' '])), ['value', 'valuenum']] = 1.015

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51237) & (lab_events_sampled_sub['value'].isin(['>13.4'])), ['value', 'valuenum']] = 15

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51491) & (lab_events_sampled_sub['value'].isin([' '])), ['value', 'valuenum']] = 6.0

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51498) & (lab_events_sampled_sub['value'].isin(['>1.070'])), ['value', 'valuenum']] = 1.080

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51275) & (lab_events_sampled_sub['value'].isin(['ERROR'])), ['value', 'valuenum']] = np.nan

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51484) & (lab_events_sampled_sub['value'].astype(float) > 0), 'flag'] = 'abnormal'
lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51478) & (lab_events_sampled_sub['value'].astype(float) > 0), 'flag'] = 'abnormal'

lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == 51466) & (lab_events_sampled_sub['value'].astype(float) > 0), 'flag'] = 'abnormal'

In [29]:
# Check on differences between value and valuenum columns

lab_events_sampled_sub.loc[((lab_events_sampled_sub['value'].astype(str) + str('.0')) != lab_events_sampled_sub['valuenum'].astype(str)) 
                           & ((lab_events_sampled_sub['value'].astype(str) + str('0')) != lab_events_sampled_sub['valuenum'].astype(str)) 
                           & ((lab_events_sampled_sub['value'].astype(str)) != lab_events_sampled_sub['valuenum'].astype(str)) 
                           & ((lab_events_sampled_sub['value'].astype(str)) != lab_events_sampled_sub['valuenum'].astype(str) + str('0')) 
                           & ((str('0') + lab_events_sampled_sub['value'].astype(str)) != lab_events_sampled_sub['valuenum'].astype(str))
                           & ((lab_events_sampled_sub['value'].astype(str)) != round(lab_events_sampled_sub['valuenum'], 10).astype(str)), ]

Empty DataFrame
Columns: [labevent_id, subject_id, hadm_id, specimen_id, itemid, charttime, storetime, value, valuenum, valueuom, ref_range_lower, ref_range_upper, flag, priority, comments]
Index: []

## Code to look into specific test values for cleaning

In [30]:
# lab_events_sampled_sub[lab_events_sampled_sub['value'] == 'UNABLE TO REPORT']

In [31]:
# # Used to investigate bad data
# pd.set_option('display.max_colwidth', -1)
# pd.set_option('display.max_rows', 200)

# bad_id = 51274

# # lab_events_sampled_sub[lab_events_sampled_sub['itemid'] == bad_id].value.value_counts().reset_index().sort_values(by = 'index')
# # lab_events_sampled_sub[lab_events_sampled_sub['itemid'] == bad_id][['value', 'comments']].drop_duplicates()
# lab_events_sampled_sub[lab_events_sampled_sub['itemid'] == bad_id][['flag', 'comments', 'value', 'valuenum', 'ref_range_lower', 'ref_range_upper']].drop_duplicates().head(100)
# # lab_events_sampled_sub.loc[(lab_events_sampled_sub['itemid'] == bad_id) & (lab_events_sampled_sub['value'].isnull()), ][['value', 'valuenum', 'comments']].drop_duplicates()

In [30]:
def gfr_grabber(patient):
    comment = patient['comments']
    gfr_vals = []
    
    if pd.isnull(comment):
        return np.nan
    if type(comment) == str:
        if comment == '___':
            return np.nan
        
        comment = comment.replace('>75', '75')
        if ('between' in comment):
            start_low = comment.find('between')
            end_low = comment.find(' and', start_low + 8, )

            end_high = comment.find(' mL', end_low + 5, )
            
            val = (int(comment[start_low + 8 : end_low]) + int(comment[end_low + 5 : end_high])) / 2

            gfr_vals = [val, val]
        elif 'likely' in comment:
            start_point = comment.find('likely')
            end_point = comment.find(' mL', start_point + 7, )
            gfr_vals = [comment[start_point + 7 : end_point], comment[start_point + 7 : end_point]]
        else:
            start_points = [i for i in range(len(comment)) if comment.startswith('GFR = ', i)]
            end_points = list(map(lambda x: comment.find(' ', x + 6, ), start_points))

            gfr_vals = list(map(lambda x, y: comment[x + 6 : y], start_points, end_points))

    if (admissions_sample.loc[admissions_sample['subject_id'] == patient['subject_id'], 'ethnicity'] == 'BLACK/AFRICAN AMERICAN').iloc[0]:
        return int(gfr_vals[1])
    else:
        return int(gfr_vals[0])
    
lab_gfr = lab_events_sampled_sub.loc[lab_events_sampled_sub['itemid'] == 50920, ['labevent_id', 'comments', 'subject_id']]
lab_gfr['value'] = lab_gfr.apply(gfr_grabber, axis = 1)

In [31]:
lab_events_sampled_sub.loc[lab_events_sampled_sub['labevent_id'].isin(lab_gfr.labevent_id), 'value'] = lab_events_sampled_sub.loc[lab_events_sampled_sub['labevent_id'].isin(lab_gfr.labevent_id), 'labevent_id'].map(lambda x: lab_gfr.loc[lab_gfr['labevent_id'] == x, 'value'])
lab_events_sampled_sub.loc[lab_events_sampled_sub['labevent_id'].isin(lab_gfr.labevent_id), 'value'] = lab_events_sampled_sub.loc[lab_events_sampled_sub['labevent_id'].isin(lab_gfr.labevent_id), 'value'].map(lambda x: x.iloc[0].astype(np.float64))
lab_events_sampled_sub.loc[lab_events_sampled_sub['labevent_id'].isin(lab_gfr.labevent_id), 'valuenum'] = lab_events_sampled_sub.loc[lab_events_sampled_sub['labevent_id'].isin(lab_gfr.labevent_id), 'value'].astype(np.float64)
lab_events_sampled_sub.loc[lab_events_sampled_sub['labevent_id'].isin(lab_gfr.labevent_id), 'ref_range_lower'] = 60
lab_events_sampled_sub.loc[lab_events_sampled_sub['labevent_id'].isin(lab_gfr.labevent_id), 'ref_range_upper'] = 120

/Users/brandonryu/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

## Get Aggregate Test Values

In [32]:
%time lab_events_sampled_sub_grouped = lab_events_sampled_sub.groupby(['subject_id', 'hadm_id', 'itemid']).agg({'itemid' : ['count'], 'valuenum' : ['min', 'max', 'mean'], 'flag' : ['count'], 'ref_range_lower' : ['min'], 'ref_range_upper' : ['min']})
# 'comments' : ['unique'],

CPU times: user 392 ms, sys: 97.2 ms, total: 489 ms
Wall time: 591 ms

In [33]:
lab_events_sampled_sub_grouped.reset_index(inplace = True)
lab_events_sampled_sub_grouped.columns = ['subject_id', 'hadm_id', 'itemid', 'count', 'min', 'max', 'mean', 'abn_percent', 'range_min', 'range_max']
# 'comments',

In [34]:
missing_vals = lab_events_sampled_sub_grouped.isnull().sum(axis = 0) 
missing_vals[missing_vals > 0].sort_values()

min     1667
max     1667
mean    1667
dtype: int64

In [35]:
lab_events_sampled_sub_grouped.loc[lab_events_sampled_sub_grouped['min'].isnull(), ].itemid.value_counts()

# lab_events_sampled_sub_grouped.loc[(lab_events_sampled_sub_grouped['min'].isnull()) & (lab_events_sampled_sub_grouped['itemid'] == 51003), ]#.subject_id.nunique()
# # lab_events_sampled_sub_grouped.subject_id.nunique()

# lab_events_sampled_sub_grouped.loc[lab_events_sampled_sub_grouped['subject_id'] == 10002264, ]

51003    1334
50911     273
50920      25
51274      11
51265       4
51249       3
51248       3
51222       3
51301       2
51279       2
51277       2
51250       2
51221       2
50902       1
Name: itemid, dtype: int64

In [36]:
lab_events_sampled_sub_grouped['below_min'] = np.where(lab_events_sampled_sub_grouped['min'] < lab_events_sampled_sub_grouped['range_min'], lab_events_sampled_sub_grouped['range_min'] - lab_events_sampled_sub_grouped['min'], 0)
lab_events_sampled_sub_grouped['above_max'] = np.where(lab_events_sampled_sub_grouped['max'] > lab_events_sampled_sub_grouped['range_max'], lab_events_sampled_sub_grouped['max'] - lab_events_sampled_sub_grouped['range_max'], 0)
lab_events_sampled_sub_grouped['abn_percent'] = lab_events_sampled_sub_grouped['abn_percent'] / lab_events_sampled_sub_grouped['count']

## Merge Admissions data so we can group by ethnicity/gender to grab average range min and max

In [37]:
lab_adm = lab_events_sampled_sub_grouped.merge(admissions_sample, left_on = 'hadm_id', right_on = 'hadm_id')

lab_range_min_max_eg = lab_adm.groupby(['itemid', 'ethnicity', 'gender']).agg({'range_min' : 'mean', 'range_max' : 'mean'})
lab_range_min_max_eg.reset_index(inplace = True)

lab_range_eg_dic = dict(zip(zip(lab_range_min_max_eg['itemid'], lab_range_min_max_eg['ethnicity'], lab_range_min_max_eg['gender']), zip(lab_range_min_max_eg['range_min'], lab_range_min_max_eg['range_max'])))

# # These labs have missing data for the entire ethnicity/gender combo
lab_range_eg_dic[(50911, 'AMERICAN INDIAN/ALASKA NATIVE', 'M')] = (0.0, 10.0)
lab_range_eg_dic[(51003, 'AMERICAN INDIAN/ALASKA NATIVE', 'M')] = (0.0, 0.01)

lab_range_eg_dic

{(50868, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (8.307692307692308,
  19.384615384615383),
 (50868, 'ASIAN', 'F'): (8.506849315068493, 19.34246575342466),
 (50868, 'BLACK/AFRICAN AMERICAN', 'F'): (8.459770114942529,
  19.473354231974923),
 (50868, 'HISPANIC/LATINO', 'F'): (8.291793313069908, 19.64741641337386),
 (50868, 'OTHER', 'F'): (8.492012779552716, 19.482428115015974),
 (50868, 'UNKNOWN', 'F'): (8.459530026109661, 19.488250652741513),
 (50868, 'WHITE', 'F'): (8.403969643899591, 19.523642732049037),
 (50882, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (22.0, 32.0),
 (50882, 'ASIAN', 'F'): (22.0, 32.0),
 (50882, 'BLACK/AFRICAN AMERICAN', 'F'): (22.0, 32.0),
 (50882, 'HISPANIC/LATINO', 'F'): (22.0, 32.0),
 (50882, 'OTHER', 'F'): (22.0, 32.0),
 (50882, 'UNKNOWN', 'F'): (22.0, 32.0),
 (50882, 'WHITE', 'F'): (22.0, 32.0),
 (50893, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (8.400000000000002,
  10.299999999999999),
 (50893, 'ASIAN', 'F'): (8.400000000000041, 10.289393939393953),
 (50893, 'BLACK/AFRICAN AMERICAN', 'F'): (8.399999999999887,
  10.287228915662716),
 (50893, 'HISPANIC/LATINO', 'F'): (8.400000000000043, 10.285555555555568),
 (50893, 'OTHER', 'F'): (8.400000000000045, 10.293262411347541),
 (50893, 'UNKNOWN', 'F'): (8.400000000000055, 10.293103448275923),
 (50893, 'WHITE', 'F'): (8.400086077039685, 10.283559285560937),
 (50902, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (96.0, 108.0),
 (50902, 'ASIAN', 'F'): (96.0, 108.0),
 (50902, 'BLACK/AFRICAN AMERICAN', 'F'): (96.0, 108.0),
 (50902, 'HISPANIC/LATINO', 'F'): (96.0, 108.0),
 (50902, 'OTHER', 'F'): (96.0, 108.0),
 (50902, 'UNKNOWN', 'F'): (96.0, 108.0),
 (50902, 'WHITE', 'F'): (96.0, 108.0),
 (50911, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (0.0, 10.0),
 (50911, 'ASIAN', 'F'): (0.0, 10.0),
 (50911, 'BLACK/AFRICAN AMERICAN', 'F'): (0.0, 10.0),
 (50911, 'HISPANIC/LATINO', 'F'): (0.0, 10.0),
 (50911, 'OTHER', 'F'): (0.0, 10.0),
 (50911, 'UNKNOWN', 'F'): (0.0, 10.0),
 (50911, 'WHITE', 'F'): (0.0, 10.0),
 (50912, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (0.4000000000000001,
  1.0999999999999999),
 (50912, 'ASIAN', 'F'): (0.4000000000000021, 1.1000000000000019),
 (50912, 'BLACK/AFRICAN AMERICAN', 'F'): (0.39999999999999425,
  1.1000000000000079),
 (50912, 'HISPANIC/LATINO', 'F'): (0.4000000000000026, 1.100000000000005),
 (50912, 'OTHER', 'F'): (0.4000000000000024, 1.1000000000000039),
 (50912, 'UNKNOWN', 'F'): (0.4000000000000029, 1.1000000000000068),
 (50912, 'WHITE', 'F'): (0.4000190476190863, 1.1000190476191078),
 (50920, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (60.0, 120.0),
 (50920, 'ASIAN', 'F'): (60.0, 120.0),
 (50920, 'BLACK/AFRICAN AMERICAN', 'F'): (60.0, 120.0),
 (50920, 'HISPANIC/LATINO', 'F'): (60.0, 120.0),
 (50920, 'OTHER', 'F'): (60.0, 120.0),
 (50920, 'UNKNOWN', 'F'): (60.0, 120.0),
 (50920, 'WHITE', 'F'): (60.0, 120.0),
 (50931, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (70.0, 100.0),
 (50931, 'ASIAN', 'F'): (70.0, 100.56701030927834),
 (50931, 'BLACK/AFRICAN AMERICAN', 'F'): (70.0, 100.67991631799163),
 (50931, 'HISPANIC/LATINO', 'F'): (69.96941896024465, 100.74923547400611),
 (50931, 'OTHER', 'F'): (70.0, 100.35031847133757),
 (50931, 'UNKNOWN', 'F'): (70.0, 100.36458333333333),
 (50931, 'WHITE', 'F'): (69.99416342412451, 100.85505836575875),
 (50960, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (1.5999999999999999,
  2.6000000000000005),
 (50960, 'ASIAN', 'F'): (1.5988593155893598, 2.595437262357427),
 (50960, 'BLACK/AFRICAN AMERICAN', 'F'): (1.599049881235145,
  2.596199524940577),
 (50960, 'HISPANIC/LATINO', 'F'): (1.5992753623188476, 2.597101449275376),
 (50960, 'OTHER', 'F'): (1.5989473684210602, 2.5957894736842237),
 (50960, 'UNKNOWN', 'F'): (1.5997368421052744, 2.598947368421068),
 (50960, 'WHITE', 'F'): (1.5993414064161062, 2.5973656256641244),
 (50970, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (2.6999999999999997, 4.5),
 (50970, 'ASIAN', 'F'): (2.7000000000000064, 4.5),
 (50970, 'BLACK/AFRICAN AMERICAN', 'F'): (2.7000000000000153, 4.5),
 (50970, 'HISPANIC/LATINO', 'F'): (2.7000000000000077, 4.5),
 (50970, 'OTHER', 'F'): (2.7000000000000086, 4.5),
 (50970, 'UNKNOWN', 'F'): (2.7000000000000184, 4.5),
 (50970, 'WHITE', 'F'): (2.7000000000001636, 4.5),
 (50971, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (3.33076923076923,
  5.1461538461538465),
 (50971, 'ASIAN', 'F'): (3.3363013698629995, 5.15445205479451),
 (50971, 'BLACK/AFRICAN AMERICAN', 'F'): (3.3399168399168744,
  5.159875259875263),
 (50971, 'HISPANIC/LATINO', 'F'): (3.3265060240963664, 5.139759036144557),
 (50971, 'OTHER', 'F'): (3.3387301587301423, 5.15809523809522),
 (50971, 'UNKNOWN', 'F'): (3.3354166666666476, 5.1531249999999815),
 (50971, 'WHITE', 'F'): (3.332117351862306, 5.148176027793585),
 (50983, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (133.30769230769232,
  145.30769230769232),
 (50983, 'ASIAN', 'F'): (133.5068493150685, 145.5068493150685),
 (50983, 'BLACK/AFRICAN AMERICAN', 'F'): (133.45833333333334,
  145.45833333333334),
 (50983, 'HISPANIC/LATINO', 'F'): (133.29518072289156, 145.29518072289156),
 (50983, 'OTHER', 'F'): (133.48888888888888, 145.48888888888888),
 (50983, 'UNKNOWN', 'F'): (133.46354166666666, 145.46354166666666),
 (50983, 'WHITE', 'F'): (133.402554673892, 145.402554673892),
 (51003, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (0.0, 0.01),
 (51003, 'ASIAN', 'F'): (0.0, 0.010000000000000005),
 (51003, 'BLACK/AFRICAN AMERICAN', 'F'): (0.0, 0.009999999999999915),
 (51003, 'HISPANIC/LATINO', 'F'): (0.0, 0.010000000000000007),
 (51003, 'OTHER', 'F'): (0.0, 0.010000000000000005),
 (51003, 'UNKNOWN', 'F'): (0.0, 0.010000000000000007),
 (51003, 'WHITE', 'F'): (0.0, 0.009999999999999816),
 (51006, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (6.0, 20.0),
 (51006, 'ASIAN', 'F'): (6.0, 20.0),
 (51006, 'BLACK/AFRICAN AMERICAN', 'F'): (6.0, 20.0),
 (51006, 'HISPANIC/LATINO', 'F'): (6.0, 20.0),
 (51006, 'OTHER', 'F'): (6.0, 20.0),
 (51006, 'UNKNOWN', 'F'): (6.0, 20.0),
 (51006, 'WHITE', 'F'): (6.0, 20.0),
 (51221, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (35.0, 46.5),
 (51221, 'ASIAN', 'F'): (35.161458333333336, 46.7421875),
 (51221, 'BLACK/AFRICAN AMERICAN', 'F'): (35.182724252491695,
  46.77408637873754),
 (51221, 'HISPANIC/LATINO', 'F'): (35.259433962264154, 46.889150943396224),
 (51221, 'OTHER', 'F'): (35.05540897097625, 46.58311345646438),
 (51221, 'UNKNOWN', 'F'): (35.03117505995204, 46.54676258992806),
 (51221, 'WHITE', 'F'): (35.23734853884533, 46.85566642908054),
 (51222, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (11.599999999999998,
  15.849999999999998),
 (51222, 'ASIAN', 'F'): (11.654347826086923, 15.87038043478256),
 (51222, 'BLACK/AFRICAN AMERICAN', 'F'): (11.668449197861037,
  15.87566844919799),
 (51222, 'HISPANIC/LATINO', 'F'): (11.707012987012961, 15.890129870129831),
 (51222, 'OTHER', 'F'): (11.612121212121174, 15.854545454545404),
 (51222, 'UNKNOWN', 'F'): (11.606879606879557, 15.852579852579794),
 (51222, 'WHITE', 'F'): (11.692557803467755, 15.88493497109763),
 (51248, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (26.526315789473685, 32.0),
 (51248, 'ASIAN', 'F'): (26.57103825136612, 32.0),
 (51248, 'BLACK/AFRICAN AMERICAN', 'F'): (26.586083853702053, 32.0),
 (51248, 'HISPANIC/LATINO', 'F'): (26.637075718015666, 32.0),
 (51248, 'OTHER', 'F'): (26.515151515151516, 32.0),
 (51248, 'UNKNOWN', 'F'): (26.50859950859951, 32.0),
 (51248, 'WHITE', 'F'): (26.616024597576416, 32.0),
 (51249, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (31.473684210526315,
  35.94736842105263),
 (51249, 'ASIAN', 'F'): (31.42896174863388, 35.85792349726776),
 (51249, 'BLACK/AFRICAN AMERICAN', 'F'): (31.412132024977698,
  35.824264049955396),
 (51249, 'HISPANIC/LATINO', 'F'): (31.362924281984334, 35.72584856396867),
 (51249, 'OTHER', 'F'): (31.484848484848484, 35.96969696969697),
 (51249, 'UNKNOWN', 'F'): (31.486486486486488, 35.972972972972975),
 (51249, 'WHITE', 'F'): (31.382347621631396, 35.76469524326279),
 (51250, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (82.0, 98.0),
 (51250, 'ASIAN', 'F'): (82.0, 98.0),
 (51250, 'BLACK/AFRICAN AMERICAN', 'F'): (82.0, 98.0),
 (51250, 'HISPANIC/LATINO', 'F'): (82.0, 98.0),
 (51250, 'OTHER', 'F'): (82.0, 98.0),
 (51250, 'UNKNOWN', 'F'): (82.0, 98.0),
 (51250, 'WHITE', 'F'): (82.0, 98.0),
 (51265, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (150.0, 421.05263157894734),
 (51265, 'ASIAN', 'F'): (150.0, 422.8415300546448),
 (51265, 'BLACK/AFRICAN AMERICAN', 'F'): (150.0, 423.4728406055209),
 (51265, 'HISPANIC/LATINO', 'F'): (150.0, 425.35064935064935),
 (51265, 'OTHER', 'F'): (150.0, 420.71232876712327),
 (51265, 'UNKNOWN', 'F'): (150.0, 420.29411764705884),
 (51265, 'WHITE', 'F'): (150.0, 424.6469740634006),
 (51274, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (9.4, 12.5),
 (51274, 'ASIAN', 'F'): (9.634972677595657, 12.711475409836074),
 (51274, 'BLACK/AFRICAN AMERICAN', 'F'): (9.660249554367162,
  12.734224598930448),
 (51274, 'HISPANIC/LATINO', 'F'): (9.714136125654482, 12.782722513089022),
 (51274, 'OTHER', 'F'): (9.54778325123156, 12.63300492610838),
 (51274, 'UNKNOWN', 'F'): (9.581250000000056, 12.66312500000001),
 (51274, 'WHITE', 'F'): (9.725089392134088, 12.792580452920399),
 (51277, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (10.5, 15.5),
 (51277, 'ASIAN', 'F'): (10.5, 15.5),
 (51277, 'BLACK/AFRICAN AMERICAN', 'F'): (10.5, 15.5),
 (51277, 'HISPANIC/LATINO', 'F'): (10.5, 15.5),
 (51277, 'OTHER', 'F'): (10.5, 15.5),
 (51277, 'UNKNOWN', 'F'): (10.5, 15.5),
 (51277, 'WHITE', 'F'): (10.5, 15.5),
 (51279, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (4.0578947368421066,
  5.305263157894738),
 (51279, 'ASIAN', 'F'): (4.071311475409859, 5.314207650273258),
 (51279, 'BLACK/AFRICAN AMERICAN', 'F'): (4.07582515611057, 5.317216770740328),
 (51279, 'HISPANIC/LATINO', 'F'): (4.091122715404725, 5.32741514360317),
 (51279, 'OTHER', 'F'): (4.054545454545475, 5.303030303030335),
 (51279, 'UNKNOWN', 'F'): (4.052579852579881, 5.301719901719927),
 (51279, 'WHITE', 'F'): (4.084879725086242, 5.3233496111417535),
 (51301, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (4.0, 10.526315789473685),
 (51301, 'ASIAN', 'F'): (4.0, 10.57103825136612),
 (51301, 'BLACK/AFRICAN AMERICAN', 'F'): (4.0, 10.586083853702052),
 (51301, 'HISPANIC/LATINO', 'F'): (4.0, 10.638020833333334),
 (51301, 'OTHER', 'F'): (4.0, 10.515151515151516),
 (51301, 'UNKNOWN', 'F'): (4.0, 10.50859950859951),
 (51301, 'WHITE', 'F'): (4.0, 10.615801844151148),
 (51464, 'AMERICAN INDIAN/ALASKA NATIVE', 'F'): (0.0, 0.0),
 (51464, 'ASIAN', 'F'): (0.0, 0.0),
 (51464, 'BLACK/AFRICAN AMERICAN', 'F'): (0.0, 0.0),
 (51464, 'HISPANIC/LATINO', 'F'): (0.0, 0.0),
 (51464, 'OTHER', 'F'): (0.0, 0.0),
 (51464, 'UNKNOWN', 'F'): (0.0, 0.0),
 (51464, 'WHITE', 'F'): (0.0, 0.0),
 (50911, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (0.0, 10.0),
 (51003, 'AMERICAN INDIAN/ALASKA NATIVE', 'M'): (0.0, 0.01)}

In [38]:
# # Aggregate without splitting by Ethnicity/Gender

# lab_range_min_max = lab_events_sampled_sub_grouped.groupby('itemid').agg({'range_min' : 'mean', 'range_max' : 'mean'})
# lab_range_min_max.reset_index(inplace = True)

# lab_range_dic = dict(zip(lab_range_min_max['itemid'], zip(lab_range_min_max['range_min'], lab_range_min_max['range_max'])))
# lab_range_dic

Pivot the table so we have feature columns related to test results

In [39]:
lab_events_sampled_sub_grouped['new_index'] = list(zip(lab_events_sampled_sub_grouped['subject_id'], lab_events_sampled_sub_grouped['hadm_id']))

In [40]:
%time lab_events_sampled_pivot = lab_events_sampled_sub_grouped.pivot(index = 'new_index', columns = 'itemid', values = ['min', 'max', 'mean', 'abn_percent', 'below_min', 'above_max'])
# 'comments',

CPU times: user 113 ms, sys: 25.5 ms, total: 139 ms
Wall time: 153 ms

In [41]:
lab_events_sampled_pivot = lab_events_sampled_pivot.reset_index()
lab_events_sampled_pivot['subject_id'], lab_events_sampled_pivot['hadm_id'] = zip(*lab_events_sampled_pivot['new_index'])
lab_events_sampled_pivot.drop(['new_index'], axis = 1, inplace = True)

/Users/brandonryu/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:3936: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [42]:
missing_vals = lab_events_sampled_pivot.isnull().sum(axis = 0) 
missing_vals[missing_vals > 0].sort_values()#.head(40)

             itemid
abn_percent  51221      273
below_min    51221      273
above_max    51221      273
max          51221      275
mean         51221      275
                       ...
min          50911     7210
mean         50911     7210
             51003     7841
max          51003     7841
min          51003     7841
Length: 150, dtype: int64

## Start Data Imputation

Copy table, retain original for Random Forest

In [43]:
lab_events_impute = lab_events_sampled_pivot.copy()

In [44]:
d_labitems[d_labitems['itemid'].isin(itemid_sub_sample)]

      itemid                          label  fluid    category loinc_code
115    50868                      Anion Gap  Blood   Chemistry     1863-0
212    50882                    Bicarbonate  Blood   Chemistry     1963-8
222    51464                      Bilirubin  Urine  Hematology     5770-3
282    50893                 Calcium, Total  Blood   Chemistry     2000-8
442    50902                       Chloride  Blood   Chemistry     2075-0
511    50911  Creatine Kinase, MB Isoenzyme  Blood   Chemistry     6773-6
512    50912                     Creatinine  Blood   Chemistry     2160-0
634    50920  Estimated GFR (MDRD equation)  Blood   Chemistry        NaN
723    50931                        Glucose  Blood   Chemistry     6777-7
761    51221                     Hematocrit  Blood  Hematology     4544-3
771    51222                     Hemoglobin  Blood  Hematology      718-7
1008   50960                      Magnesium  Blood   Chemistry     2601-3
1013   51248                            MCH  Blood  Hematology      785-6
1014   51249                           MCHC  Blood  Hematology      786-4
1016   51250                            MCV  Blood  Hematology      787-2
1189   50970                      Phosphate  Blood   Chemistry     2777-1
1211   51265                 Platelet Count  Blood  Hematology      777-3
1233   50971                      Potassium  Blood   Chemistry     2823-3
1279   51274                             PT  Blood  Hematology     5902-2
1307   51277                            RDW  Blood  Hematology      788-0
1312   51279                Red Blood Cells  Blood  Hematology      789-8
1373   50983                         Sodium  Blood   Chemistry     2951-2
1494   51003                     Troponin T  Blood   Chemistry     6598-7
1506   51006                  Urea Nitrogen  Blood   Chemistry     3094-0
1598   51301              White Blood Cells  Blood  Hematology      804-5

In [45]:
lab_events_impute

         min                                                                \
itemid 50868 50882 50893  50902 50911 50912 50920  50931 50960 50970 50971
0        NaN   NaN   NaN    NaN   NaN   0.7   NaN    NaN   NaN   NaN   NaN
1       13.0  26.0   9.5  103.0   NaN   0.8  74.0   82.0   2.1   3.7   3.8
2        NaN   NaN   NaN    NaN   NaN   NaN   NaN    NaN   NaN   NaN   NaN
3       13.0  27.0   NaN   99.0   NaN   0.8  50.0  102.0   NaN   NaN   3.4
4       12.0  24.0   NaN  108.0   NaN   1.0   NaN   79.0   NaN   NaN   3.7
...      ...   ...   ...    ...   ...   ...   ...    ...   ...   ...   ...
8708     NaN   NaN   NaN    NaN   NaN   NaN   NaN    NaN   NaN   NaN   NaN
8709    11.0  25.0   7.8  106.0   NaN   0.6  70.0   79.0   1.5   3.6   3.7
8710    12.0  22.0   8.5  104.0   NaN   0.7   NaN   85.0   1.9   4.1   4.0
8711     NaN   NaN   NaN    NaN   NaN   NaN   NaN    NaN   NaN   NaN   NaN
8712    11.0  28.0   8.7   97.0   NaN   0.4  75.0  143.0   1.6   4.3   4.2

                                                                            \
itemid  50983 51003 51006 51221 51222 51248 51249 51250  51265 51274 51277
0         NaN   NaN   NaN  32.1  10.5  28.4  32.3  85.0  197.0   NaN  14.6
1       139.0   NaN  15.0  36.1  11.5  26.2  31.8  82.0  279.0  12.7  13.0
2         NaN   NaN   NaN  34.9  11.9  29.8  34.1  87.0  197.0   NaN  13.2
3       140.0   NaN  13.0  42.0  14.1  31.2  32.3  94.0  275.0  12.5  12.4
4       142.0   NaN  19.0  25.9   8.8  29.7  32.8  90.0  252.0   NaN  17.9
...       ...   ...   ...   ...   ...   ...   ...   ...    ...   ...   ...
8708      NaN   NaN   NaN  33.5  11.2  30.7  33.6  92.0  201.0   NaN  13.7
8709    140.0   NaN  11.0  24.4   8.2  29.8  33.1  90.0  196.0   NaN  13.0
8710    134.0   NaN   5.0  28.5   9.6  28.6  33.6  85.0  185.0   NaN  13.2
8711      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN   NaN   NaN
8712    135.0   NaN   6.0  34.5  10.8  28.0  30.9  90.0  523.0  10.8  13.2

                           max                                              \
itemid 51279 51301 51464 50868 50882 50893  50902 50911 50912 50920  50931
0       3.70   8.0   0.0   NaN   NaN   NaN    NaN   NaN   0.7   NaN    NaN
1       4.38   5.3   0.0  14.0  26.0   9.5  105.0   NaN   0.8  74.0   95.0
2       4.00  14.1   NaN   NaN   NaN   NaN    NaN   NaN   NaN   NaN    NaN
3       4.40   5.6   NaN  15.0  32.0   NaN  106.0   NaN   1.1  50.0  133.0
4       2.88   7.7   NaN  14.0  28.0   NaN  111.0   NaN   1.2   NaN   85.0
...      ...   ...   ...   ...   ...   ...    ...   ...   ...   ...    ...
8708    3.66  12.7   NaN   NaN   NaN   NaN    NaN   NaN   NaN   NaN    NaN
8709    2.65   8.6   NaN  13.0  27.0   8.3  110.0   NaN   1.0  70.0  109.0
8710    3.34   7.5   NaN  12.0  22.0   8.5  104.0   NaN   0.7   NaN   85.0
8711     NaN   NaN   2.0   NaN   NaN   NaN    NaN   NaN   NaN   NaN    NaN
8712    3.82   8.4   0.0  15.0  30.0   9.0  102.0   NaN   0.6  75.0  340.0

                                                                           \
itemid 50960 50970 50971  50983 51003 51006 51221 51222 51248 51249 51250
0        NaN   NaN   NaN    NaN   NaN   NaN  43.5  14.7  28.6  33.8  88.0
1        2.1   3.7   4.0  140.0   NaN  16.0  37.3  12.3  27.4  33.0  83.0
2        NaN   NaN   NaN    NaN   NaN   NaN  34.9  11.9  29.8  34.1  87.0
3        NaN   NaN   4.1  144.0   NaN  21.0  43.6  14.4  32.6  34.0  97.0
4        NaN   NaN   4.3  147.0   NaN  20.0  28.1   9.2  30.5  33.9  91.0
...      ...   ...   ...    ...   ...   ...   ...   ...   ...   ...   ...
8708     NaN   NaN   NaN    NaN   NaN   NaN  33.5  11.2  30.7  33.6  92.0
8709     1.8   3.8   4.0  144.0   NaN  22.0  31.3  10.4  30.9  33.8  92.0
8710     1.9   4.1   4.0  134.0   NaN   5.0  28.5   9.6  28.6  33.6  85.0
8711     NaN   NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8712     1.9   5.2   4.6  139.0   NaN  10.0  35.1  11.4  29.8  32.9  91.0

                                             mean                             \
itemid  51265 51274 51277 51279 51301 51464 50868  50882 50893   50902 50911
0       318.0   NaN  15.1  5.14  11.7   0.0   NaN    NaN   NaN     NaN   NaN
1       286.0  12.7  13.3  4.48   6.3   0.0  13.5  26.00  9.50  104.00   NaN
2       197.0   NaN  13.2  4.00  14.1   NaN   NaN    NaN   NaN     NaN   NaN
3       317.0  14.2  13.0  4.51   8.7   NaN  14.0  30.00   NaN  102.00   NaN
4       263.0   NaN  18.1  3.10  10.5   NaN  13.0  26.00   NaN  109.50   NaN
...       ...   ...   ...   ...   ...   ...   ...    ...   ...     ...   ...
8708    201.0   NaN  13.7  3.66  12.7   NaN   NaN    NaN   NaN     NaN   NaN
8709    294.0   NaN  14.2  3.49  10.7   NaN  12.0  26.00  8.05  108.00   NaN
8710    185.0   NaN  13.2  3.34   7.5   NaN  12.0  22.00  8.50  104.00   NaN
8711      NaN   NaN   NaN   NaN   NaN   2.0   NaN    NaN   NaN     NaN   NaN
8712    525.0  11.6  14.1  3.91  11.5   0.0  13.0  28.75  8.90   99.75   NaN

                                                                            \
itemid     50912 50920       50931     50960 50970 50971       50983 51003
0       0.700000   NaN         NaN       NaN   NaN   NaN         NaN   NaN
1       0.800000  74.0   88.500000  2.100000   3.7   3.9  139.500000   NaN
2            NaN   NaN         NaN       NaN   NaN   NaN         NaN   NaN
3       0.933333  50.0  116.333333       NaN   NaN   3.7  142.333333   NaN
4       1.100000   NaN   82.000000       NaN   NaN   4.0  144.500000   NaN
...          ...   ...         ...       ...   ...   ...         ...   ...
8708         NaN   NaN         NaN       NaN   NaN   NaN         NaN   NaN
8709    0.800000  70.0   94.666667  1.650000   3.7   3.9  142.000000   NaN
8710    0.700000   NaN   85.000000  1.900000   4.1   4.0  134.000000   NaN
8711         NaN   NaN         NaN       NaN   NaN   NaN         NaN   NaN
8712    0.525000  75.0  223.750000  1.766667   4.6   4.4  137.000000   NaN

                                                                       \
itemid      51006      51221      51222   51248      51249      51250
0             NaN  37.125000  12.225000  28.475  32.875000  86.750000
1       15.500000  36.700000  11.900000  26.800  32.400000  82.500000
2             NaN  34.900000  11.900000  29.800  34.100000  87.000000
3       16.333333  42.633333  14.233333  31.800  33.333333  95.666667
4       19.500000  27.000000   9.000000  30.100  33.350000  90.500000
...           ...        ...        ...     ...        ...        ...
8708          NaN  33.500000  11.200000  30.700  33.600000  92.000000
8709    17.333333  28.440000   9.625000  30.425  33.450000  91.000000
8710     5.000000  28.500000   9.600000  28.600  33.600000  85.000000
8711          NaN        NaN        NaN     NaN        NaN        NaN
8712     8.000000  34.775000  11.175000  29.025  32.150000  90.500000

                                                                     \
itemid       51265      51274      51277     51279      51301 51464
0       264.000000        NaN  14.775000  4.295000   9.500000   0.0
1       282.500000  12.700000  13.150000  4.430000   5.800000   0.0
2       197.000000        NaN  13.200000  4.000000  14.100000   NaN
3       290.333333  13.350000  12.666667  4.463333   7.033333   NaN
4       257.500000        NaN  18.000000  2.990000   9.100000   NaN
...            ...        ...        ...       ...        ...   ...
8708    201.000000        NaN  13.700000  3.660000  12.700000   NaN
8709    235.500000        NaN  13.550000  3.165000   9.400000   NaN
8710    185.000000        NaN  13.200000  3.340000   7.500000   NaN
8711           NaN        NaN        NaN       NaN        NaN   2.0
8712    523.750000  11.133333  13.550000  3.847500   9.725000   0.0

       abn_percent                                                          \
itemid       50868 50882 50893     50902 50911 50912 50920     50931 50960
0              NaN   NaN   NaN       NaN   NaN   0.0   NaN       NaN   NaN
1              0.0   0.0   0.0  0.000000   0.0   0.0   0.0  0.000000   0.0
2              NaN   NaN   NaN       NaN   NaN   NaN   NaN       NaN   NaN
3              0.0   0.0   NaN  0.000000   NaN   0.0   0.0  1.000000   NaN
4              0.0   0.0   NaN  0.500000   NaN   0.5   NaN  0.000000   NaN
...            ...   ...   ...       ...   ...   ...   ...       ...   ...
8708           NaN   NaN   NaN       NaN   NaN   NaN   NaN       NaN   NaN
8709           0.0   0.0   1.0  0.333333   NaN   0.0   0.0  0.333333   0.5
8710           0.0   0.0   0.0  0.000000   NaN   0.0   NaN  0.000000   0.0
8711           NaN   NaN   NaN       NaN   NaN   NaN   NaN       NaN   NaN
8712           0.0   0.0   0.0  0.000000   NaN   0.0   0.0  1.000000   0.0

                                                                          \
itemid     50970 50971 50983 51003     51006 51221 51222     51248 51249
0            NaN   NaN   NaN   NaN       NaN  0.25  0.25  0.000000  0.00
1       0.000000   0.0   0.0   0.0  0.000000  0.00  0.50  0.500000  0.00
2            NaN   NaN   NaN   NaN       NaN  0.00  0.00  0.000000  0.00
3            NaN   0.0   0.0   NaN  0.333333  0.00  0.00  0.333333  0.00
4            NaN   0.0   0.5   NaN  0.000000  1.00  1.00  0.000000  0.00
...          ...   ...   ...   ...       ...   ...   ...       ...   ...
8708         NaN   NaN   NaN   NaN       NaN  1.00  1.00  0.000000  0.00
8709    0.000000   0.0   0.0   0.0  0.333333  1.00  1.00  0.000000  0.00
8710    0.000000   0.0   0.0   NaN  1.000000  1.00  1.00  0.000000  0.00
8711         NaN   NaN   NaN   NaN       NaN   NaN   NaN       NaN   NaN
8712    0.333333   0.0   0.0   NaN  0.000000  1.00  1.00  0.000000  0.25

                                                 below_min                    \
itemid 51250 51265 51274 51277 51279 51301 51464     50868 50882 50893 50902
0        0.0   0.0   NaN   0.0  0.25  0.25   0.0       NaN   NaN   NaN   NaN
1        0.0   0.0   0.0   0.0  0.00  0.00   0.0       0.0   0.0   0.0   0.0
2        0.0   0.0   NaN   0.0  0.00  1.00   NaN       NaN   NaN   NaN   NaN
3        0.0   0.0   0.5   0.0  0.00  0.00   NaN       0.0   0.0   NaN   0.0
4        0.0   0.0   NaN   1.0  1.00  0.00   NaN       0.0   0.0   NaN   0.0
...      ...   ...   ...   ...   ...   ...   ...       ...   ...   ...   ...
8708     0.0   0.0   NaN   0.0  1.00  1.00   NaN       NaN   NaN   NaN   NaN
8709     0.0   0.0   NaN   0.0  1.00  0.00   NaN       0.0   0.0   0.6   0.0
8710     0.0   0.0   NaN   0.0  1.00  0.00   NaN       0.0   0.0   0.0   0.0
8711     NaN   NaN   NaN   NaN   NaN   NaN   0.0       NaN   NaN   NaN   NaN
8712     0.0   1.0   0.0   0.0  1.00  0.25   0.0       0.0   0.0   0.0   0.0

                                                                          \
itemid 50911 50912 50920 50931 50960 50970 50971 50983 51003 51006 51221
0        NaN   0.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   1.9
1        0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   0.0
3        NaN   0.0  10.0   0.0   NaN   NaN   0.0   0.0   NaN   0.0   0.0
4        NaN   0.0   NaN   0.0   NaN   NaN   0.0   0.0   NaN   0.0  10.1
...      ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
8708     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   2.5
8709     NaN   0.0   0.0   0.0   0.1   0.0   0.0   0.0   0.0   0.0  11.6
8710     NaN   0.0   NaN   0.0   0.0   0.0   0.0   0.0   NaN   1.0   7.5
8711     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8712     NaN   0.0   0.0   0.0   0.0   0.0   0.0   0.0   NaN   0.0   1.5

                                                                   above_max  \
itemid 51222 51248 51249 51250 51265 51274 51277 51279 51301 51464     50868
0        0.7   0.0   0.0   0.0   0.0   NaN   0.0  0.20   0.0   0.0       NaN
1        0.5   0.8   0.0   0.0   0.0   0.0   0.0  0.00   0.0   0.0       0.0
2        0.0   0.0   0.0   0.0   0.0   NaN   0.0  0.00   0.0   NaN       NaN
3        0.0   0.0   0.0   0.0   0.0   0.0   0.0  0.00   0.0   NaN       0.0
4        3.2   0.0   0.0   0.0   0.0   NaN   0.0  1.32   0.0   NaN       0.0
...      ...   ...   ...   ...   ...   ...   ...   ...   ...   ...       ...
8708     0.8   0.0   0.0   0.0   0.0   NaN   0.0  0.54   0.0   NaN       NaN
8709     3.8   0.0   0.0   0.0   0.0   NaN   0.0  1.55   0.0   NaN       0.0
8710     2.4   0.0   0.0   0.0   0.0   NaN   0.0  0.86   0.0   NaN       0.0
8711     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   0.0       NaN
8712     1.2   0.0   0.1   0.0   0.0   0.0   0.0  0.38   0.0   0.0       0.0

                                                                           \
itemid 50882 50893 50902 50911 50912 50920  50931 50960 50970 50971 50983
0        NaN   NaN   NaN   NaN   0.0   NaN    NaN   NaN   NaN   NaN   NaN
1        0.0   0.0   0.0   0.0   0.0   0.0    0.0   0.0   0.0   0.0   0.0
2        NaN   NaN   NaN   NaN   NaN   NaN    NaN   NaN   NaN   NaN   NaN
3        0.0   NaN   0.0   NaN   0.0   0.0   33.0   NaN   NaN   0.0   0.0
4        0.0   NaN   3.0   NaN   0.1   NaN    0.0   NaN   NaN   0.0   2.0
...      ...   ...   ...   ...   ...   ...    ...   ...   ...   ...   ...
8708     NaN   NaN   NaN   NaN   NaN   NaN    NaN   NaN   NaN   NaN   NaN
8709     0.0   0.0   2.0   NaN   0.0   0.0    4.0   0.0   0.0   0.0   0.0
8710     0.0   0.0   0.0   NaN   0.0   NaN    0.0   0.0   0.0   0.0   0.0
8711     NaN   NaN   NaN   NaN   NaN   NaN    NaN   NaN   NaN   NaN   NaN
8712     0.0   0.0   0.0   NaN   0.0   0.0  240.0   0.0   0.7   0.0   0.0

                                                                          \
itemid 51003 51006 51221 51222 51248 51249 51250 51265 51274 51277 51279
0        NaN   NaN   0.0   0.0   0.0   0.0   0.0   0.0   NaN   0.0   0.0
1        0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2        NaN   NaN   0.0   0.0   0.0   0.0   0.0   0.0   NaN   0.0   0.0
3        NaN   1.0   0.0   0.0   0.6   0.0   0.0   0.0   1.7   0.0   0.0
4        NaN   0.0   0.0   0.0   0.0   0.0   0.0   0.0   NaN   2.6   0.0
...      ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
8708     NaN   NaN   0.0   0.0   0.0   0.0   0.0   0.0   NaN   0.0   0.0
8709     0.0   2.0   0.0   0.0   0.0   0.0   0.0   0.0   NaN   0.0   0.0
8710     NaN   0.0   0.0   0.0   0.0   0.0   0.0   0.0   NaN   0.0   0.0
8711     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8712     NaN   0.0   0.0   0.0   0.0   0.0   0.0  85.0   0.0   0.0   0.0

                   subject_id     hadm_id
itemid 51301 51464
0        1.7   0.0   10001180  25534937.0
1        0.0   0.0   10001663  23405714.0
2        4.1   NaN   10002266  24160398.0
3        0.0   NaN   10003731  23646008.0
4        0.0   NaN   10004955  27499576.0
...      ...   ...        ...         ...
8708     1.7   NaN   19993892  28813660.0
8709     0.0   NaN   19994588  22365458.0
8710     0.0   NaN   19995472  27047469.0
8711     NaN   2.0   19996065  28669972.0
8712     0.5   0.0   19996902  23688425.0

[8713 rows x 152 columns]

In [46]:
lab_events_impute = lab_events_impute.merge(admissions_sample, left_on = 'hadm_id', right_on = 'hadm_id')

/Users/brandonryu/opt/anaconda3/lib/python3.7/site-packages/pandas/core/reshape/merge.py:618: UserWarning: merging between different levels can give an unintended result (2 levels on the left, 1 on the right)
  warnings.warn(msg, UserWarning)

In [47]:
%%time

np.random.seed(0)

for labitem in lab_range_eg_dic:
    for ind in lab_events_impute.loc[(lab_events_impute[('mean', labitem[0])].isnull()) & (lab_events_impute['ethnicity'] == labitem[1]) & (lab_events_impute['gender'] == labitem[2])].index:
        val_max = lab_range_eg_dic[labitem][1]
        val_min = lab_range_eg_dic[labitem][0]

        val_ave = (val_max + val_min) / 2
        val_std = (val_max - val_ave) * .333

        ran_vals = np.random.normal(val_ave, val_std, 50)
        impute_min = min(ran_vals)
        impute_max = max(ran_vals)
        impute_mean = np.mean(ran_vals)
        
        val_min = lab_events_impute[('min', labitem[0])][ind]
        val_max = lab_events_impute[('max', labitem[0])][ind]
        val_mean = lab_events_impute[('mean', labitem[0])][ind]
        
        lab_events_impute[('min', labitem[0])][ind] = np.where(np.isnan(val_min), impute_min, val_min)
        lab_events_impute[('max', labitem[0])][ind] = np.where(np.isnan(val_max), impute_max, val_max)
        lab_events_impute[('mean', labitem[0])][ind] = np.where(np.isnan(val_mean), impute_mean, val_mean)
#         patient[('mean', labitem)].replace(np.nan, impute_mean)
#         patient[('abn_count', labitem)].replace(np.nan, 0)
# 5k patients
# 10 items - 2.5s
# 20 items - 6s
# 30 items - 28.6s

# 10k patients
# 40 items - 1m 34s

/Users/brandonryu/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/brandonryu/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/brandonryu/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

CPU times: user 27.6 s, sys: 733 ms, total: 28.3 s
Wall time: 33.9 s

In [48]:
for lab_itemid in lab_range_eg_dic:
    lab_events_impute[( 'above_max', lab_itemid[0])] = lab_events_impute[( 'above_max', lab_itemid[0])].replace(np.nan, 0)
    lab_events_impute[( 'below_min', lab_itemid[0])] = lab_events_impute[( 'below_min', lab_itemid[0])].replace(np.nan, 0)
    lab_events_impute[( 'abn_percent', lab_itemid[0])] = lab_events_impute[( 'abn_percent', lab_itemid[0])].replace(np.nan, 0)
#     lab_events_sampled_pivot[( 'comments', lab_itemid)] = lab_events_sampled_pivot[( 'comments', lab_itemid)].replace(np.nan, np.array(np.nan))

In [49]:
missing_vals = lab_events_impute.isnull().sum(axis = 0) 
missing_vals[missing_vals > 0].sort_values()

Series([], dtype: int64)

In [50]:
lab_events_impute_KNN = lab_events_sampled_pivot.copy()

In [51]:
lab_events_impute_KNN = lab_events_impute_KNN.merge(admissions_sample, left_on = 'hadm_id', right_on = 'hadm_id')

dummy = pd.get_dummies(lab_events_impute_KNN['ethnicity'], prefix='ethnicity')
dummy.drop('ethnicity_WHITE', axis=1, inplace=True)
lab_events_impute_KNN = lab_events_impute_KNN.drop('ethnicity', axis=1)
lab_events_impute_KNN = pd.concat([lab_events_impute_KNN, dummy], axis=1)

dummy = pd.get_dummies(lab_events_impute_KNN['insurance'], prefix='insurance')
dummy.drop('insurance_Other', axis=1, inplace=True)
lab_events_impute_KNN = lab_events_impute_KNN.drop('insurance', axis=1)
lab_events_impute_KNN = pd.concat([lab_events_impute_KNN, dummy], axis=1)


lab_events_impute_KNN['gender'] = lab_events_impute_KNN['gender'].map({'M' : 0.0, 'F' : 1.0})
lab_events_impute_KNN['gender'] = pd.to_numeric(lab_events_impute_KNN['gender'])

In [52]:
%%time

from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=math.trunc((lab_events_impute_KNN.shape[0] ** 0.5)))
lab_events_impute_KNN_imputed = imputer.fit_transform(lab_events_impute_KNN)

# 3min 8s

CPU times: user 1min 42s, sys: 18.7 s, total: 2min 1s
Wall time: 2min 15s

In [53]:
lab_events_impute_KNN_imputed = pd.DataFrame(lab_events_impute_KNN_imputed)
lab_events_impute_KNN_imputed.columns = lab_events_impute_KNN.columns

In [54]:
for lab_itemid in lab_range_eg_dic:
    lab_events_impute_KNN_imputed[( 'above_max', lab_itemid[0])] = lab_events_impute_KNN_imputed[( 'above_max', lab_itemid[0])].replace(np.nan, 0)
    lab_events_impute_KNN_imputed[( 'below_min', lab_itemid[0])] = lab_events_impute_KNN_imputed[( 'below_min', lab_itemid[0])].replace(np.nan, 0)
    lab_events_impute_KNN_imputed[( 'abn_percent', lab_itemid[0])] = lab_events_impute_KNN_imputed[( 'abn_percent', lab_itemid[0])].replace(np.nan, 0)
#     lab_events_sampled_pivot[( 'comments', lab_itemid)] = lab_events_sampled_pivot[( 'comments', lab_itemid)].replace(np.nan, np.array(np.nan))

## Standardize the Data for use in Models

In [55]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

In [56]:
labs_scaled = lab_events_impute.copy()
labs_scaled_KNN = lab_events_impute_KNN_imputed.copy()
labs_scaled_missing_data = lab_events_sampled_pivot.copy()

In [57]:
labs_scaled_missing_data = labs_scaled_missing_data.merge(admissions_sample, how='left', left_on='hadm_id', right_on='hadm_id')

/Users/brandonryu/opt/anaconda3/lib/python3.7/site-packages/pandas/core/reshape/merge.py:618: UserWarning: merging between different levels can give an unintended result (2 levels on the left, 1 on the right)
  warnings.warn(msg, UserWarning)

In [58]:
scale_cols = ~labs_scaled.columns.isin([('subject_id', ''), ('hadm_id', ''), 'subject_id', 'hadm_id', 'pos', 'ethnicity', 'gender', 'insurance', 'pneumoia', 'diabetes', 'hypertension', 'atherosclero', 'renal_failure', 'arrhythmia'])

scaler.fit(labs_scaled.loc[:, scale_cols])
labs_scaled.loc[:, scale_cols] = scaler.transform(labs_scaled.loc[:, scale_cols])

scale_cols = ~labs_scaled_KNN.columns.isin([('subject_id', ''), ('hadm_id', ''), 'subject_id', 'hadm_id', 'pos', 'gender', 'ethnicity_AMERICAN INDIAN/ALASKA NATIVE', 'ethnicity_ASIAN', 'ethnicity_BLACK/AFRICAN AMERICAN', 'ethnicity_HISPANIC/LATINO', 'ethnicity_OTHER', 'ethnicity_UNKNOWN', 'insurance_Medicare', 'insurance_Medicaid', 'pneumoia', 'diabetes', 'hypertension', 'atherosclero', 'renal_failure', 'arrhythmia'])

scaler.fit(labs_scaled_KNN.loc[:, scale_cols])
labs_scaled_KNN.loc[:, scale_cols] = scaler.transform(labs_scaled_KNN.loc[:, scale_cols])

scale_cols = ~labs_scaled_missing_data.columns.isin([('subject_id', ''), ('hadm_id', ''), 'subject_id', 'hadm_id', 'pos', 'ethnicity', 'gender', 'insurance', 'pneumoia', 'diabetes', 'hypertension', 'atherosclero', 'renal_failure', 'arrhythmia'])

scaler.fit(labs_scaled_missing_data.loc[:, scale_cols])
labs_scaled_missing_data.loc[:, scale_cols] = scaler.transform(labs_scaled_missing_data.loc[:, scale_cols])

## Save Lab Results for Models

In [59]:
# Save non-imputed file as well for forest models

pos_final_test = labs_scaled.copy()
pos_KNN_final_test = labs_scaled_KNN.copy()
pos_final_missing_data_test = labs_scaled_missing_data.copy()

In [60]:
dummy = pd.get_dummies(pos_final_test['ethnicity'], prefix='ethnicity')
dummy.drop('ethnicity_WHITE', axis=1, inplace=True)
pos_final_test = pos_final_test.drop('ethnicity', axis=1)
pos_final_test = pd.concat([pos_final_test, dummy], axis=1)

pos_final_test['gender'] = pos_final_test['gender'].map({'M' : 0.0, 'F' : 1.0})
pos_final_test['gender'] = pd.to_numeric(pos_final_test['gender'])

dummy = pd.get_dummies(pos_final_test['insurance'], prefix='insurance')
dummy.drop('insurance_Other', axis=1, inplace=True)
pos_final_test = pos_final_test.drop('insurance', axis=1)
pos_final_test = pd.concat([pos_final_test, dummy], axis=1)



dummy = pd.get_dummies(pos_final_missing_data_test['ethnicity'], prefix='ethnicity')
dummy.drop('ethnicity_WHITE', axis=1, inplace=True)
pos_final_missing_data_test = pos_final_missing_data_test.drop('ethnicity', axis=1)
pos_final_missing_data_test = pd.concat([pos_final_missing_data_test, dummy], axis=1)

pos_final_missing_data_test['gender'] = pos_final_missing_data_test['gender'].map({'M' : 0.0, 'F' : 1.0})
pos_final_missing_data_test['gender'] = pd.to_numeric(pos_final_missing_data_test['gender'])

dummy = pd.get_dummies(pos_final_missing_data_test['insurance'], prefix='insurance')
dummy.drop('insurance_Other', axis=1, inplace=True)
pos_final_missing_data_test = pos_final_missing_data_test.drop('insurance', axis=1)
pos_final_missing_data_test = pd.concat([pos_final_missing_data_test, dummy], axis=1)

In [61]:
labitem_names = d_labitems.loc[d_labitems['itemid'].isin(itemid_sub_sample)].copy()
labitem_names['Short Name'] = labitem_names['label'] + ' - ' + labitem_names['fluid'] + ' - ' + labitem_names['category']

labitem_names = labitem_names[['itemid', 'Short Name']]
labitem_names.set_index('itemid', inplace = True)
labitem_dict = labitem_names.to_dict()['Short Name']

In [62]:
def rename_lab_col(table_name):
    num_cols = ~table_name.columns.isin([('subject_id', ''), ('hadm_id', ''), 'subject_id', 'hadm_id', 'pos', 'gender', 'ethnicity_AMERICAN INDIAN/ALASKA NATIVE', 'ethnicity_ASIAN', 'ethnicity_BLACK/AFRICAN AMERICAN', 'ethnicity_HISPANIC/LATINO', 'ethnicity_OTHER', 'ethnicity_UNKNOWN', 'age','ed_length', 'insurance_Medicare','insurance_Medicaid', 'pneumoia', 'diabetes', 'hypertension', 'atherosclero', 'renal_failure', 'arrhythmia'])

    col_names = []
    col_names = list(table_name.loc[:, num_cols].columns)

    x, y = zip(*col_names)
    col_names = list(zip(x, list(map(labitem_dict.get, y))))

    rename_dict = dict(zip(table_name.loc[:, num_cols].columns, col_names))

    table_name.rename(columns = rename_dict, inplace = True)

In [63]:
rename_lab_col(pos_final_test)
rename_lab_col(pos_KNN_final_test)
rename_lab_col(pos_final_missing_data_test)

In [64]:
pos_final_test.to_csv('../data/pos_final_test_female.csv.gz', compression="gzip")
pos_KNN_final_test.to_csv('../data/pos_KNN_final_test_female.csv.gz', compression="gzip")
pos_final_missing_data_test.to_csv('../data/pos_final_missing_data_test_female.csv.gz', compression="gzip")

## Check for Multicollinearity

In [94]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant

In [98]:
%%time

num_cols = ~pos_final_test.columns.isin([('subject_id', ''), ('hadm_id', ''), 'subject_id', 'hadm_id', 'pos'])

labs_scaled_features = pos_final_test.loc[:, num_cols]
add_constant(labs_scaled_features)

high_vif = pd.Series([variance_inflation_factor(labs_scaled_features.values, i) 
               for i in range(labs_scaled_features.shape[1])], 
              index=labs_scaled_features.columns).sort_values(ascending = False)

high_vif.head(20)

/opt/anaconda3/lib/python3.7/site-packages/statsmodels/stats/outliers_influence.py:193: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)
/opt/anaconda3/lib/python3.7/site-packages/statsmodels/regression/linear_model.py:1687: RuntimeWarning: invalid value encountered in double_scalars
  return 1 - self.ssr/self.uncentered_tss

CPU times: user 1min 51s, sys: 14.9 s, total: 2min 6s
Wall time: 21.6 s

(max, Bilirubin - Urine - Hematology)           inf
(above_max, Bilirubin - Urine - Hematology)     inf
(max, Troponin T - Blood - Chemistry)           1.140241e+06
(above_max, Troponin T - Blood - Chemistry)     1.140008e+06
(mean, MCH - Blood - Hematology)                8.368172e+02
(mean, Red Blood Cells - Blood - Hematology)    6.956371e+02
(mean, Hemoglobin - Blood - Hematology)         6.359405e+02
(mean, MCV - Blood - Hematology)                5.280069e+02
(max, Glucose - Blood - Chemistry)              4.108985e+02
(above_max, Glucose - Blood - Chemistry)        3.931604e+02
(mean, Hematocrit - Blood - Hematology)         3.356468e+02
(max, PT - Blood - Hematology)                  3.316380e+02
(above_max, PT - Blood - Hematology)            3.145708e+02
(min, Red Blood Cells - Blood - Hematology)     3.049757e+02
(min, Hemoglobin - Blood - Hematology)          2.912883e+02
(max, Magnesium - Blood - Chemistry)            2.546939e+02
(mean, Troponin T - Blood - Chemistry)          2.134877e+02
(mean, MCHC - Blood - Hematology)               2.111610e+02
(above_max, Magnesium - Blood - Chemistry)      2.102475e+02
(min, Hematocrit - Blood - Hematology)          2.063229e+02
dtype: float64

In [129]:
labs_scaled_features_limited = labs_scaled_features.copy()

labs_scaled_features_limited.drop([('max', 'Bilirubin - Urine - Hematology'),
                                  ('max', 'Troponin T - Blood - Chemistry'),
                                  ('mean', 'MCH - Blood - Hematology'),
                                  ('mean', 'Red Blood Cells - Blood - Hematology'),
                                  ('max', 'Glucose - Blood - Chemistry'),
                                  ('mean', 'Hemoglobin - Blood - Hematology'),
                                  ('max', 'PT - Blood - Hematology'),
                                  ('mean', 'MCV - Blood - Hematology'),
                                  ('max', 'Magnesium - Blood - Chemistry'),
                                  ('mean', 'Troponin T - Blood - Chemistry'),
                                  ('mean', 'RDW - Blood - Hematology'),
                                  ('max', 'Creatine Kinase, MB Isoenzyme - Blood - Chemistry'),
                                  ('min', 'Hemoglobin - Blood - Hematology'),
                                  ('max', 'Creatinine - Blood - Chemistry'),
                                  ('mean', 'Bilirubin - Urine - Hematology')], axis = 1, inplace = True)

In [130]:
%%time

high_vif = pd.Series([variance_inflation_factor(labs_scaled_features_limited.values, i) 
               for i in range(labs_scaled_features_limited.shape[1])], 
              index=labs_scaled_features_limited.columns).sort_values(ascending = False)

high_vif.head(20)

CPU times: user 1min 22s, sys: 9.29 s, total: 1min 31s
Wall time: 15.5 s

(mean, MCHC - Blood - Hematology)                            101.086613
(min, Hematocrit - Blood - Hematology)                       97.359560
(max, MCH - Blood - Hematology)                              92.987298
(mean, Creatinine - Blood - Chemistry)                       91.615011
(mean, Platelet Count - Blood - Hematology)                  85.867060
(mean, Urea Nitrogen - Blood - Chemistry)                    85.107944
(mean, Estimated GFR (MDRD equation) - Blood - Chemistry)    77.724248
(max, White Blood Cells - Blood - Hematology)                77.414145
(min, Red Blood Cells - Blood - Hematology)                  76.908786
(mean, Creatine Kinase, MB Isoenzyme - Blood - Chemistry)    74.644317
(mean, Hematocrit - Blood - Hematology)                      71.687740
(below_min, Hematocrit - Blood - Hematology)                 71.594614
(max, Urea Nitrogen - Blood - Chemistry)                     70.910871
(min, MCH - Blood - Hematology)                              66.797571
(min, MCV - Blood - Hematology)                              65.425438
(below_min, Hemoglobin - Blood - Hematology)                 59.194853
(max, Red Blood Cells - Blood - Hematology)                  59.096072
(above_max, White Blood Cells - Blood - Hematology)          55.993667
(below_min, Red Blood Cells - Blood - Hematology)            53.638451
(max, Hemoglobin - Blood - Hematology)                       51.636352
dtype: float64